@charset"utf-8";

/* base */
html{overflow-y:scroll; overflow-x:auto;}
body{font-size: 16px; color: #333; font-family:Sandoll GtNeoCond,"Roboto Condensed","Noto Sans KR","Malgun Gothic","맑은 고딕",Dotum,"돋움",sans-serif;}
a{text-decoration:none;word-break: break-all;color: #333;}
img{width: 100%;}
input, select{width: 100%;}
select{height:22px; vertical-align:middle; border:1px solid #e5e5e5; font-size:15px; color:#333;}
input[type=text],
input[type=password],
input[type=search],
input[type=submit]{height:48px; line-height:46px; padding:0 15px; font-size:15px; border:1px solid #e5e5e5; color:#333; box-sizing:border-box;border-radius: 4px;}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
textarea::placeholder{color:#e5e5e5;}
textarea,button{font-size:15px; color:#333;}
textarea{display:block; resize:none; width:100%; height:150px; border:1px solid #e5e5e5; padding:13px 15px; box-sizing:border-box;}
input:focus,
textarea:focus{outline:none;}
hr{display:none;}
legend,caption{width:1px; height:1px; padding:0; margin-top:-1px; font-size:0; line-height:0; text-indent:-999px; overflow:hidden;}
button,label{cursor:pointer;}
img,th{vertical-align:middle;}
td{vertical-align:baseline;}
span,em,i,strong,sup{font-size:inherit; font-family:inherit; color:inherit; line-height:inherit; vertical-align:baseline; font-weight:normal;}
sup{position:relative; top:-5px;}
input[type=checkbox],
input[type=radio] {-o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin:0;}
*{box-sizing:border-box;}
button{border: 0;outline: 0;background: none;padding: 0; margin: 0;}
img{width: 100%;}

html {
  -webkit-tap-highlight-color: transparent;
}

/* 텍스트 드래그 컬러 */
::selection{background-color: #DBFC00; color: #000;}

/* padding & margin */
.mt0{margin-top: 0px!important;}
.mt6{margin-top: 6px;}
.mt12{margin-top: 12px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}

.align-r{text-align: right;}
.align-l{text-align: left;}
.align-c{text-align: center;}

h1,
h2,
h3,
h4,
h5{font-weight: bold;margin: 10px 0;}


/* layout */
body{background-color: #000;}
.wrap {width: 100%;}

/* header */
#header {position:fixed; top:0; left:0; right:0; z-index:1000; background-color: #000;}
#header .header-inner {position: relative;display:flex; justify-content: space-between; width:100%; margin:0 auto; padding:20px 0}
#header .logo {margin:0;margin-left: 21px;}
#header .logo a {display:inline-block; width:127px; height: 18px;}

#header .all-menu{margin-right: 25px; width: 21px; height: 21px; background: url(../images/common/menu.png) no-repeat 0 50%; background-size: contain; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
#header .all-menu.on{background: url(../images/common/menu_on.png) no-repeat 0 0; background-size: contain; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;}

.gnb {padding-bottom: 40px;}
.gnb .gnb-list {}
.gnb .gnb-list > li {margin-top:2px;}
.gnb .gnb-list > li:first-child {margin-top:0;}
.gnb .gnb-list > li > a {position: relative; display: block; padding-top: 10px; padding-bottom: 10px; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:30px; line-height:40px; color: #fff; font-weight: bold; text-align: center;}
/* .gnb .gnb-list > li > a:after {content: ""; position: absolute; right: 2px; top: 36px; width: 19px;;height: 11px;background: url(../images/common/ico_down.png) no-repeat 0 0; background-size: cover; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;} */
.gnb .gnb-list > li > a.nm:after {display: none;}
.gnb .gnb-list > li > a.active {border-bottom: none}
.gnb .gnb-list > li > a.active:after {transform: rotate( 180deg )}

.gnb .gnb-list .sub-list {display: none; padding-bottom: 20px;}
.gnb .gnb-list .active+.sub-list {margin-top: 21px;}
.gnb .gnb-list .sub-list a{margin-top: 4px; display: block; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 30px; color: #555; text-align: center;}
.gnb .gnb-list .sub-list li+li{margin-top: 22px;}

#header.main-tool-bar.active{transition: ease 0.4s; background: #000;}
#header.main-tool-bar.active .sub-list {}
#header.main-tool-bar {transition: ease 0.4s;}
#header.main-tool-bar-scrolled {background: #000;}

.gnb+.lang-chioce{position: fixed; bottom:0; left: 0; padding-top: 20px; padding-bottom: 40px;background: #000; width: 100%; text-align: center;}
.gnb+.lang-chioce ul{overflow: hidden; margin-left: 20px;}
.gnb+.lang-chioce ul li {position: relative;float: left;}
.gnb+.lang-chioce a {position: relative; margin-left: 10px; margin-right: 10px; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 20px;color: #919191;}
.gnb+.lang-chioce a.active {color: #fff; opacity: 1;}
.gnb+.lang-chioce a:first-child:after {overflow: hidden; content: " | ";position: absolute; right: -14px; top: 8px; height: 12px; color: #919191;}

/* footer */
.footer-inner {position: relative; padding: 40px 0; width:100%; max-width:360px; margin:0 auto;text-align: center;}
.footer-inner .logo {width: 210px; height: 40px;margin: 0 auto;}
.footer-inner .footer-conts {margin-top: 21px;}
.footer-inner .footer-conts .custom-select {margin-top: 30px; }
.footer-inner .footer-conts .select-items {background-color: #000;}
/* .footer-inner .footer-conts .footer-info {} */
.footer-inner .footer-conts .footer-info p {font-size: 14px;color: #919191;}
.footer-inner .footer-conts .footer-info p+p {margin-top: 18px;}
.footer-inner .footer-conts .footer-info p > span {display:inline-block;position: relative;top:-1px; margin:0 2px;width:1px;height:11px;background-color: #444;vertical-align: middle;font-size:0;}
.footer-inner .footer-conts .footer-info copy {display: block; margin-top: 29px; font-size: 14px;color: #555;}
.sns-link ul{display: flex; justify-content: center; margin-top: 43px;}
.sns-link ul li {margin-left: 20px;}
.sns-link ul li:first-child {margin-left:0;}
.sns-link a{display: inline-block;width: 40px; height: 40px;}

/* contents */
.inner {padding-top: 90px; position: relative; margin: 0 auto;}
/* .inner {max-width: 360px;} */
.inner.no-padding {padding-top: 0;}
/* .inner.type2 {padding-top: 136px;} */
section{position: relative;}

.motion-tit{margin-bottom: 13px; padding: 0 20px; overflow: hidden; opacity: 0; animation: fadeIn 1.6s forwards; text-transform: uppercase;}
.motion-tit > span{display: block; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 56px; line-height: 80px; color: #fff; transform-origin: 50% 50%; transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5); animation:skewUp 0.8s forwards; text-transform: uppercase;}
.motion-tit ~ .normal-tab-wrap {margin-top: -6px;}
.overflow-h{overflow: hidden;}
.normal-tab-wrap .normal-tab{position: relative; overflow: hidden; overflow-x: auto; -ms-overflow-style: none; opacity: 0; animation: fadeIn 0.2s ease-in-out forwards; animation-delay: 0.8s;}
.normal-tab-wrap .normal-tab::-webkit-scrollbar{display:none;}
.normal-tab-wrap .normal-tab ul{display: flex; flex-direction: row; box-sizing: border-box; min-width: 100%; padding: 0 20px; float: left;}
.normal-tab-wrap .normal-tab ul li{flex: 1 1 auto; text-align: center;}
.normal-tab-wrap .normal-tab ul li + li{margin-left: 24px;}
.normal-tab-wrap .normal-tab ul li a{position: relative; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 16px; line-height: 25px; color: #fff; white-space: nowrap; display: block;}
.normal-tab-wrap .normal-tab ul li a.active:before {opacity: 1;color: #ffffff;width: 100%;position: absolute;bottom: 0;display: block;height: 2px;content: "";background-color: #fff;}
.normal-tab-wrap .normal-tab ul li a:before,
.normal-tab-wrap .normal-tab ul li a:after {position: absolute;-webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
.normal-tab-wrap .normal-tab ul li a:before {bottom: -2px;display: block;height: 2px;width: 0%;content: "";background-color: #fff;}
.normal-tab-wrap .normal-tab ul li a:after {left: 0;top: 0;padding: 0.5em 0;position: absolute;content: attr(data-hover);color: #ffffff;white-space: nowrap;max-width: 0%;overflow: hidden;}
.normal-tab-wrap .normal-tab ul li a:hover:before {opacity: 1;width: 100%;}
.normal-tab-wrap .normal-tab ul li a:hover:after {max-width: 100%;}

/* form */
.check-type1 label {position: relative;padding-left: 30px;}
.check-type1 label span {vertical-align: middle;white-space: nowrap;display: inline-block;padding-top:3px;}
.check-type1 label input[type=checkbox]:checked{background-position: 0 100%;}
.check-type1 label input[type=checkbox] {position: absolute;left: 0;width: 20px;height: 20px;background: url(../images/common/check.png) no-repeat 0 0;}
.radio-type1 label span {/* vertical-align: middle; */white-space: nowrap;display: block;padding-top:3px;}
.radio-type1 label{position: relative;padding-left: 30px;}
.radio-type1 label input[type=radio] {content: "";position: absolute;left: 0;top: 0;width: 20px;height: 20px;margin-right: 10px;background: url(../images/common/radio.png) no-repeat;}
.radio-type1 label {display: block;}
.radio-type1 label input[type=radio]:checked {background-position: 0 100%;}
.ip-wrap{overflow: hidden;}
.ip-wrap .radio-type1 {float: left;margin-right: 30px;padding-top: 15px;}
.ip-wrap strong {float: left;display: block;font-weight: bold;line-height: 48px;margin-right: 30px;}

/* table */
.basic-table, .basic-table th, .basic-table td {padding:4px 2px;border: 1px solid darkgray;width: 100%;border-collapse: collapse;table-layout: fixed;font-size: 1em;background-color: #fff;vertical-align: middle;}
.basic-table td.etc {font-size: .1em;}
.basic-table td.etc{font-size: .7em;}
.basic-table th{background-color: ivory;}
.basic-list{padding: 0 20px}
.basic-list-cp{margin: 10px auto;margin-bottom:40px;}
.basic-table{margin: 10px auto;}
.table-date{text-align: right;}
/* .basic-table-wrap{} */

.notice-table {width: 100%;}
.notice-table, .notice-table th, .notice-table td {padding:14px 8px;border-collapse: collapse;table-layout: fixed;font-size: 14px;background-color: #fff;text-align: center;}
.notice-table td,
.notice-table th {border-top: 1px solid darkgray;vertical-align: middle;line-height: 1.2;}
.notice-table td.etc{font-size: .7em;}
.notice-table td.notice-title{text-align: left;}
.notice-table th{background-color: ivory;}
.notice-list{padding: 0 20px}
.notice-list-cp{margin: 10px auto;margin-bottom:40px;}
.notice-table{margin: 10px auto;}
.table-date{text-align: right;}
/* .notice-table-wrap{} */

.col-wid10 {width: 10%;}
.col-wid20 {width: 20%;}
.col-wid15 {width: 15%;}
.col-wid55 {width: 55%;}
.col-wid60 {width: 60%;}
.notice-top{width: 100%;}
/* .notice-top .notice-top-num{} */
/* .notice-top .notice-top-sch{} */

.pagination-wrap{overflow: hidden;text-align: center;margin-top:46px;margin-bottom:81px;font-family:'Roboto Condensed', 'Poppins', sans-serif;}
.pagination {display: inline-block;}
.pagination a {color: #fff;float: left;padding: 0 10px;text-decoration: none; font-size: 28px; opacity: 0.3;}
.pagination a:nth-child(n+2){margin-left: 14px;}
.pagination a.active {color: white; opacity: 1;}
.pagination.small-type {border: 1px solid #ccc!important;}
.pagination.small-type li {display: inline;}
.pagination.small-type li a{color: black;float: left;padding: 8px 16px;text-decoration: none;}
.pagination.small-type li a.border-right{border-right: 1px solid #ccc!important;}

.notice-view-top {padding-bottom: 20px; border-bottom: 1px solid #ccc!important;}
.notice-view-top p {margin-top: 20px; margin-bottom: 10px; font-size: 16px; font-weight: bold; line-height: 1.2;}
.notice-view-info {font-size: 14px;}
/* .notice-view-info span {} */
.notice-view-info span em{font-weight: bold;}
.notice-view-ct {margin-top: 20px; margin-bottom: 20px; padding-top: 10px; padding-bottom: 30px; line-height: 1.6; border-bottom: 1px solid #ccc!important;}
.notice-view-link {margin-top: 20px; margin-bottom: 20px;}
.notice-view-link dl {display: table;}
.notice-view-link dl dt {display: table-cell; padding-top: 10px; padding-bottom: 10px; width: 20%; font-weight: bold; vertical-align: middle;}
.notice-view-link dl dd {display: table-cell; padding-top: 10px; padding-bottom: 10px; vertical-align: middle; line-height: 1.2;}

/* button */
.btn-wrap {margin-top: 20px; margin-bottom: 20px;}
.btns{display: inline-block;border-radius: 4px;border: 1px solid #e5e5e5;background: #fff;box-sizing: border-box;text-align: center;height: 42px;width: 100%;}
a.btns{padding: 12px 6px 12px;/* padding-top: 14px; */vertical-align: top;height: auto;color: #333;}
.btns+.btns{margin-top:10px}

/** Custom Select **/
/* The container must be positioned relative: */
.custom-select {position: relative;}
.custom-select select {display: none; /*hide original SELECT element: */}
.select-selected {background-color: transparent;border: 1px solid #535353 !important;}

/* Style the arrow inside the select element: */
.select-selected:after {position: absolute;content: "";top: 14px;right: 20px;width: 24px; height: 20px; background: url(../images/common/select_down.png) no-repeat 0 0; background-size: contain; transition: all ease .5s;}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {top: 16px; transform: rotate( 180deg );}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {font-size: 14px;color: #fff;padding: 17px 24px;border: 1px solid transparent;border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;cursor: pointer;border-radius: 25px;}
.select-selected.select-arrow-active{border-radius: 25px 25px 0 0; border-bottom-color: transparent !important;}

/* Style items (options): */
.select-items {position: absolute;background-color: transparent;border-left: 1px solid #535353 !important;border-right: 1px solid #535353 !important;border-bottom: 1px solid #535353 !important;top: 100%;left: 0;right: 0;z-index: 99;}

/* Hide the items when the select box is closed: */
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {background-color: rgba(0, 0, 0, 0.1);}

/* IE */
select::-ms-expand {display: none;}
.select {-o-appearance: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.select {position: relative;top: -2px;width: 150px;height: 48px;background: url('../images/common/down_arrow.png') calc(100% - 10px) center no-repeat;background-size: 10px;padding: 5px 30px 5px 10px;border-radius: 4px;outline: 0 none;}
.select option {color: #000;padding: 3px 0;}

/* Popup Layer */
.pop-layer .pop-container {padding: 20px 25px;}
.pop-layer p.ctxt {color: #666;line-height: 25px;}
.pop-layer .btn-r {width: 100%;margin: 10px 0 20px;padding-top: 10px;border-top: 1px solid #DDD;text-align: right;}
.pop-layer {display: none;position: absolute;top: 50%;left: 50%;width: 100%;height: auto;background-color: #fff;border: 1px solid #ddd;z-index: 10;box-shadow: 5px 5px 10px grey;}
.dim-layer {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;}
.dim-layer .dimBg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity=50);}
.dim-layer .pop-layer {display: block;}
a.btn-layerClose {display: inline-block;height: 25px;padding: 0 14px 0;border: 1px solid #ddd;background-color: #ddd;font-size: 13px;color: #000;line-height: 25px;}

#allMenu.pop-layer{height: calc(100% - 58px); background-color: #000; border:none; overflow-y: auto;}
#allMenu .pop-container{padding: 64px 20px 40px; }
/* List */
.list-ul-1{margin-left: 20px;list-style: disc;}
.list-ul-1 li+li{margin-top:4px;}
.list-ul-2 li{position: relative;padding-left: 20px;}
.list-ul-2 li::after{content: "-";position: absolute;left: 2px;top: 0;}
.list-ul-2 li+li{margin-top:4px;}
.list-ol-1{margin-left: 20px;list-style: decimal;}
.list-ol-1 li+li{margin-top:4px;}
.title-pages-list{line-height: 1.2;}

/* Icon */
.icon {background: url('https://i.picsum.photos/id/738/200/200.jpg?hmac=s1pXxIw4TdDLyUY2RRVeDyhLPUF2xW3AFjdzjVsE6zc');background-size: cover;height: 16px;width: 16px;display: inline-block;/* Other styles here */}

/* Tab */
.tab-container {position: relative;width:100%;margin:auto;}
.tab-container .tab-content {width:100%;padding: 30px 0;line-height: 1.4;}

.tabs ul {width: 100%;display:table;table-layout: fixed;padding:0}
.tabs li {display: table-cell;background: #f6f7f9;border-top: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #222;text-align: center;vertical-align: middle;}
.tabs li.active {background: #fff;border-top: 1px solid #222;border-left: 1px solid #222;border-right: 1px solid #222;border-bottom: 1px solid transparent;}
.tabs li.active a {color: #000;font-weight: bold;}
.tabs li a {padding: 20px;font-size: 14px;color: #222;display: block;height: 100%;/* vertical-align: middle; */text-decoration: none;color: #000}
.news-list-wrap{padding: 0 20px; opacity: 0; animation: fadeIn 0.4s ease-in-out forwards; animation-delay: 1s;}
.news-list-wrap .normal-list ul{display: flex; flex-direction: column;}
.news-list-wrap .normal-list ul li{margin-bottom: 42px; flex: 0 0 auto; width: 100%; box-sizing: border-box;}
.news-list-wrap .normal-list ul li .anchor-box{position: relative;}
.news-list-wrap .normal-list ul li .anchor-box a{position: absolute; width: 100%; height: 100%;}
.news-list-wrap .normal-list ul li .news-img{margin-bottom: 32px;}
.news-list-wrap .normal-list ul li .news-img img{display: block; width: 100%;}
.news-list-wrap .normal-list ul li .news-title{font-size: 20px; line-height: 30px; color: #FFFFFF; font-weight: 600; letter-spacing: -1px; word-break:keep-all; word-wrap: break-word;text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical}
.news-list-wrap .normal-list ul li .news-title span{font-weight: 600; word-break:keep-all; word-wrap: break-word;}
.news-list-wrap .normal-list ul li .news-sub{display: block; font-size: 14px; line-height: 24px; color: #919191; margin: 13px 0 21px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; word-break:keep-all; word-wrap: break-word; letter-spacing: -1px;}
.news-list-wrap .normal-list ul li .view-more{font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:12px; color: #DBFC00; }
.more-btn-box{text-align: center; margin-bottom: 150px;}
.more-btn-box button{font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:50px; color: #555; background-color: transparent;}
/* search-wrap */
.blind {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.search-wrap{display: flex; margin-bottom: 40px; justify-content: space-between; padding: 21px 20px 0; opacity: 0; animation: fadeIn 0.2s ease-in-out forwards; animation-delay: 0.8s;}
.search-wrap .search-box{display: flex; justify-content: center; align-items: center; width: 100%;}
.search-wrap .search-box .unit-box{border-bottom: 2px solid #fff; position: relative; width: 22%; min-width: 80px;}
.search-wrap .search-box .unit-box.full{width: 100%;}
.search-wrap .search-box .unit-box+.unit-box{margin-left: 20px; width: 100%;}
.search-wrap .search-box .unit-box select{height: 38px;padding: 7px 0 7px; top: 0; border: 0; width: 100%; color: #fff; font-weight: 600; font-size: 14px; background-size: auto; background-image: url(../images/common/down_arrow_select.svg); background-position: right center;}
.search-wrap .search-box .unit-box [type="search"]{height: 38px;padding: 9px 24px 11px 0; border-radius: 0; border: 0; background-color: transparent; width: 100%; color: #fff; font-size: 14px; letter-spacing: -1px;line-height: normal;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.search-wrap .search-box .unit-box [type="search"]::placeholder{font-weight: 100; color: #555;}
.search-wrap .search-box .unit-box .search-btn{position: absolute; right: 0; top: 5px; border: 0; width: 24px; height: 24px; background-image: url(../images/common/search_btn.svg); background-color: transparent; background-repeat: no-repeat; background-position: center;}
.search-wrap .search-box .unit-box [type="search"]::-ms-clear,
.search-wrap .search-box .unit-box [type="search"]::-ms-reveal{display: none;}
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-decoration,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-cancel-button,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-results-button,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-results-decoration {display: none;}
.news-contents-wrap{margin-top: 35px; padding: 0 20px;}
.news-contents-wrap ~ .contents-pagination {margin-right: 20px;margin-left: 20px}
.news-title-wrap{position: relative; padding: 24px 0 26px; border-top: 1px solid #444444; border-bottom: 1px solid #444444; opacity: 0; animation: fadeIn 0.2s ease-in-out forwards; animation-delay: 0.8s;}
.news-title-wrap h4{overflow: hidden;display: -webkit-box;font-size: 20px; font-weight: 500; color: #fff; margin: 0; line-height: 1.6;-webkit-line-clamp: 4;-webkit-box-orient: vertical;text-overflow: ellipsis;}
.news-title-wrap p.date{margin-top: 8px; color: #919191; font-size: 12px;}
.ver-recruit .news-title-wrap {padding: 25px 0 26px;}
.ver-recruit .news-title-wrap h4{font-size: 20px; line-height: 35px; letter-spacing: 0; word-break: keep-all;  word-wrap: break-word;line-height:1.2222}
.ver-recruit .news-title-wrap h4 span{ word-break: keep-all;  word-wrap: break-word;}
.ver-recruit .news-title-wrap .experience{ display:inline-block;font-size: 12px; color: #DBFC00; font-weight: bold;vertical-align: middle;margin-top:10px;;}
.ver-recruit .news-title-wrap p.date{margin-top:0;display:inline-block;vertical-align: middle;;margin-top:10px;;}
.ver-recruit .inner-news-title-wrap {padding-left: 56px;}
.ver-recruit .news-title-wrap .notice {color:#000;font-size:0.625rem;background-color: #dbfc00;width:40px;height:40px;border-radius:100%;font-weight:500;text-align:center;line-height:40px;position:absolute;top:50%;left:0;z-index:1;transform: translateY(-50%)}

.news-contents-box{padding: 24px 0 47px; border-bottom: 1px solid #444444; font-size: 14px; color: #fff; letter-spacing: -1px; line-height: 24px; opacity: 0; animation: fadeIn 0.4s ease-in-out forwards; animation-delay: 1s;}
.news-contents-box a {color: #fff;}
.contents-img{margin-bottom: 36px;}
.contents-img img{width: 100%;}
.contents-pagination{margin: 40px 0 80px; padding: 0;}
.contents-pagination.right {width: calc(50% - 50px); margin-left: auto;}
.contents-pagination ul{display: flex; justify-content: space-between;}
.contents-pagination ul a{display: block; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 24px; color: #555;}
.contents-pagination ul .prev{width: 24px; height: 24px; background: url(../images/common/news_arrow_prev.svg) no-repeat center 100%;}
.contents-pagination ul .next{width: 24px; height: 24px; background: url(../images/common/news_arrow_next.svg) no-repeat center 100%;}

.contents-pagination.type2{margin-top: 50px; text-align: center;}
.contents-pagination.type2 a {
    display: block;
    font-family:'Roboto Condensed', 'Poppins', sans-serif;
    font-size: 24px;
    color: #555;
}

.information{margin-top: 37px; padding: 0 20px; letter-spacing: -1px; opacity: 0; animation: fadeIn 0.2s ease-in-out forwards; animation-delay: 0.8s;}
.information+.information{margin-top: 44px;}
.information dl{display: table;}
.information dl:nth-child(n+2){margin-top: 15px;}
.information dt,
.information dd{display: table-cell;}
.information dt{font-size: 16px; font-family:'Roboto Condensed', 'Poppins', sans-serif; color: #fff; width: 25%; min-width: 82px;  letter-spacing: 0px;}
.information dt strong{font-weight: bold;}
.information dd{font-size: 14px; color: #919191; line-height: 24px;}
.information dd a{color: #919191;}
.information dd li:nth-child(n+2){margin-top: 2px;}
.information .tel,
.information .email{font-family:'Roboto Condensed', 'Poppins', sans-serif;}
.maps-wrap{width: 100%; height:600px; background-color: gray; margin-top: 32px; opacity: 0; animation: fadeIn 0.2s ease-in-out forwards; animation-delay: 0.8s;}

.list-type-table{padding:0 20px; opacity: 0; animation: fadeIn 0.4s ease-in-out forwards; animation-delay: 1s;}
.list-type-table table{table-layout: fixed;    width: 100%; vertical-align: middle;}
.list-type-table table td{display: flex; position: relative; padding: 14px 0 15px;}
.list-type-table table td a{position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.list-type-table table tr td{border-top: 1px solid #444444;}
.list-type-table table tr:last-child td{border-top: 1px solid #444444; border-bottom: 1px solid #444444;}
.list-type-table table .num{font-size: 12px; color: #919191; text-align: center; font-family:'Roboto Condensed', 'Poppins', sans-serif; margin-right: 14px; line-height: 24px;}

.list-type-table table .title{font-size: 16px; color: #fff; display: inline-block; line-height: 24px; font-weight: 600;overflow: hidden;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  }
.list-type-table table .title+li{margin-top: 5px;}
.list-type-table table .experience{font-size: 12px; color: #DBFC00; margin-right: 20px; font-weight: 600;}
.list-type-table table .date{font-size: 12px; color: #919191; font-family:'Roboto Condensed', 'Poppins', sans-serif;}
.list-type-table.type2 table td {display:table-cell}
.list-type-table.type2 table td div {padding-left: 56px;}
.list-type-table.type2 table .notice {color:#000;font-size:0.625rem;background-color: #dbfc00;width:40px;height:40px;border-radius:100%;font-weight:500;text-align:center;line-height:40px;position:absolute;top:50%;left:0;z-index:1;transform: translateY(-50%);}
.list-type-table.type2 table .num{width:40px;height:40px;text-align:center;line-height:40px;position:absolute;top:24px;left:0;z-index:1;position:absolute;top:50%;left:0;z-index:1;transform: translateY(-50%);}
.list-type-table.type2 table td {padding:24px 0 26px}
.list-type-table.type2 table .title+li{margin-top:9px;}
.list-type-table.type2 table .experience{margin-right:8px ;}

/* works */
/* works - list */
.works .normal-tab-wrap{margin-top: -5px;}
.works-list-wrap{position: relative; margin-top: 40px; opacity: 0; animation: fadeIn 0.4s ease-in-out forwards; animation-delay: 1s;}
/* .works-list-wrap ~ .pagination-wrap {margin: 46px 0 81px} */
.works-list-wrap .normal-list{padding: 0 20px;}
.works-list-wrap .normal-list > ul{display: flex; flex-wrap: wrap; flex: 0 0 auto;}
.works-list-wrap .normal-list > ul > li{margin-bottom: 42px; flex: 0 0 auto; width: 100%; box-sizing: border-box;}
.works-list-wrap .normal-list ul li.bigger{flex: 0 0 auto; width: 66.666%;}
.works-list-wrap .normal-list .anchor-box{position: relative;}
.works-list-wrap .normal-list .anchor-box a{position: absolute; width: 100%; height: 100%; z-index: 1;}
.works-list-wrap .normal-list .works-img{position: relative; margin-bottom: 25px;}
.works-list-wrap .normal-list .works-img img{display: block; width: 100%;}
.works-list-wrap .normal-list .works-title{font-size: 20px; line-height: 44px; color: #FFFFFF;}
.works-list-wrap .normal-list .works-sub{display: block; font-size: 14px; line-height: 22px; color: #919191; margin: 0 0 22px; letter-spacing: -0.8px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.works-list-wrap .normal-list .view-more{font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:12px; color: #DBFC00; }
.works-img .img-hover-box {display: none;}
.anchor-box:hover .img-hover-box{display:block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: flex; align-items: center; padding: 0 60px; background-color: rgba(0,0,0,0.7);}
.works-img .img-hover-list{color: #fff; font-size: 30px; line-height: 44px; letter-spacing: -0.6px;}
.works-img .img-hover-list > li{display: flex;}
.works-img .img-hover-list > li + li{margin-top: 12px;}
.works-img .img-hover-list > li span{display: block; min-width: 95px;}

/* works - view */
.section1.works-view{min-height: 0; padding-top: 0;}
.works-view-wrap{margin-top: 80px; padding: 0 20px;}
.works-view-wrap .view-tag{display: flex;}
.works-view-wrap .view-tag .tag{display: block; padding: 0 7px; border: 1px solid #919191; border-radius: 30px; color: #919191; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:12px; line-height: 18px;text-transform: uppercase;}
.works-view-wrap .view-tag .tag + .tag{margin-left: 8px;}
.works-view-wrap .view-title{overflow: hidden;display: -webkit-box;   margin-top: 42px; color: #fff; font-size: 44px; font-weight: 500;   text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.works-view-wrap .view-sub{margin-top: 24px; color: #919191; font-size: 14px; line-height: 24px;}
.works-view-wrap .view-cont{padding-top: 39px;}
.works-view-right .view-cont{padding-top: 100px;}
.works-view-wrap .cont-info-list{border-top: 1px solid #444; border-bottom: 1px solid #444;}
.works-view-wrap .cont-info-list > li{/* display: flex; */padding: 18px 0 35px;}
.works-view-wrap .cont-info-list > li + li{border-top: 1px solid #444;}
.works-view-wrap .cont-info-list .list-tit{/* min-width: 108px; */display:block;color: #919191; font-size: 14px; letter-spacing: -0.6px;}
.works-view-wrap .cont-info-list .list-txt{display:block;margin-top:15px;color: #fff; font-size: 14px; line-height: 32px; letter-spacing: -0.6px;}
.works-view-wrap .view-cont .cont-img{width: 100%;}
.works-view-wrap .view-cont .cont-img > img{display:block; width: 100%;}
.works-view-wrap .view-cont .cont-img > img + img{margin-top: 24px;}

.works-view-wrap .contents-youtube {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin-top: 24px;}
.works-view-wrap .contents-youtube iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.works-view-wrap .contents-pagination:before {content: ""; display: block; margin-bottom: 27px; border-top: 1px solid #444;}

/* about */
.about h3.tit{margin: 0; color: #fff; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 50px; font-weight: normal; line-height: 70px}
.section1.about{margin-top: 36px; padding: 0 20px;}
.section1.about .section1-inner{padding-bottom: 309px;}
.section1.about .sec1-txt-area .txt1{display: block; color: #fff; font-size: 28px; font-weight: 500; line-height: 44px; letter-spacing: -1.25px;}
.section1.about .sec1-txt-area .txt1 > .eng{font-family:'Roboto Condensed', 'Poppins', sans-serif;}
.section1.about .sec1-txt-area .txt2{display: inline-block; padding-top: 17px; color: #919191; font-size: 14px; line-height: 1.8571; text-align: left; letter-spacing: -0.8px;}
.section1.about .bg{position: absolute; width: 100%; height: 204px; max-height: 100%; left: 0; right: 0; bottom: 14px; background: url(../images/sub/img-about-bg.png) 50% 50% no-repeat; background-size: cover;}
.section1.about .bg::before {content: ''; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-image: linear-gradient(to bottom, rgba(0,0,0,1) 15%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,1) 90%);}

.section2.about{margin-top: -195px; padding: 0 20px;}
.section2.about .inner {padding-top: 121px;}
.section2.about .sec2-txt-area .txt1{display: flex; padding-left: 0; color: #fff; font-size: 28px; font-weight: 500; line-height: 86px;align-items: center;}
.section2.about .sec2-txt-area .txt1 .icon-x{display: inline-block; width: 26px; height: 24px; margin-left: 5px; background: url(../images/sub/icon-x.png) no-repeat center / contain; font-size: 0; text-indent: -9999%; overflow: hidden;}
.section2.about .sec2-txt-area .txt2{margin-top: -3px; color: #919191; font-size: 14px; font-weight: 500; line-height: 26px; text-align: left; letter-spacing: -1px;}
.section2.about .sec2-txt-area .txt2 .icon-x{display: inline-block; width: 14px; height: 11px; margin-left: 3px; background: url(../images/sub/icon-x-gray.png) no-repeat center / contain; font-size: 0; text-indent: -9999%; overflow: hidden;}
.section2.about .sec2-txt-area .logo{width: 100%; margin-top: 40px;}
.section2.about .sec2-txt-area .logo > img{display: block; width: 100%;}
.section3.about{margin-top:71px; padding: 0 20px;}
.section3.about .sec3-brand-area{margin-top:6px;}
.section3.about .inner{padding-top: 0;}
.section3.about .tit{font-size: 30px; line-height: 62px;}
.section3.about .sec3-brand-box{position: relative; margin-bottom: 16px; background-color: #191919;}
.section3.about .sec3-brand-box .item-tit{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 40px; color: #DBFC00; font-weight: 500;}
.section3.about .sec3-brand-box .item-des{position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); width: 100%; font-size: 14px; line-height: 22px; color: #919191; text-align: center; font-weight: normal;}
.section3.about .sec3-brand-box .item-des > .eng{font-family:'Roboto Condensed', 'Poppins', sans-serif;}
.section3.about .sec3-brand-box .item-des strong{color: #fff;}
.section3.about .sec3-brand-box .motions svg {width: 100%; height: 100%;}

/* .section3.about .sec3-ani-area{display: flex; flex-direction: column; flex-wrap: nowrap; align-items: center; margin-top: 15px;}
.section3.about .sec3-ani-box{position: relative; width: 100%; min-height:415px; background-color:#191919 }
.section3.about .sec3-ani-box.box1{width: 100%; min-width: 100%; margin-bottom: 10px;}
.section3.about .sec3-ani-box + .sec3-ani-box{margin-bottom: 10px;}
.section3.about .sec3-ani-box.box3{margin-left: 0;}
.section3.about .sec3-ani-box .item-num{position: absolute; top: 30px; left: 30px; color: #555; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 20px; line-height: 28px}
.section3.about .sec3-ani-box .item-tit{position: absolute; max-width:100%; top:50%; left:50%; transform: translate(-50%,-50%); color: #fff; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size: 40px; font-weight: bold; text-align: center; letter-spacing: -0.7px; z-index: 10; opacity: 0; transition: opacity 0.4s;}
.section3.about .sec3-ani-box .item-des{position: absolute; left: 0; right: 0; bottom: 40px; color: #919191; font-size: 14px; line-height: 22px; text-align: center; letter-spacing: -0.3px; opacity: 0; transition: opacity 0.4s;}
.section3.about .sec3-ani-box .item-des > strong{color: #fff;}
.section3.about .sec3-ani-box .item-des > .eng{font-family:'Roboto Condensed', 'Poppins', sans-serif;}
.section3.about .sec3-ani-box .motions{position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; transition: opacity 0.2s;}
.section3.about .sec3-ani-box .motions svg {width: 100%; height: 100%;} */

.section4.about{margin-top: 71px; padding: 0 20px;}
.section4.about .inner{padding-top: 0; padding-bottom: 80px;}
.section4.about .tit{font-size: 30px; line-height: 62px;}
.section4.about .sec3-ci-area {width: 100%;margin-top:5px;}
.section4.about .sec3-ci-area .logo-wrap{display: flex; align-items: center; flex-direction: column; width: 100%; border: 1px solid #111; background: url(../images/sub/img-ablout-ci-bg.svg) repeat-x center / auto 100%;}
.section4.about .sec3-ci-area .logo-wrap .logo{width: 100%; margin-top:16px; background-color: #191919;}
.section4.about .sec3-ci-area .logo-wrap .logo:first-child,
.section4.about .sec3-ci-area .logo-wrap .logo1 {margin-top: 0;}
.section4.about .sec3-ci-area .logo-wrap .logo > img{display: block; margin: 0 auto;}
.section4.about .sec3-ci-area .btn-wrap{display: flex; flex-direction: column; margin: 15px 0 0 0;}
.section4.about .sec3-ci-area .btn-wrap .btn-down{position: relative; width: 100%; margin-bottom: 8px; color: #919191; font-size: 14px; line-height: 34px;}
.section4.about .sec3-ci-area .btn-wrap .btn-down:last-child{margin-bottom: 0;}
.section4.about .sec3-ci-area .btn-wrap .btn-down .btn-inn{padding: 10px 0; border: 1px solid #444;}
.section4.about .sec3-ci-area .btn-wrap .btn-down .btn-inn .btn-ico{position: relative; display: inline-block;}
.section4.about .sec3-ci-area .btn-wrap .btn-down .btn-inn .btn-ico::after{content: ''; display: block; position: absolute; width: 24px; height: 24px; top: calc(50% - 14px); right: -30px; background: url(../images/sub/icon-download-919191.svg) no-repeat center / contain;}
.section4.about .sec3-ci-area .btn-wrap .btn-down > span{font-family:'Roboto Condensed', 'Poppins', sans-serif;}


/* partners */
.partners-list-wrap{margin-top: 40px;margin-left: 20px; margin-right: 20px;}
.partners-list-wrap ~ .contents-pagination.type2 {margin-top:92px;}
.partners-list-wrap .normal-list{}
.partners-list-wrap .normal-list > ul{}
.partners-list-wrap .normal-list > ul > li{padding: 0; box-sizing: border-box;}
.partners-list-wrap .normal-list > ul > li .partners-box{position: relative; background-color: #191919;}
.partners-list-wrap .normal-list > ul > li .partners-tit{margin-top: 10px; margin-bottom: 28px; font-size: 14px; color: #919191; text-align: center;}
.partners-list-wrap .normal-list > ul > li .partners-box .partners-logo{display: flex; align-items: center; justify-content: center; height: 160px;}
.partners-list-wrap .normal-list > ul > li .partners-box .partners-logo img{width:auto;height: 60px;}
.partners-list-wrap .normal-list > ul > li .partners-box .partners-logo img[src *= "partner_log13"]{height: 80px;}

/* contact */
.list-sns {margin-top:-6px;font-size:0;}
.list-sns .itm-sns,
.information dd .list-sns .itm-sns {margin-top:8px;}
.list-sns .itm-sns {position: relative;}
.list-sns .link-sns{display: block;}
.list-sns .img-sns {position: absolute;top:4px;left:0;z-index:1;width: 16px;}
.list-sns .img-sns + .txt-sns {padding-left: 25px;}
.list-sns .txt-sns{display:inline-block;font-size:14px;vertical-align: middle;}

.news-contents-slide {overflow:hidden;margin:0 -10px 16px;position: relative;}
.news-contents-slide .swiper-slide {padding: 0 10px}
.news-contents-slide .contents-img {margin-bottom: 0;}
.news-contents-slide .contents-img-txt{margin-top:8px;font-size:12px;color:#919191;line-height: 1.5;}

.news-contents-slide .btn-prev ,
.news-contents-slide .btn-next {position: absolute;margin-top:-50px;  top:50%;z-index:10;width: 24px;height:24px;background-position: 0 0;background-repeat: no-repeat;  background-size: 24px 24px}
.news-contents-slide .btn-prev { left:18px;background-image: url(../images/common/ico_arr_l.png) }
.news-contents-slide .btn-next {right: 18px;background-image:  url(../images/common/ico_arr_r.png) }
.news-contents-slide .slide-pagination { text-align: center;}
.news-contents-slide .slide-pagination .swiper-pagination-bullet {width: 4px;height:4px;margin:0;margin-left:8px;background-color:#919191;}
.news-contents-slide .slide-pagination .swiper-pagination-bullet:first-child{margin-left:0;}
.news-contents-slide .slide-pagination .swiper-pagination-bullet-active {background-color:#fff;}

/* animation */
@keyframes skewUp {
  /* 0% {transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5);}
  100% {transform: translate(0,0);} */

  0% {
    opacity: 0;
    transform: translate(0%, 130%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* about - effect */
.group-effect .effect-tit {
  /* overflow: hidden; */
  margin-bottom: 13px;
  padding: 0 20px;
  /* opacity: 0; */
}
.group-effect .effect-tit > span {
  display: block;
  font-family:'Roboto Condensed', 'Poppins', sans-serif;
  font-size: 56px;
  line-height: 80px;
  color: #fff;
  opacity: 0;

  text-transform: uppercase;

  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* -webkit-transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5);
  -ms-transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5);
  -moz-transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5);
  -o-transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5);
  transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5); */

  -webkit-transform: translate(0%, 130%);
  -ms-transform: translate(0%, 130%);
  -moz-transform: translate(0%, 130%);
  -o-transform: translate(0%, 130%);
  transform: translate(0%, 130%);

  -webkit-animation: skewUp 0.8s forwards;
  -moz-animation: skewUp 0.8s forwards;
  -o-animation: skewUp 0.8s forwards;
  animation: skewUp 0.8s forwards;
}
.group-effect .effect {
  opacity: 0;
}
.group-effect .effect.active {
  opacity: 1;
}

[class*='section'].about [class*='txt'].effect.active,
[class*='section'].about .logo.effect.active,
[class*='section'].about [class^='tit'].effect.active,
[class*='section'].about [class*='-brand-area'].effect.active,
[class*='section'].about .logo-wrap.effect.active,
[class*='section'].about .btn-wrap.effect.active {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

[class*='section'].about [class*='txt'].effect,
[class*='section'].about .logo.effect,
[class*='section'].about [class^='tit'].effect,
[class*='section'].about [class*='-brand-area'].effect,
[class*='section'].about .logo-wrap.effect,
[class*='section'].about .btn-wrap.effect {
  opacity: 0;

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* about section - 1 */
.sec1-txt-area .txt1.effect {
  -webkit-animation: text_effect 0.8s ease 0.1s forwards;
  -moz-animation: text_effect 0.8s ease 0.1s forwards;
  -o-animation: text_effect 0.8s ease 0.1s forwards;
  animation: text_effect 0.8s ease 0.1s forwards;
}

.sec1-txt-area .txt2.effect {
  -webkit-animation: text_effect 0.8s ease 0.2s forwards;
  -moz-animation: text_effect 0.8s ease 0.2s forwards;
  -o-animation: text_effect 0.8s ease 0.2s forwards;
  animation: text_effect 0.8s ease 0.2s forwards;
}

/* about section - 2 */
.sec2-txt-area .txt1.effect {
  -webkit-animation: text_effect 0.8s ease 0.1s forwards;
  -moz-animation: text_effect 0.8s ease 0.1s forwards;
  -o-animation: text_effect 0.8s ease 0.1s forwards;
  animation: text_effect 0.8s ease 0.1s forwards;
}

.sec2-txt-area .txt2.effect {
  -webkit-animation: text_effect 0.8s ease 0.2s forwards;
  -moz-animation: text_effect 0.8s ease 0.2s forwards;
  -o-animation: text_effect 0.8s ease 0.2s forwards;
  animation: text_effect 0.8s ease 0.2s forwards;
}

.sec2-txt-area .logo.effect {
  -webkit-animation: text_effect 0.8s ease 0.3s forwards;
  -moz-animation: text_effect 0.8s ease 0.3s forwards;
  -o-animation: text_effect 0.8s ease 0.3s forwards;
  animation: text_effect 0.8s ease 0.3s forwards;
}

/* about section - 3 */
.section3 .tit.effect {
  -webkit-animation: text_effect 0.8s ease 0.1s forwards;
  -moz-animation: text_effect 0.8s ease 0.1s forwards;
  -o-animation: text_effect 0.8s ease 0.1s forwards;
  animation: text_effect 0.8s ease 0.1s forwards;
}

.section3 .sec3-brand-area.area1.effect {
  -webkit-animation: text_effect 0.8s ease 0.2s forwards;
  -moz-animation: text_effect 0.8s ease 0.2s forwards;
  -o-animation: text_effect 0.8s ease 0.2s forwards;
  animation: text_effect 0.8s ease 0.2s forwards;

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.section3 .sec3-brand-area.area2.effect {
  -webkit-animation: text_effect 0.8s ease 0.25s forwards;
  -moz-animation: text_effect 0.8s ease 0.25s forwards;
  -o-animation: text_effect 0.8s ease 0.25s forwards;
  animation: text_effect 0.8s ease 0.25s forwards;

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.section3 .sec3-brand-area.area3.effect {
  -webkit-animation: text_effect 0.8s ease 0.3s forwards;
  -moz-animation: text_effect 0.8s ease 0.3s forwards;
  -o-animation: text_effect 0.8s ease 0.3s forwards;
  animation: text_effect 0.8s ease 0.3s forwards;

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.section3 .sec3-brand-area.area4.effect {
  -webkit-animation: text_effect 0.8s ease 0.35s forwards;
  -moz-animation: text_effect 0.8s ease 0.35s forwards;
  -o-animation: text_effect 0.8s ease 0.35s forwards;
  animation: text_effect 0.8s ease 0.35s forwards;

  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* about section - 4 */
.section4 .tit.effect {
  -webkit-animation: text_effect 0.8s ease 0.1s forwards;
  -moz-animation: text_effect 0.8s ease 0.1s forwards;
  -o-animation: text_effect 0.8s ease 0.1s forwards;
  animation: text_effect 0.8s ease 0.1s forwards;
}

.section4 .logo-wrap.effect {
  -webkit-animation: text_effect 0.8s ease 0.2s forwards;
  -moz-animation: text_effect 0.8s ease 0.2s forwards;
  -o-animation: text_effect 0.8s ease 0.2s forwards;
  animation: text_effect 0.8s ease 0.2s forwards;
}

.section4 .btn-wrap.effect {
  -webkit-animation: text_effect 0.8s ease 0.25s forwards;
  -moz-animation: text_effect 0.8s ease 0.25s forwards;
  -o-animation: text_effect 0.8s ease 0.25s forwards;
  animation: text_effect 0.8s ease 0.25s forwards;
}

@-webkit-keyframes text_effect {
  0% {
    opacity: 0;

    -webkit-transform: translateY(100px);
  }
  100% {
    opacity: 1;

    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes text_effect {
  0% {
    opacity: 0;

    -moz-transform: translateY(100px);
  }
  100% {
    opacity: 1;

    -moz-transform: translateY(0);
  }
}

@-o-keyframes text_effect {
  0% {
    opacity: 0;

    -o-transform: translateY(100px);
  }
  100% {
    opacity: 1;

    -o-transform: translateY(0);
  }
}

@keyframes text_effect {
  0% {
    opacity: 0;

    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;

    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*
.effect.active .sec3-brand-box #motion1-1{animation: motion1-1 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion1-2{animation: motion1-2 0.6s 0.2s ease-in forwards}
.effect.active .sec3-brand-box #motion1-3{animation: motion1-3 0.8s ease-in forwards}
*/


.effect.active .sec3-brand-box #motion1-1{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-2{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-3{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-4{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-5{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-6{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-7{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-8{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-9{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-10{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-11{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-12{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-13{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-14{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-15{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}
.effect.active .sec3-brand-box #motion1-16{animation: motion1 0.4s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards}


 

.effect.active .sec3-brand-box #motion2-1{animation: motion2 0.1s cubic-bezier(0.075, 0.82, 0.165, 1)-in forwards}
.effect.active .sec3-brand-box #motion2-2{animation: motion2 0.1s 0.1s ease-in forwards}
.effect.active .sec3-brand-box #motion2-3{animation: motion2 0.1s 0.2s ease-in forwards}
.effect.active .sec3-brand-box #motion2-4{animation: motion2 0.1s 0.3s ease-in forwards}
.effect.active .sec3-brand-box #motion2-5{animation: motion2 0.1s 0.4s ease-in forwards}
.effect.active .sec3-brand-box #motion2-6{animation: motion2 0.1s 0.5s ease-in forwards}
.effect.active .sec3-brand-box #motion2-7{animation: motion2 0.1s 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion2-8{animation: motion2 0.1s 0.7s ease-in forwards}
.effect.active .sec3-brand-box #motion2-9{animation: motion2 0.1s 0.8s ease-in forwards}

.effect.active .sec3-brand-box #motion3-1{animation: motion3-1 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion3-2{animation: motion3-2 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion3-3{animation: motion3-3 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion3-4{animation: motion3-4 0.6s ease-in forwards}

.effect.active .sec3-brand-box #motion4-1{animation: motion4-1 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion4-2{animation: motion4-2 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion4-3{animation: motion4-3 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion4-4{animation: motion4-4 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion4-5{animation: motion4-5 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion4-6{animation: motion4-6 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion4-7{animation: motion4-7 0.6s ease-in forwards}
.effect.active .sec3-brand-box #motion4-8{animation: motion4-8 0.6s ease-in forwards}
/*
@keyframes motion1-1 {
    0% {transform: translate(47.711px, 1327.305px) rotate(-135deg)}
    100% {transform: translate(147.711px, 1427.305px) rotate(-135deg)}
}
@keyframes motion1-2 {
    0% {transform: matrix(0.766, -0.643, 0.643, 0.766, 322.77, 1443.279)}
    100% {transform: matrix(0.766, -0.643, 0.643, 0.766, 222.77, 1543.279)}
}
@keyframes motion1-3 {
    0% {transform: translate(153.431px, 1729.388px) rotate(48deg)}
    100% {transform: translate(53.431px, 1629.388px) rotate(48deg)}
}
*/

@-webkit-keyframes motion1 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}
@-moz-keyframes motion1 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}
@-o-keyframes motion1 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}
@keyframes motion1 {
  0% {
    width: 0;
  }
  100% {
    width: 40px;
  }
}

@keyframes motion2 {
    0% {width: 0}
    100% {width: 6px}
}
@keyframes motion3-1 {
    0% {transform: translate(392.711px, 2787.781px) rotate(-135deg)}
    100% {transform: translate(492.711px, 2887.781px) rotate(-135deg)}
}
@keyframes motion3-2 {
    0% {transform: translate(734.132px, 3129.203px) rotate(-135deg)}
    100% {transform: translate(634.132px, 3029.203px) rotate(-135deg)}
}
@keyframes motion3-3 {
    0% {transform: translate(741.203px, 2717.071px) rotate(135deg)}
    100% {transform: translate(641.203px, 2817.071px) rotate(135deg)}
}
@keyframes motion3-4 {
    0% {transform: translate(399.782px, 3058.493px) rotate(135deg)}
    100% {transform: translate(499.782px, 2958.493px) rotate(135deg)}
}
@keyframes motion4-1 {
    0% {width: 0; transform: translate(1560px, 2267px)}
    100% {width: 200px; transform: translate(1460px, 2267px)}
}
@keyframes motion4-2 {
    0% {width: 0; transform: translate(1563px, 2270px) rotate(90deg)}
    100% {width: 200px; transform: translate(1563px, 2170px) rotate(90deg)}
}
@keyframes motion4-3 {
    0% {width: 0; transform: translate(1563.242px, 2268px) rotate(45deg)}
    100% {width: 200px; transform: translate(1491.242px, 2197px) rotate(45deg)}
}
@keyframes motion4-4 {
    0% {width: 0; transform: translate(1560.664px, 2272.243px) rotate(135deg)}
    100% {width: 200px; transform: translate(1632.664px, 2201.243px) rotate(135deg)}
}
@keyframes motion4-5 {
    0% {width: 0; transform: translate(1561.296px, 2268px) rotate(22.5deg)}
    100% {width: 200px; transform: translate(1468.296px, 2229px) rotate(22.5deg)}
}
@keyframes motion4-6 {
    0% {width: 0; transform: translate(1562.081px, 2272.296px) rotate(112.5deg)}
    100% {width: 200px; transform: translate(1601.081px, 2178.296px) rotate(112.5deg)}
}
@keyframes motion4-7 {
    0% {width: 0; transform: translate(1563.543px, 2269px) rotate(67.5deg)}
    100% {width: 200px; transform: translate(1524.543px, 2176px) rotate(67.5deg)}
}
@keyframes motion4-8 {
    0% {width: 0; transform: translate(1562.072px, 2272.544px) rotate(157.5deg)}
    100% {width: 200px; transform: translate(1653.072px, 2234.544px) rotate(157.5deg)}
}
