@charset"utf-8";

/* base */
html{overflow-y:scroll; overflow-x:auto;}
body{font-size: 16px; color: #333; font-family:"Noto Sans KR","Malgun Gothic","맑은 고딕",Dotum,"돋움",sans-serif;}
a{text-decoration:none;word-break: break-all;color: #333;}
img{width: 100%;}
input, select{width: 100%;}
select{height:22px; vertical-align:middle; border:1px solid #e5e5e5; font-size:15px; color:#333;}
input[type=text],
input[type=password],
input[type=search],
input[type=submit]{height:48px; line-height:46px; padding:0 15px; font-size:15px; border:1px solid #e5e5e5; color:#333; box-sizing:border-box;border-radius: 4px;}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
textarea::placeholder{color:#e5e5e5;}
textarea,button{font-size:15px; color:#333;}
textarea{display:block; resize:none; width:100%; height:150px; border:1px solid #e5e5e5; padding:13px 15px; box-sizing:border-box;}
input:focus,
textarea:focus{outline:none;}
hr{display:none;}
legend,caption{width:1px; height:1px; padding:0; margin-top:-1px; font-size:0; line-height:0; text-indent:-999px; overflow:hidden;}
button,label{cursor:pointer;}
img,th{vertical-align:middle;}
td{vertical-align:baseline;}
span,em,i,strong,sup{font-size:inherit; font-family:inherit; color:inherit; line-height:inherit; vertical-align:baseline; font-weight:normal;}
sup{position:relative; top:-5px;}
input[type=checkbox],
input[type=radio] {-o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin:0;}
*{box-sizing:border-box;}
button{border: 0;outline: 0;background: none;padding: 0; margin: 0;}
img{width: 100%;}

/* padding & margin */
.mt0{margin-top: 0px!important;}
.mt6{margin-top: 6px;}
.mt12{margin-top: 12px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}

.align-r{text-align: right;}
.align-l{text-align: left;}
.align-c{text-align: center;}

h1,
h2,
h3,
h4,
h5{font-weight: bold;margin: 10px 0;}


/* layout */
body{background-color: #000;}
.wrap {width: 100%;}

/* header */
#header {position:fixed; top:0; left:0; right:0; z-index:1000; background-color: #000;}
#header .header-inner {position: relative;display:flex; justify-content: space-between; width:100%; margin:0 auto; padding:20px 0}
#header .logo {margin:0;margin-left: 20px;}
#header .logo a {display:inline-block; width:127px; height: 18px;}

#header .all-menu{margin-right: 20px; width: 21px; height: 21px; background: url(../images/common/menu.png) no-repeat 0 50%; background-size: contain; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
#header .all-menu.on{background: url(../images/common/menu_on.png) no-repeat 0 0; background-size: contain; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;}

.gnb {}
.gnb .gnb-list {}
.gnb .gnb-list > li {}
.gnb .gnb-list > li > a {position: relative; display: block; padding-top: 20px; padding-bottom: 20px; font-family: 'Poppins', sans-serif; font-size:22px; line-height:40px; color: #fff; font-weight: bold; border-bottom: 1px solid #919191;}
.gnb .gnb-list > li > a:after {content: ""; position: absolute; right: 2px; top: 36px; width: 19px;;height: 11px;background: url(../images/common/ico_down.png) no-repeat 0 0; background-size: cover; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
.gnb .gnb-list > li > a.nm:after {display: none;}
.gnb .gnb-list > li > a.active {border-bottom: none}
.gnb .gnb-list > li > a.active:after {transform: rotate( 180deg )}

.gnb .gnb-list .sub-list {display: none; padding: 10px; padding-bottom: 50px; border-top: 1px solid #fff;}
.gnb .gnb-list .active+.sub-list {}
.gnb .gnb-list .sub-list a{margin-top: 14px; display: block; font-family: 'Poppins', sans-serif; font-size: 22px; color: #919191;}

#header .main-tool-bar.active{transition: ease 0.4s; background: #000;}
#header .main-tool-bar.active .sub-list {}
#header .main-tool-bar {transition: ease 0.4s;}
#header .main-tool-bar-scrolled {background: #000;}

.gnb+.lang-chioce{position: fixed; bottom:0; left: 0; padding-top: 20px; padding-bottom: 40px;background: #000; width: 100%;}
.gnb+.lang-chioce ul{overflow: hidden; margin-left: 20px;}
.gnb+.lang-chioce ul li {position: relative;float: left;font-size: 16px;color: #fff;opacity: .7;}
.gnb+.lang-chioce ul li:first-child::before {content: " | ";position: absolute; right: -14px; top: -1px; color: #555;}
.gnb+.lang-chioce ul li.active {opacity: 1;}
.gnb+.lang-chioce ul li:last-child {padding-left: 20px;}
.gnb+.lang-chioce ul li a {font-family: 'Poppins', sans-serif; font-size: 16px;color: #555;}
.gnb+.lang-chioce ul li.active a  {color: #fff;}

/* footer */
.footer-inner {position: relative; padding: 50px 20px; width:100%; max-width:360px; margin:0 auto}
.footer-inner .logo {width: 210px; height: 40px;}
.footer-inner .footer-conts {margin-top: 30px;}
.footer-inner .footer-conts .custom-select {margin-top: 30px; }
.footer-inner .footer-conts .select-items {background-color: #000;}
/* .footer-inner .footer-conts .footer-info {} */
.footer-inner .footer-conts .footer-info p {font-size: 14px;color: #555;}
.footer-inner .footer-conts .footer-info p+p {margin-top: 14px;}
.footer-inner .footer-conts .footer-info copy {display: block; margin-top: 30px; font-size: 14px;color: #555;}

.sns-link ul{display: flex; justify-content: center; margin-top: 40px;}
.sns-link a{display: inline-block;width: 40px; height: 40px;}

/* contents */
.inner {padding-top: 740px;position: relative; max-width: 360px; margin: 0 auto;}
.inner.no-padding {padding-top: 0;}
.inner.type2 {padding-top: 136px;}
section{position: relative;}

.section1-start{position: absolute; top: 500px;}
.txt-ani{position: absolute;top: 296px;left: 50%;transform: translate(-50%,0%);opacity: 0;}
.txt-ani img{width: 100%;}
.txt-ani {font-family: 'Poppins', sans-serif; font-size: 126px;color: #fff;}
.txt-ani.ver-2{left: 70%; white-space:nowrap;}
.txt-noAni{margin-left: 20px; margin-right: 20px; font-family: 'Poppins', sans-serif; font-size: 73px;color: #fff;}

.overflow-h{overflow: hidden;}
/* .normal-tab-wrap{} */
.normal-tab-wrap .normal-tab{overflow: hidden; overflow-x: auto; -ms-overflow-style: none;}
.normal-tab-wrap .normal-tab::-webkit-scrollbar{display:none;}
.normal-tab-wrap .normal-tab ul{display: flex; flex-direction: row; box-sizing: border-box; min-width: 100%; padding: 0 20px; float: left;}
.normal-tab-wrap .normal-tab ul li{flex: 1 1 auto; text-align: center;}
.normal-tab-wrap .normal-tab ul li + li{margin-left: 24px;}
.normal-tab-wrap .normal-tab ul li a{position: relative; font-family: 'Poppins', sans-serif; font-size: 16px;color: #fff; white-space: nowrap; padding: 10px 0px; display: block;}
/* .normal-tab-wrap .normal-tab ul li a.active{} */
.normal-tab-wrap .normal-tab ul li a.active:before {opacity: 1;color: #ffffff;width: 100%;position: absolute;bottom: -2px;display: block;height: 2px;content: "";background-color: #fff;}
.normal-tab-wrap .normal-tab ul li a:before,
.normal-tab-wrap .normal-tab ul li a:after {position: absolute;-webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
.normal-tab-wrap .normal-tab ul li a:before {bottom: -2px;display: block;height: 2px;width: 0%;content: "";background-color: #fff;}
.normal-tab-wrap .normal-tab ul li a:after {left: 0;top: 0;padding: 0.5em 0;position: absolute;content: attr(data-hover);color: #ffffff;white-space: nowrap;max-width: 0%;overflow: hidden;}
.normal-tab-wrap .normal-tab ul li a:hover:before {opacity: 1;width: 100%;}
.normal-tab-wrap .normal-tab ul li a:hover:after {max-width: 100%;}

/* form */
.check-type1 label {position: relative;padding-left: 30px;}
.check-type1 label span {vertical-align: middle;white-space: nowrap;display: inline-block;padding-top:3px;}
.check-type1 label input[type=checkbox]:checked{background-position: 0 100%;}
.check-type1 label input[type=checkbox] {position: absolute;left: 0;width: 20px;height: 20px;background: url(../images/common/check.png) no-repeat 0 0;}
.radio-type1 label span {/* vertical-align: middle; */white-space: nowrap;display: block;padding-top:3px;}
.radio-type1 label{position: relative;padding-left: 30px;}
.radio-type1 label input[type=radio] {content: "";position: absolute;left: 0;top: 0;width: 20px;height: 20px;margin-right: 10px;background: url(../images/common/radio.png) no-repeat;}
.radio-type1 label {display: block;}
.radio-type1 label input[type=radio]:checked {background-position: 0 100%;}
.ip-wrap{overflow: hidden;}
.ip-wrap .radio-type1 {float: left;margin-right: 30px;padding-top: 15px;}
.ip-wrap strong {float: left;display: block;font-weight: bold;line-height: 48px;margin-right: 30px;}

/* table */
.basic-table, .basic-table th, .basic-table td {padding:4px 2px;border: 1px solid darkgray;width: 100%;border-collapse: collapse;table-layout: fixed;font-size: 1em;background-color: #fff;vertical-align: middle;}
.basic-table td.etc {font-size: .1em;}
.basic-table td.etc{font-size: .7em;}
.basic-table th{background-color: ivory;}
.basic-list{padding: 0 20px}
.basic-list-cp{margin: 10px auto;margin-bottom:40px;}
.basic-table{margin: 10px auto;}
.table-date{text-align: right;}
/* .basic-table-wrap{} */

.notice-table {width: 100%;}
.notice-table, .notice-table th, .notice-table td {padding:14px 8px;border-collapse: collapse;table-layout: fixed;font-size: 14px;background-color: #fff;text-align: center;}
.notice-table td,
.notice-table th {border-top: 1px solid darkgray;vertical-align: middle;line-height: 1.2;}
.notice-table td.etc{font-size: .7em;}
.notice-table td.notice-title{text-align: left;}
.notice-table th{background-color: ivory;}
.notice-list{padding: 0 20px}
.notice-list-cp{margin: 10px auto;margin-bottom:40px;}
.notice-table{margin: 10px auto;}
.table-date{text-align: right;}
/* .notice-table-wrap{} */

.col-wid10 {width: 10%;}
.col-wid20 {width: 20%;}
.col-wid15 {width: 15%;}
.col-wid55 {width: 55%;}
.col-wid60 {width: 60%;}
.notice-top{width: 100%;}
/* .notice-top .notice-top-num{} */
/* .notice-top .notice-top-sch{} */

.pagination-wrap{overflow: hidden;text-align: center;margin-top:40px;margin-bottom:40px;font-family: 'Poppins', sans-serif;}
.pagination {display: inline-block;}
.pagination a {color: #fff;float: left;padding: 0 10px;text-decoration: none; font-size: 28px; opacity: 0.3;}
.pagination a:nth-child(n+2){margin-left: 10px;}
.pagination a.active {color: white; opacity: 1;}
.pagination.small-type {border: 1px solid #ccc!important;}
.pagination.small-type li {display: inline;}
.pagination.small-type li a{color: black;float: left;padding: 8px 16px;text-decoration: none;}
.pagination.small-type li a.border-right{border-right: 1px solid #ccc!important;}

.notice-view-top {padding-bottom: 20px; border-bottom: 1px solid #ccc!important;}
.notice-view-top p {margin-top: 20px; margin-bottom: 10px; font-size: 16px; font-weight: bold; line-height: 1.2;}
.notice-view-info {font-size: 14px;}
/* .notice-view-info span {} */
.notice-view-info span em{font-weight: bold;}
.notice-view-ct {margin-top: 20px; margin-bottom: 20px; padding-top: 10px; padding-bottom: 30px; line-height: 1.6; border-bottom: 1px solid #ccc!important;}
.notice-view-link {margin-top: 20px; margin-bottom: 20px;}
.notice-view-link dl {display: table;}
.notice-view-link dl dt {display: table-cell; padding-top: 10px; padding-bottom: 10px; width: 20%; font-weight: bold; vertical-align: middle;}
.notice-view-link dl dd {display: table-cell; padding-top: 10px; padding-bottom: 10px; vertical-align: middle; line-height: 1.2;}

/* button */
.btn-wrap {margin-top: 20px; margin-bottom: 20px;}
.btns{display: inline-block;border-radius: 4px;border: 1px solid #e5e5e5;background: #fff;box-sizing: border-box;text-align: center;height: 42px;width: 100%;}
a.btns{padding: 12px 6px 12px;/* padding-top: 14px; */vertical-align: top;height: auto;color: #333;}
.btns+.btns{margin-top:10px}

/** Custom Select **/
/* The container must be positioned relative: */
.custom-select {position: relative;}
.custom-select select {display: none; /*hide original SELECT element: */}
.select-selected {background-color: transparent;border: 1px solid #535353 !important;}

/* Style the arrow inside the select element: */
.select-selected:after {position: absolute;content: "";top: 14px;right: 20px;width: 24px; height: 20px; background: url(../images/common/select_down.png) no-repeat 0 0; background-size: contain; transition: all ease .5s;}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {top: 16px; transform: rotate( 180deg );}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {font-size: 14px;color: #fff;padding: 17px 24px;border: 1px solid transparent;border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;cursor: pointer;border-radius: 25px;}
.select-selected.select-arrow-active{border-radius: 25px 25px 0 0; border-bottom-color: transparent !important;}

/* Style items (options): */
.select-items {position: absolute;background-color: transparent;border-left: 1px solid #535353 !important;border-right: 1px solid #535353 !important;border-bottom: 1px solid #535353 !important;top: 100%;left: 0;right: 0;z-index: 99;}

/* Hide the items when the select box is closed: */
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {background-color: rgba(0, 0, 0, 0.1);}

/* IE */
select::-ms-expand {display: none;}
.select {-o-appearance: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.select {position: relative;top: -2px;width: 150px;height: 48px;background: url('../images/common/down_arrow.png') calc(100% - 10px) center no-repeat;background-size: 10px;padding: 5px 30px 5px 10px;border-radius: 4px;outline: 0 none;}
.select option {color: #000;padding: 3px 0;}

/* Popup Layer */
.pop-layer .pop-container {padding: 20px 25px;}
.pop-layer p.ctxt {color: #666;line-height: 25px;}
.pop-layer .btn-r {width: 100%;margin: 10px 0 20px;padding-top: 10px;border-top: 1px solid #DDD;text-align: right;}
.pop-layer {display: none;position: absolute;top: 50%;left: 50%;width: 100%;height: auto;background-color: #fff;border: 1px solid #ddd;z-index: 10;box-shadow: 5px 5px 10px grey;}
.dim-layer {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;box-shadow: 20px 20px 50px grey;}
.dim-layer .dimBg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity=50);}
.dim-layer .pop-layer {display: block;}
a.btn-layerClose {display: inline-block;height: 25px;padding: 0 14px 0;border: 1px solid #ddd;background-color: #ddd;font-size: 13px;color: #000;line-height: 25px;}

#allMenu.pop-layer{height: calc(100% - 58px); background-color: #000; border:none; overflow-y: auto;}
#allMenu .pop-container{padding: 40px 20px;}
/* List */
.list-ul-1{margin-left: 20px;list-style: disc;}
.list-ul-1 li+li{margin-top:4px;}
.list-ul-2 li{position: relative;padding-left: 20px;}
.list-ul-2 li::after{content: "-";position: absolute;left: 2px;top: 0;}
.list-ul-2 li+li{margin-top:4px;}
.list-ol-1{margin-left: 20px;list-style: decimal;}
.list-ol-1 li+li{margin-top:4px;}
.title-pages-list{line-height: 1.2;}

/* Icon */
.icon {background: url('https://i.picsum.photos/id/738/200/200.jpg?hmac=s1pXxIw4TdDLyUY2RRVeDyhLPUF2xW3AFjdzjVsE6zc');background-size: cover;height: 16px;width: 16px;display: inline-block;/* Other styles here */}

/* Tab */
.tab-container {position: relative;width:100%;margin:auto;}
.tab-container .tab-content {width:100%;padding: 30px 0;line-height: 1.4;}

.tabs ul {width: 100%;display:table;table-layout: fixed;padding:0}
.tabs li {display: table-cell;background: #f6f7f9;border-top: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;border-bottom: 1px solid #222;text-align: center;vertical-align: middle;}
.tabs li.active {background: #fff;border-top: 1px solid #222;border-left: 1px solid #222;border-right: 1px solid #222;border-bottom: 1px solid transparent;}
.tabs li.active a {color: #000;font-weight: bold;}
.tabs li a {padding: 20px;font-size: 14px;color: #222;display: block;height: 100%;/* vertical-align: middle; */text-decoration: none;color: #000}
.news-list-wrap{padding: 0 20px;}
.news-list-wrap .normal-list ul{display: flex; flex-direction: column;}
.news-list-wrap .normal-list ul li{margin-bottom: 60px; flex: 0 0 auto; width: 100%; box-sizing: border-box;}
.news-list-wrap .normal-list ul li .anchor-box{position: relative;}
.news-list-wrap .normal-list ul li .anchor-box a{position: absolute; width: 100%; height: 100%;}
.news-list-wrap .normal-list ul li .news-img{margin-bottom: 40px;}
.news-list-wrap .normal-list ul li .news-img img{display: block; width: 100%;}
.news-list-wrap .normal-list ul li .news-title{font-size: 20px; line-height: 30px; color: #FFFFFF; font-weight: 600; letter-spacing: -1px; word-break:keep-all; word-wrap: break-word;}
.news-list-wrap .normal-list ul li .news-title span{font-weight: 600; word-break:keep-all; word-wrap: break-word;}
.news-list-wrap .normal-list ul li .news-sub{display: block; font-size: 14px; line-height: 24px; color: #919191; margin: 11px 0 21px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; word-break:keep-all; word-wrap: break-word; letter-spacing: -1px;}
.news-list-wrap .normal-list ul li .view-more{font-family: 'Poppins', sans-serif; font-size:12px; color: #DBFC00; }
.more-btn-box{text-align: center; margin-bottom: 150px;}
.more-btn-box button{font-family: 'Poppins', sans-serif; font-size:50px; color: #555; background-color: transparent;}
/* search-wrap */
.blind {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.search-wrap{display: flex; margin-bottom: 30px; justify-content: space-between; padding: 0 20px;}
.search-wrap .search-box{display: flex; justify-content: center; align-items: center; width: 100%;}
.search-wrap .search-box .unit-box{border-bottom: 2px solid #fff; position: relative; width: 22%; min-width: 80px;}
.search-wrap .search-box .unit-box.full{width: 100%;}
.search-wrap .search-box .unit-box+.unit-box{margin-left: 20px; width: 100%;}
.search-wrap .search-box .unit-box select{padding: 7px 0 7px; top: 0; border: 0; width: 100%; color: #fff; font-weight: 600; font-size: 14px; background-size: auto; background-image: url(../images/common/down_arrow_select.svg); background-position: right center;}
.search-wrap .search-box .unit-box [type="search"]{padding: 9px 24px 11px 0; border-radius: 0; border: 0; background-color: transparent; width: 100%; color: #fff; font-size: 14px; letter-spacing: -1px;}
.search-wrap .search-box .unit-box [type="search"]::placeholder{font-weight: 100; color: #555;}
.search-wrap .search-box .unit-box .search-btn{position: absolute; right: 0; top: 10px; border: 0; width: 24px; height: 24px; background-image: url(../images/common/search_btn.svg); background-color: transparent; background-repeat: no-repeat; background-position: center;}
.search-wrap .search-box .unit-box [type="search"]::-ms-clear,
.search-wrap .search-box .unit-box [type="search"]::-ms-reveal{display: none;}
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-decoration,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-cancel-button,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-results-button,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-results-decoration {display: none;}

.news-contents-wrap{margin-top: 50px; padding: 0 20px;}
.news-title-wrap{position: relative; padding: 26px 0 28px; border-top: 1px solid #444444; border-bottom: 1px solid #444444;}
.news-title-wrap h4{font-size: 20px; font-weight: 600; color: #fff; margin: 0; line-height: 35px;}
.news-title-wrap p.date{margin-top: 8px; color: #919191; font-size: 12px;}
.ver-recruit .news-title-wrap h4{font-size: 20px; line-height: 35px; letter-spacing: -1px; word-break: keep-all;  word-wrap: break-word;}
.ver-recruit .news-title-wrap h4 span{ word-break: keep-all;  word-wrap: break-word;}
.ver-recruit .news-title-wrap .experience{position: absolute; right: 20px; bottom: 28px; font-size: 12px; color: #DBFC00; font-weight: bold;}

.news-contents-box{padding: 40px 0; border-bottom: 1px solid #444444; font-size: 14px; color: #fff; letter-spacing: -1px; line-height: 24px;}
.contents-img{margin-bottom: 36px;}
.contents-img img{width: 100%;}
.contents-pagination{margin: 40px 0 80px; padding: 0 20px;}
.contents-pagination.right {width: calc(50% - 50px); margin-left: auto;}
.contents-pagination ul{display: flex; justify-content: space-between;}
.contents-pagination ul a{display: block; font-family: 'Poppins', sans-serif; font-size: 24px; color: #555;}
.contents-pagination ul .prev{width: 24px; height: 24px; background: url(../images/common/news_arrow_prev.svg) no-repeat center 100%;}
.contents-pagination ul .next{width: 24px; height: 24px; background: url(../images/common/news_arrow_next.svg) no-repeat center 100%;}

.information{margin-top: 35px; padding: 0 20px; letter-spacing: -1px;}
.information+.information{margin-top: 44px;}
.information dl{display: table;}
.information dl:nth-child(n+2){margin-top: 12px;}
.information dt,
.information dd{display: table-cell;}
.information dt{font-size: 16px; font-family: 'Poppins', sans-serif; color: #fff; width: 25%; min-width: 90px;  letter-spacing: 0px;}
.information dt strong{font-weight: bold;}
.information dd{font-size: 14px; color: #919191; line-height: 24px;}
.information dd a{color: #919191;}
.information dd li:nth-child(n+2){margin-top: 2px;}
.information .tel,
.information .email{font-family: 'Poppins', sans-serif;}
.maps-wrap{width: 100%; height:600px; background-color: gray; margin-top: 56px; }

.list-type-table{padding:0 20px ;}
.list-type-table table{width: 100%; vertical-align: middle;}
.list-type-table table td{display: flex; position: relative; padding: 14px 0 15px;}
.list-type-table table td a{position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.list-type-table table tr td{border-top: 1px solid #444444;}
.list-type-table table tr:last-child td{border-top: 1px solid #444444; border-bottom: 1px solid #444444;}
.list-type-table table .num{font-size: 12px; color: #919191; text-align: center; font-family: 'Poppins', sans-serif; margin-right: 14px; line-height: 24px;}
.list-type-table table .title{font-size: 16px; color: #fff; display: inline-block; line-height: 24px; font-weight: 600;}
.list-type-table table .title+li{margin-top: 5px;}
.list-type-table table .experience{font-size: 12px; color: #DBFC00; margin-right: 20px; font-weight: 600;}
.list-type-table table .date{font-size: 12px; color: #919191; font-family: 'Poppins', sans-serif;}

/* works */
/* works - list */
.works .normal-tab-wrap{margin-top: -5px;}
.works-list-wrap{margin-top: 106px;}
.works-list-wrap .normal-list{padding: 0 20px;}
.works-list-wrap .normal-list > ul{display: flex; flex-wrap: wrap; flex: 0 0 auto;}
.works-list-wrap .normal-list > ul > li{margin-bottom: 60px; flex: 0 0 auto; width: 100%; box-sizing: border-box;}
.works-list-wrap .normal-list ul li.bigger{flex: 0 0 auto; width: 66.666%;}
.works-list-wrap .normal-list .anchor-box{position: relative;}
.works-list-wrap .normal-list .anchor-box a{position: absolute; width: 100%; height: 100%; z-index: 1;}
.works-list-wrap .normal-list .works-img{position: relative; margin-bottom: 25px;}
.works-list-wrap .normal-list .works-img img{display: block; width: 100%;}
.works-list-wrap .normal-list .works-title{font-size: 20px; line-height: 44px; color: #FFFFFF;}
.works-list-wrap .normal-list .works-sub{display: block; font-size: 16px; line-height: 22px; color: #919191; margin: 11px 0 21px; letter-spacing: -0.8px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.works-list-wrap .normal-list .view-more{font-family: 'Poppins', sans-serif; font-size:12px; color: #DBFC00; }
.works-img .img-hover-box {display: none;}
.anchor-box:hover .img-hover-box{display:block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: flex; align-items: center; padding: 0 60px; background-color: rgba(0,0,0,0.6);}
.works-img .img-hover-list{color: #fff; font-size: 30px; line-height: 44px; letter-spacing: -0.6px;}
.works-img .img-hover-list > li{display: flex;}
.works-img .img-hover-list > li + li{margin-top: 12px;}
.works-img .img-hover-list > li span{display: block; min-width: 95px;}

/* works - view */
.section1.works-view{min-height: 0; padding-top: 0;}
.works-view-wrap{margin-top: 142px; padding: 0 20px;}
.works-view-wrap .view-tag{display: flex;}
.works-view-wrap .view-tag .tag{display: block; padding: 0 11px; border: 1px solid #919191; border-radius: 30px; color: #919191; font-family: 'Poppins', sans-serif; font-size:12px; line-height: 18px;}
.works-view-wrap .view-tag .tag + .tag{margin-left: 8px;}
.works-view-wrap .view-title{margin-top: 26px; color: #fff; font-size: 44px; font-weight: 500;}
.works-view-wrap .view-sub{margin-top: 10px; color: #919191; font-size: 14px; line-height: 24px;}
.works-view-wrap .view-cont{padding-top: 40px;}
.works-view-right .view-cont{padding-top: 100px;}
.works-view-wrap .cont-info-list{border-top: 1px solid #444; border-bottom: 1px solid #444;}
.works-view-wrap .cont-info-list > li{display: flex; padding: 16px 0 40px;}
.works-view-wrap .cont-info-list > li + li{border-top: 1px solid #444;}
.works-view-wrap .cont-info-list .list-tit{min-width: 108px; color: #919191; font-size: 14px; letter-spacing: -0.6px;}
.works-view-wrap .cont-info-list .list-txt{color: #fff; font-size: 14px;letter-spacing: -0.6px;}

.works-view-wrap .view-cont .cont-img{width: 100%;}
.works-view-wrap .view-cont .cont-img > img{display:block; width: 100%;}
.works-view-wrap .view-cont .cont-img > img + img{margin-top: 20px;}