@charset"utf-8";

html{overflow-y:scroll; overflow-x:auto;}
body{font-size: 15px;color: #333; font-family:'Poppins', "Noto Sans KR","Malgun Gothic","맑은 고딕",Dotum,"돋움",sans-serif; letter-spacing: 0;}
a{text-decoration:none;color: #333;word-break: break-all;}
select{height:22px; vertical-align:middle; border:1px solid #e5e5e5; font-size:15px; color:#333;}
input[type=text],
input[type=password],
input[type=search]{height:48px; line-height:46px; padding:0 15px; font-size:15px; border:1px solid #e5e5e5; color:#333; box-sizing:border-box;border-radius: 4px;}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
textarea::placeholder{color:#e5e5e5;}
textarea,button{font-size:15px; color:#333;}
textarea{display:block; resize:none; width:100%; height:150px; border:1px solid #e5e5e5; padding:13px 15px; box-sizing:border-box;}
input:focus,
textarea:focus{outline:none;}
hr{display:none;}
legend,caption{width:1px; height:1px; padding:0; margin-top:-1px; font-size:0; line-height:0; text-indent:-999px; overflow:hidden;}
button,label{cursor:pointer;}
img,th{vertical-align:middle;}
td{vertical-align:baseline;}
span,em,i,strong,sup{font-size:inherit; font-family:inherit; color:inherit; line-height:inherit; vertical-align:baseline; font-weight:normal;}
sup{position:relative; top:-5px;}
input[type=checkbox],
input[type=radio] {-o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin:0;}
button{border: 0;outline: 0;background: none;padding: 0; margin: 0;}

/* heading */
h1,
h2,
h3,
h4,
h5{font-weight: bold;margin: 10px 0;}

/* padding & margin */
.mt0{margin-top: 0px!important;}
.mt6{margin-top: 6px;}
.mt12{margin-top: 12px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}

.align-r{text-align: right;}
.align-l{text-align: left;}
.align-c{text-align: center;}

/* layout */
body{background-color: #000;}
.wrap {width: 100%;}

/* header */
#header {position:fixed; top:0; left:0; right:0; z-index:1000;}
#header .header-inner {position: relative;display:flex; justify-content: space-between; width:100%; max-width:1920px; margin:0 auto; padding:20px 0}
#header .logo {margin:0;margin-left: 50px; height: 40px;}
#header .logo a {display:inline-block;}
#header .gnb {margin-right: 100px;}
#header .gnb-list {display:flex; width:100%}
#header .gnb-list > li {flex:auto; padding:0 0; min-width: 200px; text-align: center; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
#header .gnb-list li a {position: relative; display: block; padding: 10px 0; font-family: 'Poppins', sans-serif; font-size:20px; line-height:20px; text-align:center; color: #fff; box-sizing: border-box;}
/* #header .gnb-list li a:first-child {padding: 26px 0 10px;} */
/* #header .gnb-list li a.active:before {opacity: 1;color: #ffffff;width: 100%;position: absolute;bottom: -2px;display: block;height: 1px;content: "";background-color: #fff;} */
#header .gnb-list li a:before,
#header .gnb-list li a:after {position: absolute;left: 0;-webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
#header .gnb-list li a:before {bottom: -2px;display: block;height: 1px;width: 0%;content: "";background-color: #fff;}
#header .gnb-list li a:after {left: 0;top: 0;padding: 0.5em 0;position: absolute;content: attr(data-hover);color: #ffffff;white-space: nowrap;max-width: 0%;overflow: hidden;}
/* #header .gnb-list li a:hover:before {opacity: 1;width: 100%;} */
#header .gnb-list li a:hover:after {max-width: 100%;}
#header .gnb-list li a .gnb-tit-wrap span{display: block; line-height: 20px; transform: translateY(-100%); transition: .6s cubic-bezier(.075,.82,.165,1);}
#header .gnb-list li a .gnb-tit-wrap{width: 100%; height: 20px; overflow: hidden;}
#header .gnb-list li:hover .gnb-tit-wrap span{transform: translateY(0);}
#header .gnb-list .sub-list {display:none; padding-top: 16px;}
#header .gnb-list .sub-list a{color: #919191}
#header .gnb-list .sub-list a:hover{color: #fff; transition: ease 0.2s;}
#header.main-tool-bar.active{
    transition: ease 0.4s;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
#header.main-tool-bar.active {background-color:rgba(0,0,0,0.5);}
#header.main-tool-bar.active .sub-list {display:block;}
#header.main-tool-bar {transition: ease 0.4s;}
#header.main-tool-bar-scrolled {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-color:rgba(0,0,0,0.5);
}
#header .lang-chioce{position: relative; top:10px; right: 50px;}
#header .lang-chioce ul{overflow: hidden;}
#header .lang-chioce ul li {position: relative;float: left;font-size: 16px;color: #fff;opacity: .7;}
#header .lang-chioce ul li:first-child::before {overflow: hidden; content: ""; position: absolute; right: -12px; top: 5px; background-color: rgba(255,255,255,0.5); width: 1px; height: 8px;}
#header .lang-chioce ul li.active {opacity: 1;}
#header .lang-chioce ul li:last-child {padding-left: 21px;}
#header .lang-chioce ul li a {font-size: 16px;color: rgba(255,255,255,0.5);}
#header .lang-chioce ul li.active a  {color: #fff;}

/* footer */
.footer-inner {position: relative; padding-top: 50px; padding-bottom: 50px; width:100%; max-width:1600px; margin:0 auto}
.footer-inner .footer-conts {margin-top: 30px;}
.footer-inner .footer-conts .custom-select {position: absolute; right: 0; top: 50px; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
/* .footer-inner .footer-conts .footer-info {} */
.footer-inner .footer-conts .footer-info p {font-size: 16px;color: #919191;}
.footer-inner .footer-conts .footer-info p span {overflow: hidden; position: relative; top: 2px; display: inline-block; color: #555;}
.footer-inner .footer-conts .footer-info p+p {margin-top: 14px;}
.footer-inner .footer-conts .footer-info copy {display: block; margin-top: 20px; font-size: 14px;color: #535353;}
.footer-inner .footer-conts .footer-info .link-sitemap {margin-left: 6px; font-size: 16px; color: #919191;}
.footer-inner .footer-conts .sns-footer {display: flex; justify-content: space-between; width: 160px; position: absolute; right: 0px; bottom: 42px; -webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
.footer-inner .footer-conts .sns-footer a {opacity: .4;}
.footer-inner .footer-conts .sns-footer a:hover {opacity: 1;}

/* contents */
.inner {max-width: 1600px;margin: 0 auto;}
section{position: relative;}

.motion-tit{margin: 0 0 100px 0; overflow: hidden; opacity: 0; animation: fadeIn 1.6s forwards;}
.motion-tit > span{display: block; font-family: 'Poppins', sans-serif; font-size: 120px; line-height: 168px; color: #fff; transform-origin: 50% 50%; transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5); animation:skewUp 0.8s forwards}

.section1{min-height: 950px;}
.section1 .inner{position: relative; padding-top: 200px;}
.section1-start{position:absolute;top: 0px;}

.section_1 .inner{position: relative; padding-top: 200px;}
.overflow-h{overflow: hidden;}

.normal-tab-wrap .normal-tab ul{display: flex;}
.normal-tab-wrap .normal-tab ul li + li{margin-left: 30px;}
.normal-tab-wrap .normal-tab ul li a{position: relative; font-family: 'Poppins', sans-serif; font-size: 22px;color: #fff; line-height: 30px;}
.normal-tab-wrap .normal-tab ul li a.active:before {opacity: 1;color: #ffffff;width: 100%;position: absolute;bottom: -2px;display: block;height: 2px;content: "";background-color: #fff;}
.normal-tab-wrap .normal-tab ul li a:before,
.normal-tab-wrap .normal-tab ul li a:after {position: absolute;-webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
.normal-tab-wrap .normal-tab ul li a:before {bottom: -2px;display: block;height: 2px;width: 0%;content: "";background-color: #fff;}
.normal-tab-wrap .normal-tab ul li a:after {left: 0;top: 0;padding: 0.5em 0;position: absolute;content: attr(data-hover);color: #ffffff;white-space: nowrap;max-width: 0%;overflow: hidden;}
.normal-tab-wrap .normal-tab ul li a:hover:before {opacity: 1;width: 100%;}
.normal-tab-wrap .normal-tab ul li a:hover:after {max-width: 100%;}

.normal-list-wrap{margin-top: 70px;border-top: 1px solid #919191; border-bottom: 1px solid #919191; color: #fff;}
.normal-list-wrap .normal-list ul li{position: relative;display: table;padding-top: 40px;padding-bottom: 20px; min-height: 230px;}
.normal-list-wrap .normal-list ul li+li{padding-top: 30px;}
.normal-list-wrap .normal-list ul li:last-child::after{display: none;}
.normal-list-wrap .normal-list ul li .list-text-wrap{position: relative;display: table-cell;width: 50%;padding-right: 2%;}
.normal-list-wrap .normal-list ul li:last-child .list-text-wrap:after{display: none;}
.normal-list-wrap .normal-list ul li .list-text-wrap:after{content: "";position:absolute; bottom: 0;width: 96%;border-bottom: 1px solid #919191;color: #fff;}
.normal-list-wrap .normal-list ul li span{display: block;}

.normal-list-wrap .normal-list ul li .list-title{padding-top: 40px;font-size: 60px;}
.normal-list-wrap .normal-list ul li .list-sub{overflow: hidden;margin-top: 20px;font-size: 20px; color: #919191;letter-spacing: 0; line-height: 30px;height: 60px;}
.normal-list-wrap .normal-list ul li .list-more{margin-top: 40px;}
.normal-list-wrap .normal-list ul li .list-more a{position: relative; color: #DBFC00;}

.normal-list-wrap .normal-list ul li .list-more a:before,
.normal-list-wrap .normal-list ul li .list-more a:after {position: absolute;-webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
.normal-list-wrap .normal-list ul li .list-more a:before {bottom: -4px;display: block;height: 1px;width: 0%;content: "";background-color: #DBFC00;}
.normal-list-wrap .normal-list ul li .list-more a:after {left: 0;top: 0;padding: 0.5em 0;position: absolute;content: attr(data-hover);color: #ffffff;white-space: nowrap;max-width: 0%;overflow: hidden;}
.normal-list-wrap .normal-list ul li .list-more a:hover:before {opacity: 1;width: 100%;}
.normal-list-wrap .normal-list ul li .list-more a:hover:after {max-width: 100%;}
.normal-list-wrap .normal-list ul li .list-img{display: table-cell;position: relative; top: -20px;}

.slider{overflow: hidden;;width: 100%;}
.slider{position: absolute;top: 0;z-index: 1;}

/* form */
.check-type1 label {position: relative;padding-left: 30px;}
.check-type1 label span {vertical-align: middle;white-space: nowrap;display: inline-block;padding-top:3px;}
.check-type1 label input[type=checkbox]:checked{background-position: 0 100%;}
.check-type1 label input[type=checkbox] {position: absolute;left: 0;width: 20px;height: 20px;background: url(../images/common/check.png) no-repeat 0 0;}
.radio-type1 label span {/* vertical-align: middle; */white-space: nowrap;display: block;padding-top:3px;}
.radio-type1 label{position: relative;padding-left: 30px;}
.radio-type1 label input[type=radio] {content: "";position: absolute;left: 0;top: 0;width: 20px;height: 20px;margin-right: 10px;background: url(../images/common/radio.png) no-repeat;}
.radio-type1 label {display: block;}
.radio-type1 label input[type=radio]:checked {background-position: 0 100%;}

.ip-wrap{overflow: hidden;}
.ip-wrap .radio-type1 {float: left;margin-right: 30px;padding-top: 15px;}
.ip-wrap strong {float: left;display: block;font-weight: bold;line-height: 48px;margin-right: 30px;}

/* table */
.basic-table {width: 100%;}
.basic-table, .basic-table th, .basic-table td {padding:4px 2px;border: 1px solid darkgray;border-collapse: collapse;table-layout: fixed;font-size: 1em;background-color: #fff;}
.basic-table td.etc {font-size: .1em;}
.basic-table td.etc{font-size: .7em;}
.basic-table th{background-color: ivory;}
.basic-list{padding: 0 20px}
.basic-list-cp{margin: 10px auto;margin-bottom:40px;}
.basic-table{margin: 10px auto;}
.table-date{text-align: right;}
/* .basic-table-wrap{} */

.notice-table {width: 100%;}
.notice-table, .notice-table th, .notice-table td {padding:14px 8px;border-collapse: collapse;table-layout: fixed;font-size: 14px;background-color: #fff;text-align: center;}
.notice-table td,
.notice-table th {border-top: 1px solid darkgray;vertical-align: middle;}
.notice-table td.etc{font-size: .7em;}
.notice-table td.notice-title{text-align: left;}
.notice-table th{background-color: ivory;}
.notice-list{padding: 0 20px}
.notice-list-cp{margin: 10px auto;margin-bottom:40px;}
.notice-table{margin: 10px auto;}
.table-date{text-align: right;}
/* .notice-table-wrap{} */

.col-wid10 {width: 10%;}
.col-wid15 {width: 15%;}
.col-wid55 {width: 55%;}
.notice-top{display: table;width: 100%;}
.notice-top .notice-top-num{display: table-cell;text-align: left;vertical-align: middle;}
.notice-top .notice-top-sch{display: table-cell;text-align: right;}

.pagination-wrap{overflow: hidden;text-align: center;margin-top:40px;margin-bottom:150px; font-family: 'Poppins', sans-serif;}
.pagination {display: inline-block;}
.pagination a {color: #fff;float: left;padding: 8px 16px;text-decoration: none; font-size: 50px; opacity: .3;}
.pagination a.active {color: white;opacity: 1;}
.pagination.small-type {border: 1px solid #ccc!important;}
.pagination.small-type li {display: inline;}
.pagination.small-type li a{color: black;float: left;padding: 8px 16px;text-decoration: none;}
.pagination.small-type li a.border-right{border-right: 1px solid #ccc!important;}

.notice-view-top {padding-bottom: 20px; border-bottom: 1px solid #ccc!important;}
.notice-view-top p {margin-top: 20px; margin-bottom: 10px; font-size: 16px; font-weight: bold;}
.notice-view-info {font-size: 14px;}
.notice-view-info span em{font-weight: bold;}
.notice-view-ct {margin-top: 20px; margin-bottom: 20px; padding-top: 10px; padding-bottom: 30px; line-height: 1.6; border-bottom: 1px solid #ccc!important;}
.notice-view-link {margin-top: 20px; margin-bottom: 20px;}
.notice-view-link dl {display: table;}
.notice-view-link dl dt {display: table-cell; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; font-weight: bold;}
.notice-view-link dl dd {display: table-cell; padding-top: 10px; padding-bottom: 10px;}

/* button */
.btn-wrap {margin-top: 20px; margin-bottom: 20px;}
.btns{display: inline-block;border-radius: 4px;border: 1px solid #e5e5e5;background: #fff;box-sizing: content-box;text-align: center;height: 42px;min-width: 80px;}
a.btns{padding: 15px 6px 14px;/* padding-top: 14px; */vertical-align: top;height: auto;color: #333;}

/** Custom Select **/
/* The container must be positioned relative: */
.custom-select {position: relative;}
.custom-select select {display: none; /*hide original SELECT element: */}
.select-selected {background-color: transparent;border: 1px solid #535353 !important;}

/* Style the arrow inside the select element: */
.select-selected:after {position: absolute;content: "";top: 14px;right: 20px;width: 24px; height: 20px; background: url(..//images/sub/select_down.png) no-repeat 0 0; transition: all ease .5s;}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {transform: rotate( 180deg );}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {font-size: 14px;color: #fff;padding: 17px 24px;border: 1px solid transparent;border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;cursor: pointer;border-radius: 25px;}
.select-selected.select-arrow-active{border-radius: 25px 25px 0 0; border-bottom-color: transparent !important;}

/* Style items (options): */
.select-items {position: absolute;background-color: transparent;border-left: 1px solid #535353 !important;border-right: 1px solid #535353 !important;border-bottom: 1px solid #535353 !important;top: 100%;left: 0;right: 0;z-index: 99;}

/* Hide the items when the select box is closed: */
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {background-color: rgba(0, 0, 0, 0.1);}

/* IE */
select::-ms-expand {display: none;}
.select {-o-appearance: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.select {position: relative;top: -2px;width: 150px;height: 48px;background: url('../images/common/down_arrow.png') calc(100% - 10px) center no-repeat;background-size: 10px;padding: 5px 30px 5px 10px;border-radius: 4px;outline: 0 none;}
.select option {color: #000;padding: 3px 0;}

/* Popup Layer */
.pop-layer .pop-container {padding: 20px 25px;}
.pop-layer p.ctxt {color: #666;line-height: 25px;}
.pop-layer .btn-r {width: 100%;margin: 10px 0 20px;padding-top: 10px;border-top: 1px solid #DDD;text-align: right;}
.pop-layer {display: none;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 410px;height: auto;background-color: #fff;border: 1px solid #ddd;z-index: 10;box-shadow: 5px 5px 10px grey;}
.dim-layer {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;box-shadow: 20px 20px 50px grey;}
.dim-layer .dimBg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity=50);}
.dim-layer .pop-layer {display: block;}
a.btn-layerClose {display: inline-block;height: 25px;padding: 0 14px 0;border: 1px solid #ddd;background-color: #ddd;font-size: 13px;color: #000;line-height: 25px;}

/* List */
.list-ul-1{margin-left: 20px;list-style: disc;}
.list-ul-1 li+li{margin-top:4px;}
.list-ul-2 li{position: relative;padding-left: 20px;}
.list-ul-2 li::after{content: "-";position: absolute;left: 2px;top: 0;}
.list-ul-2 li+li{margin-top:4px;}
.list-ol-1{margin-left: 20px;list-style: decimal;}
.list-ol-1 li+li{margin-top:4px;}

/* Icon */
.icon {background: url('https://i.picsum.photos/id/738/200/200.jpg?hmac=s1pXxIw4TdDLyUY2RRVeDyhLPUF2xW3AFjdzjVsE6zc');height: 16px;width: 16px;display: inline-block;/* Other styles here */}

/* Tab */
.tab-container {position: relative;width:100%;margin:auto;}
.tab-container .tab-content {width:100%;padding: 30px 0;}
.tabs ul {width: 100%;display:table;table-layout: fixed;padding:0}
.tabs li {display: table-cell;background: #f6f7f9;border-top: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #222;text-align: center;vertical-align: middle;}
.tabs li.active {background: #fff;border-top: 1px solid #222;border-left: 1px solid #222;border-right: 1px solid #222;border-bottom: 1px solid transparent;}
.tabs li.active a {color: #000;font-weight: bold;}
.tabs li a {padding: 20px;font-size: 14px;color: #222;display: block;height: 100%;/* vertical-align: middle; */text-decoration: none;color: #000}

/* news-list-wrap */
.news-list-wrap .normal-list{margin: 0 -25px;}
.news-list-wrap .normal-list ul{display: flex; flex-wrap: wrap; flex: 0 0 auto;}
.news-list-wrap .normal-list ul li{margin-bottom: 120px; flex: 0 0 auto; width: 33.333%; padding: 0 25px; box-sizing: border-box;}
.news-list-wrap .normal-list ul li.bigger{flex: 0 0 auto; width: 66.666%;}
.news-list-wrap .normal-list ul li .anchor-box{position: relative;}
.news-list-wrap .normal-list ul li .anchor-box a{position: absolute; width: 100%; height: 100%;}
.news-list-wrap .normal-list ul li .news-img{margin-bottom: 40px;}
.news-list-wrap .normal-list ul li .news-img img{display: block; width: 100%;}
.news-list-wrap .normal-list ul li .news-title{display:-webkit-box; font-size: 32px; line-height: 44px; color: #FFFFFF; word-break:keep-all; letter-spacing:0; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden}
.news-list-wrap .normal-list ul li .news-sub{display: block; font-size: 20px; line-height: 32px; color: #919191; margin: 20px 0 40px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.news-list-wrap .normal-list ul li .view-more{font-family: 'Poppins', sans-serif; font-size:16px; color: #DBFC00; }
.more-btn-box{text-align: center; margin-bottom: 150px;}
.more-btn-box button{font-family: 'Poppins', sans-serif; font-size:50px; color: #555; background-color: transparent;}
/* search-wrap */
.blind {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.search-wrap{display: flex; flex-direction: row-reverse; margin-bottom: 30px;}
.motion-tit + .search-wrap {margin-top: -80px;}
.search-wrap .search-box{display: flex; justify-content: center; align-items: center;}
.search-wrap .search-box .unit-box{border-bottom: 2px solid #fff; position: relative;}
.search-wrap .search-box .unit-box+.unit-box{margin-left: 20px;}
.search-wrap .search-box .unit-box select{padding: 11px 0 7px; top: 0; border: 0; width: 100px; color: #fff; font-weight: 600; font-size: 18px; background-size: auto; background-image: url(../images/common/down_arrow_select.svg); background-position: right center;}
.search-wrap .search-box .unit-box [type="search"]{padding: 9px 24px 9px 0; border-radius: 0; border: 0; background-color: transparent; width: 220px; color: #fff; font-size: 18px; letter-spacing: 0;}
.search-wrap .search-box .unit-box.w-250 [type="search"]{width: 250px;}
.search-wrap .search-box .unit-box.w-360 [type="search"]{width: 360px;}
.search-wrap .search-box .unit-box [type="search"]::placeholder{font-weight: 500; color: #555;}
.search-wrap .search-box .unit-box .search-btn{position: absolute; right: 0; top: 10px; width: 24px; height: 24px; background-image: url(../images/common/search_btn.svg); background-color: transparent; background-repeat: no-repeat; background-position: center;}
.search-wrap .search-box .unit-box [type="search"]::-ms-clear,
.search-wrap .search-box .unit-box [type="search"]::-ms-reveal{display: none;}
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-decoration,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-cancel-button,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-results-button,
.search-wrap .search-box .unit-box [type="search"]::-webkit-search-results-decoration {display: none;}

/* .news-contents-wrap{margin-top: 100px;} */
.news-title-wrap{position: relative; padding: 60px 0; border-top: 1px solid #444444; border-bottom: 1px solid #444444;}
.news-title-wrap h4{font-size: 50px; font-weight: 600; color: #fff; margin: 0; line-height: 50px;}
.news-title-wrap p.date{margin-top: 24px; color: #919191; font-size: 20px;}
.ver-recruit .news-title-wrap .experience{position: absolute; right: 60px; top: 50%; font-size: 22px; color: #DBFC00; transform: translateY(-50%);}
.news-contents-box{padding: 40px 0 120px; border-bottom: 1px solid #444444; font-size: 22px; color: #fff; letter-spacing: -1px; line-height: 36px;}
.news-contents-box a {color: #fff;}
.news-contents-slide{position: relative; width: calc(100% + 24px); height: 800px; margin-left: -12px; margin-bottom: 20px; padding-bottom: 40px; overflow: hidden;}
.news-contents-slide .contents-img{width: 100%; max-width: 1420px; height: 100%; margin: 0 auto}
.news-contents-slide .contents-img p{font-size: 18px; line-height: 38px; color: #919191; text-align: center;}
.news-contents-slide .contents-img > img{display: block; max-width: 100%; max-height: 100%; margin: 0 auto;}
.news-contents-slide [class^="btn-"] {position: absolute; width: 50px; height: 50px; top: calc(50% - 25px); background: url(../images/sub/icon-arrow-left.svg) no-repeat center / contain; box-sizing: border-box; cursor: pointer; z-index: 10; transition: opacity 0.2s ease}
.news-contents-slide .btn-prev {left: 200px}
.news-contents-slide .btn-next {right: 200px; transform: rotate(180deg)}
.news-contents-slide .swiper-button-disabled{cursor: default; opacity: 0.3;}
.news-contents-slide .slide-pagination{position: absolute; display: flex; justify-content: center; align-items: center; width: 60px; height: 32px; bottom: 20px; left: 50%; border-radius: 32px; background: rgba(0,0,0,0.7); transform: translateX(-50%); z-index: 51;}
.news-contents-slide .slide-pagination .swiper-pagination-total::after{content: ''; display: block; position: absolute; width: 1px; height: 8px; top: calc(50% - 4px); left: calc(50% - 0.5px); background: #919191; opacity: 0.4;}
.news-contents-slide .slide-pagination .swiper-pagination-current{display: inline-block; min-width: 8px; color: #fff; font-size: 12px; line-height: 32px; text-align: center;}
.news-contents-slide .slide-pagination .swiper-pagination-total{display: inline-block; min-width: 8px; margin-left: 21px; color: #919191; font-size: 12px; line-height: 32px; opacity: 0.4; text-align: center;}

.news-contents-slide .slide-pagination{padding-left: 20px; padding-right: 20px; border-radius: 20px; background-color: #222;}
.news-contents-slide .slide-pagination::after{content: ''; display: block; position: absolute; top: 6px; left: 6px; width: 20px; height: 20px; background: url(../images/sub/news_arrow_prev_small.png) no-repeat 0 0;}
.news-contents-slide .slide-pagination::before{content: ''; display: block; position: absolute; top: 6px; right: 6px; width: 20px; height: 20px; background: url(../images/sub/news_arrow_next_small.png) no-repeat 0 0;}

.contents-pagination{margin: 40px 0 150px}
.contents-pagination.right {width: calc(50% - 50px); margin-left: auto;}
.contents-pagination ul{display: flex; justify-content: space-between;}
.contents-pagination ul a{display: block; font-family: 'Poppins', sans-serif; font-size: 40px; color: #555;}
.contents-pagination ul .prev{width: 50px; height: 50px; background: url(../images/common/news_arrow_prev.svg) no-repeat center 100%;}
.contents-pagination ul .next{width: 50px; height: 50px; background: url(../images/common/news_arrow_next.svg) no-repeat center 100%;}

.contents-pagination.type2{margin-top: 80px; text-align: center;}
.contents-pagination.type2 a {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #555;
}

.tabs ul::after{display: block; content: ''; clear: both; float: inherit;}
.tabs ul li{float: left; background-color: transparent; border: 0; padding: 0;}
.tabs ul li:nth-child(n+2){margin-left: 60px;}
.tabs ul li.active{background-color: transparent; font-weight: 400; border: 0;}
.tabs ul li a{background-color: transparent; color: #333; font-size: 120px; font-family: 'Poppins', sans-serif; padding: 0;}
.tabs ul li.active a{background-color: transparent; color: #fff; font-weight: 400;}

/* .information{margin-top: 100px;} */
.information .info-box::after{display: block; content: ''; clear: both; float: inherit;}
.information .info-box li{float: left; width: 400px;}
.information .info-box li:first-child{width: 100%;}
.information .info-box li dt{font-size: 26px; font-family: 'Poppins', sans-serif; color: #fff;}
.information .info-box li dt strong{font-weight: bold;}
.information .info-box li dd{font-size: 20px; color: #919191;}
.information .info-box li dd a{color: #919191;}
.information .info-box li:first-child dl{display: table;}
.information .info-box li:first-child dl:nth-child(n+2){margin-top: 30px;}
.information .info-box li:first-child dt,
.information .info-box li:first-child dd{display: table-cell;}
.information .info-box li:first-child dt{width: 137px;}
.information .info-box li:nth-child(n+2) dd{padding-top: 20px;}
.information .info-box li:nth-child(n+2) dd li:nth-child(n+2){margin-top: 16px;}
.information .info-box .tel,
.information .info-box .email{font-family: 'Poppins', sans-serif;}

.information .info-box .sns-wrap {}
.information .info-box .sns-wrap a {padding-left: 34px; background: url(../images/common/ico-facebook.png) no-repeat 0 3px;}
.information .info-box .sns-wrap a+a {margin-left: 26px;}
.information .info-box .sns-wrap .ico-facebook {background-image: url(../images/common/ico-facebook.png);}
.information .info-box .sns-wrap .ico-instagram {background-image: url(../images/common/ico-instagram.png);}
.information .info-box .sns-wrap .ico-youtube {background-image: url(../images/common/ico-youtube.png);}

.maps-wrap{width: 100%; height:600px; background-color: gray; margin-top: 58px; margin-bottom: 150px;}

.list-type-table table{width: 100%; vertical-align: middle;}
.list-type-table table td{vertical-align: middle; height: 144px; border-top: 1px solid #444444;}
.list-type-table table tr:last-child td{border-top: 1px solid #444444; border-bottom: 1px solid #444444;}
.list-type-table table .num{font-size: 24px; color: #919191; text-align: center; font-family: 'Poppins', sans-serif;}
.list-type-table table .title a{font-size: 32px; color: #fff; display: inline-block; line-height: 32px;}
.list-type-table table .experience{font-size: 22px; color: #DBFC00; text-align: center;}
.list-type-table table .date{font-size: 24px; color: #919191; font-family: 'Poppins', sans-serif;}
.list-type-table table .n-notice{padding-top: 2px; text-align: center;}

/* works */
/* works - list */
.works .normal-tab-wrap{margin-top: -84px;}
.works-list-wrap{margin-top: 102px;}
.works-list-wrap .normal-list{margin: 0 -25px;}
.works-list-wrap .normal-list > ul{display: flex; flex-wrap: wrap; flex: 0 0 auto;}
.works-list-wrap .normal-list > ul > li{margin-bottom: 120px; flex: 0 0 auto; width: 33.333%; padding: 0 25px; box-sizing: border-box;}
.works-list-wrap .normal-list ul li.bigger{flex: 0 0 auto; width: 66.666%;}
.works-list-wrap .normal-list .anchor-box{position: relative;}
.works-list-wrap .normal-list .anchor-box a{position: absolute; width: 100%; height: 100%; z-index: 1;}
.works-list-wrap .normal-list .works-img{position: relative; margin-bottom: 40px;}
.works-list-wrap .normal-list .works-img img{display: block; width: 100%;}
.works-list-wrap .normal-list .works-title{font-size: 32px; line-height: 44px; color: #FFFFFF;}
.works-list-wrap .normal-list .works-sub{display: block; font-size: 20px; line-height: 32px; color: #919191; margin: 20px 0 40px; letter-spacing: 0; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.works-list-wrap .normal-list .view-more{font-family: 'Poppins', sans-serif; font-size:16px; color: #DBFC00; }
.works-img .img-hover-box {display: none;}
.anchor-box:hover .img-hover-box{position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: flex; flex-direction:column-reverse; align-items: center; padding: 0 50px;}
.anchor-box:hover .img-hover-box{background: linear-gradient(rgb(219 252 0 / 10%), 50%, rgb(219 252 0 / 100%))}

.anchor-box .works-img {overflow: hidden;}
.anchor-box .works-img img{transition: all .6s;}
.anchor-box:hover .works-img img{transform: scale(1.05); transition: transform .2s; /* Animation */ }

.works-img .img-hover-list{color: #000000; font-size: 22px; line-height: 44px; letter-spacing: 0; width: 100%; margin-bottom: 50px;}
.works-img .img-hover-list > li{display: flex; justify-content: space-between; border-bottom: 1px solid rgba(115, 129, 24, 0.4);}
.works-img .img-hover-list > li:last-child{border-bottom: 0;}
.works-img .img-hover-list > li + li{margin-top: 20px;}
.works-img .img-hover-list > li span{display: block; margin-bottom: 20px;}

/* 1366px design */
@media (max-width: 1366px) {
    .anchor-box:hover .img-hover-box {
        padding: 0 40px;
    }
    .works-img .img-hover-list {
        margin-bottom: 40px;
    }
}

/* works - view */
.section1.works-view{min-height: 0; padding-top: 0;}
.works-view-wrap{position: relative;; margin-top: -100px; padding-bottom: 247px; display: flex; width: 100%;}
.works-view-wrap::after{content: ''; display: block; clear: both;}
.works-view-left{ top: 0; width: 55%; padding-top: 100px; padding-right: 80px; box-sizing: border-box;}
.works-view-right{top: 0; width: 45%; padding-top: 100px; box-sizing: border-box;}
.works-view-wrap .view-tag{display: flex;}
.works-view-wrap .view-tag .tag{display: block; padding: 0 11px; border: 1px solid #919191; border-radius: 30px; color: #919191; font-family: 'Poppins', sans-serif; font-size:16px; line-height: 28px;}
.works-view-wrap .view-tag .tag + .tag{margin-left: 8px;}
.works-view-wrap .view-title{margin-top: 44px; color: #fff; font-size: 70px; font-weight: 500; line-height: 100px;}
.works-view-wrap .view-sub{margin-top: 13px; color: #919191; font-size: 20px; line-height: 32px;}
.works-view-right .view-cont{}
.works-view-wrap .cont-info-list{margin-top: 64px; border-top: 1px solid #444; border-bottom: 1px solid #444;}
.works-view-wrap .cont-info-list > li{display: flex; padding: 16px 0 40px;}
.works-view-wrap .cont-info-list > li + li{border-top: 1px solid #444;}
.works-view-wrap .cont-info-list .list-tit{min-width: 278px; color: #919191; font-size: 20px; line-height: 32px;}
.works-view-wrap .cont-info-list .list-txt{color: #fff; font-size: 20px; line-height: 32px;}
.works-view-wrap .view-cont .cont-img{width: 100%;}
.works-view-wrap .view-cont .cont-img > img{display:block; width: 100%;}
.works-view-wrap .view-cont .cont-img > img + img{margin-top: 30px;}
.works-view-wrap .contents-pagination{margin-bottom: 0;}

.works-view-right img {width: 100%;}

.works-view .contents-youtube {text-align: center;}
.works-view .contents-pagination {margin-top: 80px;}
.works-view .contents-pagination:before {content: ""; display: block; margin-bottom: 40px; border-top: 1px solid #444;}

/* about */
.about .motion-tit{margin-bottom:195px;}
.about h3.tit{margin: 0; color: #fff; font-family: 'Poppins', sans-serif; font-size: 50px; font-weight: normal; line-height: 70px}
.section1.about .sec1-txt-area{padding-top: 248px;}
.section1.about .sec1-txt-area .txt1{color: #fff; font-size: 80px; font-weight: 500; line-height: 110px; letter-spacing: 0;}
.section1.about .sec1-txt-area .txt2{display: inline-block; padding-top: 100px; color: #fff; font-size: 30px; line-height: 60px; text-align: left; letter-spacing: 0;}
.section1.about .bg{position: absolute; width: 100%; height: 800px; left: 0; right: 0; top: 224px; background: url(../images/sub/img-about-bg.png) no-repeat center / 100% auto;}
.section1.about .bg::before {content: ''; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,1) 100%);}

.section2.about{margin-top: 360px;}
.section2.about .sec2-txt-area .txt1{color: #fff; font-size: 80px; font-weight: 500; line-height: 110px; letter-spacing: 0;}
.section2.about .sec2-txt-area .txt1 .icon-x{display: inline-block; width: 72.8px; height: 66.5px; margin-left: 12px; background: url(../images/sub/icon-x.svg) no-repeat center / contain; font-size: 0; text-indent: -9999%; overflow: hidden;}
.section2.about .sec2-txt-area .txt2{margin-top: 103px; color: #fff; font-size: 30px; font-weight: 500; line-height: 50px; text-align: left; letter-spacing: 0;}
.section2.about .sec2-txt-area .txt2 .icon-x{display: inline-block; width: 27.37px; height: 25px; margin-left: 6px; background: url(../images/sub/icon-x.svg) no-repeat center / contain; font-size: 0; text-indent: -9999%; overflow: hidden;}
.section2.about .sec2-txt-area .logo{margin-top: 158px}
.section2.about .sec2-txt-area .logo > img{display: block;}

.section3.about{margin-top:317px}
.section3.about .sec3-ani-area{display: flex; flex-wrap: nowrap; align-items: center; margin-top: 43px;}
.section3.about .sec3-ani-box{position: relative; width: calc(100% - 13px); min-width: calc(100% - 13px); height:550px; background-color:#191919 }
.section3.about .sec3-ani-box.box1{width: calc(25% - 10px); min-width: 390px;}
.section3.about .sec3-ani-box + .sec3-ani-box{margin-left: 13px;}
.section3.about .sec3-ani-box.box3{margin-left: 14px;}
.section3.about .sec3-ani-box .item-num{position: absolute; top: 30px; left: 30px; color: #555; font-family: 'Poppins', sans-serif; font-size: 20px; line-height: 28px}
.section3.about .sec3-ani-box .item-tit{position: absolute; max-width:100%; top:50%; left:50%; transform: translate(-50%,-50%); color: #fff; font-family: 'Poppins', sans-serif; font-size: 50px; font-weight: bold; text-align: center; letter-spacing: 0; z-index: 10; opacity: 0; transition: opacity 0.4s;}
.section3.about .sec3-ani-box .item-des{position: absolute; left: 0; right: 0; bottom: 40px; color: #919191; font-size: 14px; line-height: 22px; text-align: center; letter-spacing: 0; opacity: 0; transition: opacity 0.4s;}
.section3.about .sec3-ani-box .item-des > strong {color: #fff}
.section3.about .sec3-ani-box .motions{position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; transition: opacity 0.2s;}

.sec3-ani-box.on #motion1-1{animation: motion1-1 0.6s ease-in forwards}
.sec3-ani-box.on #motion1-2{animation: motion1-2 0.6s 0.2s ease-in forwards}
.sec3-ani-box.on #motion1-3{animation: motion1-3 0.8s ease-in forwards}

.sec3-ani-box.on #motion2-1{animation: motion2-1 0.6s ease-in forwards}
.sec3-ani-box.on #motion2-2{animation: motion2-2 0.6s ease-in forwards}
.sec3-ani-box.on #motion2-3{animation: motion2-3 0.6s ease-in forwards}
.sec3-ani-box.on #motion2-4{animation: motion2-4 0.6s ease-in forwards}

.sec3-ani-box.on #motion3-1{animation: motion3 0.1s ease-in forwards}
.sec3-ani-box.on #motion3-2{animation: motion3 0.1s 0.1s ease-in forwards}
.sec3-ani-box.on #motion3-3{animation: motion3 0.1s 0.2s ease-in forwards}
.sec3-ani-box.on #motion3-4{animation: motion3 0.1s 0.3s ease-in forwards}
.sec3-ani-box.on #motion3-5{animation: motion3 0.1s 0.4s ease-in forwards}
.sec3-ani-box.on #motion3-6{animation: motion3 0.1s 0.5s ease-in forwards}
.sec3-ani-box.on #motion3-7{animation: motion3 0.1s 0.6s ease-in forwards}
.sec3-ani-box.on #motion3-8{animation: motion3 0.1s 0.7s ease-in forwards}
.sec3-ani-box.on #motion3-9{animation: motion3 0.1s 0.8s ease-in forwards}

.sec3-ani-box.on #motion4-1{animation: motion4-1 0.6s ease-in forwards}
.sec3-ani-box.on #motion4-2{animation: motion4-2 0.6s ease-in forwards}
.sec3-ani-box.on #motion4-3{animation: motion4-3 0.6s ease-in forwards}
.sec3-ani-box.on #motion4-4{animation: motion4-4 0.6s ease-in forwards}
.sec3-ani-box.on #motion4-5{animation: motion4-5 0.6s ease-in forwards}
.sec3-ani-box.on #motion4-6{animation: motion4-6 0.6s ease-in forwards}
.sec3-ani-box.on #motion4-7{animation: motion4-7 0.6s ease-in forwards}
.sec3-ani-box.on #motion4-8{animation: motion4-8 0.6s ease-in forwards}
@keyframes motion1-1 {
    0% {transform: translate(187.91px, 2827px) rotate(-135deg)}
    100% {transform: translate(387.91px, 3027px) rotate(-135deg)}
}
@keyframes motion1-2 {
    0% {transform: matrix(0.766, -0.643, 0.643, 0.766, 620.501, 3038.543)}
    100% {transform: matrix(0.766, -0.643, 0.643, 0.766, 420.501, 3238.543)}
}
@keyframes motion1-3 {
    0% {transform: translate(297.431px, 3441.388px) rotate(48deg)}
    100% {transform: translate(197.431px, 3341.388px) rotate(48deg)}
}
@keyframes motion2-1 {
    0% {transform: translate(22px, 2342px) rotate(-180deg)}
    100% {transform: translate(322px, 2342px) rotate(-180deg)}
}
@keyframes motion2-2 {
    0% {transform: translate(822px, 2342px) rotate(-180deg)}
    100% {transform: translate(522px, 2342px) rotate(-180deg)}
}
@keyframes motion2-3 {
    0% {transform: translate(350px, 1970px) rotate(-90deg)}
    100% {transform: translate(350px, 2270px) rotate(-90deg)}
}
@keyframes motion2-4 {
    0% {transform: translate(350px, 2770px) rotate(-90deg)}
    100% {transform: translate(350px, 2470px) rotate(-90deg)}
}
@keyframes motion3 {
    0% {width: 0}
    100% {width: 10px}
}
@keyframes motion4-1 {
    0% {width: 0; transform: translate(1565px, 2315px)}
    100% {width: 300px; transform: translate(1415px, 2315px)}
}
@keyframes motion4-2 {
    0% {width: 0; transform: translate(1570px, 2320px) rotate(90deg)}
    100% {width: 300px; transform: translate(1570px, 2170px) rotate(90deg)}
}
@keyframes motion4-3 {
    0% {width: 0; transform: translate(1569.07px, 2317px) rotate(45deg)}
    100% {width: 300px; transform: translate(1462.071px, 2210px) rotate(45deg)}
}
@keyframes motion4-4 {
    0% {width: 0; transform: translate(1568.203px, 2323.071px) rotate(135deg)}
    100% {width: 300px; transform: translate(1674.203px, 2217.071px) rotate(135deg)}
}
@keyframes motion4-5 {
    0% {width: 0; transform: translate(1565.33px, 2314.98px) rotate(22.5deg)}
    100% {width: 300px; transform: translate(1428.332px, 2257.978px) rotate(22.5deg)}
}
@keyframes motion4-6 {
    0% {width: 0; transform: translate(1569.02px, 2321.33px) rotate(112.5deg)}
    100% {width: 300px; transform: translate(1627.022px, 2183.331px) rotate(112.5deg)}
}
@keyframes motion4-7 {
    0% {width: 0; transform: translate(1571.001px, 2316.984px) rotate(67.5deg)}
    100% {width: 300px; transform: translate(1512.001px, 2178.984px) rotate(67.5deg)}
}
@keyframes motion4-8 {
    0% {width: 0; transform: translate(1566.28px, 2323.7px) rotate(157.5deg)}
    100% {width: 300px; transform: translate(1705.28px, 2266.696px) rotate(157.5deg)}
}

.section4.about{margin-top: 192px;}
.section4.about .inner{padding-bottom: 160px;}
.section4.about .sec3-ci-area {width: 100%;}
.section4.about .sec3-ci-area .logo-wrap{display: flex; align-items: center; width: 100%; height: 400px; margin-top: 60px; border: 1px solid #111; background: url(../images/sub/img-ablout-ci-bg.svg) repeat-x center / auto 100%;}
.section4.about .sec3-ci-area .logo-wrap .logo{width: 50%}
.section4.about .sec3-ci-area .logo-wrap .logo > img{display: block; margin: 0 auto;}
.section4.about .sec3-ci-area .btn-wrap{margin: 24px 0 0 0; text-align: right;}
.section4.about .sec3-ci-area .btn-wrap .btn-down{position: relative; padding-right: 32px; color: #919191; font-size: 20px; line-height: 30px;}
.section4.about .sec3-ci-area .btn-wrap .btn-down::after{content: ''; display: block; position: absolute; width: 24px; height: 24px; top: calc(50% - 12px); right: 0; background: url(../images/sub/icon-download-919191.svg) no-repeat center / contain;}
.section4.about .sec3-ci-area .btn-wrap .btn-down + .btn-down{margin-left: 40px;}
.section4.about .sec3-ci-area .btn-wrap .btn-down > span{font-family: 'Poppins', sans-serif;}

/* partners */
/* .partners-list-wrap{padding-top: 20px;} */
.partners-list-wrap .normal-list{margin: 0 -35px;}
.partners-list-wrap .normal-list > ul{display: flex; flex-wrap: wrap; flex: 0 0 auto;}
.partners-list-wrap .normal-list > ul > li{ flex: 0 0 auto; width: 33.333%; padding: 0 25px; box-sizing: border-box;}
.partners-list-wrap .normal-list > ul > li .partners-box{position: relative; background-color: #191919;}
.partners-list-wrap .normal-list > ul > li .partners-tit{margin-top: 20px; margin-bottom: 20px; text-align: center; font-size: 22px; color: #919191;}
.partners-list-wrap .normal-list > ul > li .partners-box .partners-logo{padding-top: 60px; padding-bottom: 60px; text-align: center;}

/* site map */
.site-map {margin: 180px 160px 250px;}
.site-map .motion-tit {margin-bottom: 200px;}
.site-map .motion-tit span {font-size: 120px; font-family: 'Poppins', sans-serif; line-height: 180px;}
.site-map .site-map-wrap {display: flex; justify-content: space-around;}
.site-map .site-map-wrap .site-map-inn h4 {margin: 0 0 40px; font-size: 50px; line-height: 76px; color: #fff; font-weight: normal; text-align: center; font-family: 'Poppins', sans-serif;}
.site-map .site-map-wrap .site-map-inn ul li {margin-bottom: 20px; font-size: 40px; line-height: 60px; color: #919191; font-weight: normal; text-align: center; font-family: 'Poppins', sans-serif;}
.site-map .site-map-wrap .site-map-inn ul li a {color: #919191;}
.site-map .site-map-wrap .site-map-inn ul li a:hover {color: #fff;}

@keyframes skewUp {
  0% {transform: translate(0%, 130%) skew(-10deg, 0deg) scale(1, 1.5);}
  100% {transform: translate(0,0);}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (max-width: 1620px) {
    .works-view-right section{
        width: 660px;
        height: 917px;
        overflow-y: hidden;
        background-size: cover;
    }
    .footer-inner .footer-conts .custom-select {
        right: 50px;
        
    }
    .footer-inner .footer-conts .sns-footer {
        right: 50px;
    }
}
@media (max-width: 1548px) {
    .works-view-right section{
        width: 600px;
        height: 833px;
        overflow-y: hidden;
        background-size: cover;
    }
}


@media (max-width: 1400px) {
    .works-view-right section{
        width: 500px;
        height: 694px;
        overflow-y: hidden;
        background-size: cover;
    }
}
@media (max-width: 1239px) {
    #header .gnb-list > li {
        min-width: 150px;
    }
    
}
@media (max-width: 1061px) {
    #header .gnb-list > li {
        min-width: 120px;
        
    }
}
@media (max-width: 960px) {
    #header,
    .wrap,
    #footer{
        min-width: 942px;
    }
}

/* 1366px design */
@media (max-width: 1366px) {
    .contents {
        box-sizing: border-box;
        padding: 0 83px;
    }
    #main.contents,
    .contents.main {
        padding: 0;
    }
    .footer-inner {
        box-sizing: border-box;
        padding-left: 83px;
        padding-right: 83px;
    }
    .footer-inner .footer-conts .custom-select {
        right: 83px;
        
    }
    .footer-inner .footer-conts .sns-footer {
        right: 83px;
    }
}