@charset"utf-8";
* {box-sizing:border-box}
html {font-size:calc(100vw*10/1920); overflow-x:hidden; -ms-overflow-style:none; scrollbar-width:none}
html::-webkit-scrollbar {display:none}
body {background-color:#000}
@media (min-width:1920px){
  html {font-size:10px}
}
.wrap {background-color:#000}
.blind {display:block; position:absolute; width:0; height:0; left:-9999%; top:-9999%; font-size:0; text-indent:-9999%; opacity:0; overflow:hidden}
h1, h2, h3, h4, h5 {margin:0}
button {margin:0; padding:0; background:none}
.loading {position:fixed; left:0; right:0; top:0; bottom:0; background-color:#000; z-index:9999}

/* 텍스트 드래그 컬러 */
::selection{background-color: #DBFC00; color: #000;}

/* base */
#fp-nav {top:50%; right:6rem!important; margin-top:0!important; transform:translateY(-50%); opacity:0}
#fp-nav ul li {width:auto; height:auto; margin:0}
#fp-nav ul li + li {margin-top:2rem}
#fp-nav ul li a {display:flex; align-items:center; justify-content:center}
#fp-nav ul li a span {position:static; width:1.8rem; height:1.6rem; margin:0; border-radius:0!important; background:url(../images/img-main-nav-bullet.svg) no-repeat center / contain}
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span {background:url(../images/img-main-nav-bullet-on.svg) no-repeat center / contain}
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span {width:1.8rem!important; height:1.6rem!important; margin:0!important}
.footer-inner {max-width:160rem}
h2.tit {color:#fff; font-family:'Poppins', sans-serif; font-size:10rem; font-weight:normal; line-height:12rem}

/* loading animation */
#header {opacity:0; z-index:-1}
.intro {position:absolute; left:0; right:0; top:0; height:200vh; min-height:2578px; z-index:100}
.ani-area {position:absolute; left:45%; top:0; width:100%; max-width:47.6rem; height:100vh; margin:0 auto; transform:translateX(-50%); z-index:11}
.ani-area .ani-txts {position:absolute; width:795px; height:7rem; top:50%; transform:translateY(-50%); overflow:hidden}
.ani-area .icon-x {position:absolute; width:0; height:0; left:0; top:50%; transform:translateY(-50%); background:url(../images/img-main-plus.svg) no-repeat center / contain}
.ani-area .txt {padding-left:9.4rem; color:#fff; font-size:5rem; font-weight:bold; line-height:6.5rem}
.ani-area .txt1 {transform:translateY(100%); opacity:0}
.ani-area .txt img {display:block; height:4.6rem}
.mask-area {position:sticky; left:0; right:0; top:0; height:100vh; z-index:10; opacity:0; transform-origin:28% center}
.mask-area.on::after {content:''; display:block; position:absolute; left:0; right:0; top:calc(50% + 13rem); width:100%; height:50%; background-color:#000}
.mask-area .mask {position:absolute; top:0; left:calc(50% - 96rem); width:100%; max-width:192rem; height:100vh; transform:translateY(20rem); background:rgba(219,252,0,0.5) url(../images/img-main-mask.svg) no-repeat center; background-size:192rem auto}
.mask-area .loading-txt {position:absolute; width:54.5rem; height:10.9rem; top:calc(50% - 4rem); right:calc(50% + 7.5rem); transform:translateY(20rem); background:url(../images/img-main-mask-txt.svg) no-repeat center / contain}
@media (max-width:1920px){
  .mask-area {transform-origin:20% center}
}
@media (min-width:1920px){
  .mask-area .mask {max-width:192rem; margin:0 auto}
  .mask-area .mask::before {content:''; display:block; position:absolute; left:calc(-100% + 1px); top:0; bottom:0; width:100%; background:#000}
  .mask-area .mask::after {content:''; display:block; position:absolute; right:calc(-100% + 1px); top:0; bottom:0; width:100%; background:#000}
}
@media (orientation: portrait) {
  .mask-area .mask {background-repeat:repeat-y}
  .mask-area .mask::before {content:''; display:block; position:absolute; left:0; right:0; top:0; height:10%; background:#000}
  .mask-area .mask::after {content:''; display:block; position:absolute; left:0; right:0; bottom:0; height:10%; background:#000}
}
.section1 .arrow-down {position:absolute; width:12rem; height:12rem; left:6rem; bottom:7rem; z-index:50; opacity:0}
.section1 .arrow-down > a {position:relative; display:block; width:100%; height:100%}
.section1 .arrow-down img {position:absolute; display:block; width:2.4rem; top:50%; left:50%; transform:translate(-50%,-50%)}
.section1 .arrow-down::before {content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/img-main-scroll-rotate.svg) no-repeat center / contain; animation:rotate 10s linear infinite}

@keyframes rotate {
  0% {transform:rotate(0)}
  100% {transform:rotate(360deg)}
}

/* contents */
#main .section1 {padding-top:0; min-height:0}
.section1 .bg-area {display:none; width:100%; height:100%}
.section1 .video-wrap {position:relative; width:100%; height:100%; overflow:hidden}
.section1 .video-wrap .main-video {position:absolute; min-width:100%; min-height:100%; left:50%; top:50%; transform:translate(-50%,-50%)}
.section1 .video-wrap .video-dim {position:absolute; left:0; right:0; top:0; height:100%; background:rgba(0,0,0,0.5)}
.section1 .main-txt-area {position:absolute; top:0; left:0; right:0; bottom:0}
.section1 .main-txt {position:absolute; top:50%; left:calc(50% - 7.8rem); transform:translate(-50%, -50%); text-align:center; opacity:0}
.section1 .main-txt > .txt {position:relative; display:inline-block; color:#fff; font-size:10rem; font-weight:bold; line-height:13rem}
.section1 .main-txt > .txt::after {content:''; display:block; position:absolute; width:6rem; height:6rem; background:url(../images/img-main-txt-plus.svg) no-repeat center / contain}
.section1 .main-txt > .txt:first-child::after {top:4rem; right:-7.8rem; transform:rotate(45deg)}
.section1 .main-txt > .txt:last-child::after {top: 4.5rem; right:-8.1rem}
.section1 .main-txt > img {display:block; width:100%}

.section2 {width:100%; max-width:192rem; margin:0 auto; padding:0 5rem}
/* .section2 .fp-tableCell {padding-top:8rem} */
.section2 .section-inner {width:100%; max-width:160rem; margin:0 auto}
.vision-list-area {margin-top:5rem}
.vision-list {display:flex; flex-wrap:wrap}
.vision-list > li {position:relative; width:calc(50% - 10.2rem); min-height:12rem}
.vision-list > li:nth-child(3),
.vision-list > li:nth-child(4) {margin-top:6rem}
.vision-list .icon {display:block; margin-bottom:2rem; width:9rem; height:9rem; background:none}
.vision-list .icon > svg {display:block; width:100%; height:100%}
/* icon1 motion */
#main-icon1 {filter:blur(0); animation:icon1 6s ease-out infinite}
#main-icon2-1 {width:60px; transform:translate(996px,1672px) rotate(90deg); animation:icon2-1 3s ease-in-out infinite}
#main-icon2-1-2 {width:60px; transform:translate(964px,1700px); animation:icon2-1-2 3s ease-in-out infinite}
#main-icon2-2 {width:0; transform:translate(1016.256px,1681.828px) rotate(135deg); animation:icon2-2 3s ease-in-out infinite}
#main-icon2-2-2 {width:0; transform:translate(994.828px,1700px) rotate(45deg); animation:icon2-2-2 3s ease-in-out infinite}
#main-icon3-1 {transform:translate(173px,1699px); animation:icon3-1 3s ease-in-out infinite}
#main-icon3-2 {transform:translate(203px,1699px); animation:icon3-2 3s ease-in-out infinite}
#main-icon4 {transform:rotate(0); animation:icon4 6s ease-in-out infinite}
@keyframes icon1 {
  0% {filter:blur(0)}
  25% {filter:blur(3px)}
  50% {filter:blur(6px)}
  75% {filter:blur(3px)}
  100% {filter:blur(0)}
}
@keyframes icon3-1 {
  0% {transform:translate(173px,1699px)}
  25% {transform:translate(173px,1699px)}
  50% {transform:translate(203px,1699px)}
  75% {transform:translate(203px,1699px)}
  100% {transform:translate(173px,1699px)}
}
@keyframes icon3-2 {
  0% {transform:translate(203px,1699px)}
  25% {transform:translate(203px,1699px)}
  50% {transform:translate(173px,1699px)}
  75% {transform:translate(173px,1699px)}
  100% {transform:translate(203px,1699px)}
}
@keyframes icon2-1 {
  0% {width:60px; transform:translate(996px,1672px) rotate(90deg)}
  15% {width:60px; transform:translate(996px,1672px) rotate(90deg)}
  25% {width:0; transform:translate(996px,1702px) rotate(90deg)}
  35% {width:0; transform:translate(996px,1702px) rotate(90deg)}
  45% {width:0; transform:translate(996px,1702px) rotate(90deg)}
  65% {width:0; transform:translate(996px,1702px) rotate(90deg)}
  75% {width:0; transform:translate(996px,1702px) rotate(90deg)}
  80% {width:60px; transform:translate(996px,1672px) rotate(90deg)}
  100% {width:60px; transform:translate(996px,1672px) rotate(90deg)}
}
@keyframes icon2-1-2 {
  0% {width:60px; transform:translate(964px,1700px)}
  15% {width:60px; transform:translate(964px,1700px)}
  25% {width:0; transform:translate(993px,1700px)}
  35% {width:0; transform:translate(993px,1700px)}
  45% {width:0; transform:translate(993px,1700px)}
  65% {width:0; transform:translate(993px,1700px)}
  80% {width:0; transform:translate(993px,1700px)}
  85% {width:60px; transform:translate(964px,1700px)}
  100% {width:60px; transform:translate(964px,1700px)}
}
@keyframes icon2-2 {
  0% {width:0; transform:translate(996.256px,1702.828px) rotate(135deg)}
  15% {width:0; transform:translate(996.256px,1702.828px) rotate(135deg)}
  25% {width:0; transform:translate(996.256px,1702.828px) rotate(135deg)}
  30% {width:60px; transform:translate(1016.256px,1681.828px) rotate(135deg)}
  45% {width:60px; transform:translate(1016.256px,1681.828px) rotate(135deg)}
  60% {width:60px; transform:translate(1016.256px,1681.828px) rotate(135deg)}
  65% {width:0; transform:translate(996.256px,1702.828px) rotate(135deg)}
  90% {width:0; transform:translate(996.256px,1702.828px) rotate(135deg)}
  100% {width:0; transform:translate(996.256px,1702.828px) rotate(135deg)}
}
@keyframes icon2-2-2 {
  0% {width:0; transform:translate(994.828px,1700px) rotate(45deg)}
  15% {width:0; transform:translate(994.828px,1700px) rotate(45deg)}
  30% {width:0; transform:translate(994.828px,1700px) rotate(45deg)}
  35% {width:60px; transform:translate(973.828px,1679px) rotate(45deg)}
  45% {width:60px; transform:translate(973.828px,1679px) rotate(45deg)}
  60% {width:60px; transform:translate(973.828px,1679px) rotate(45deg)}
  65% {width:0; transform:translate(994.828px,1700px) rotate(45deg)}
  90% {width:0; transform:translate(994.828px,1700px) rotate(45deg)}
  100% {width:0; transform:translate(994.828px,1700px) rotate(45deg)}
}
@keyframes icon4 {
  0% {transform:rotate(0)}
  15% {transform:rotate(0)}
  30% {transform:rotate(180deg)}
  45% {transform:rotate(180deg)}
  55% {transform:rotate(180deg)}
  65% {transform:rotate(360deg)}
  75% {transform:rotate(360deg)}
  90% {transform:rotate(360deg)}
  100% {transform:rotate(360deg)}
}

.vision-list .list-tit {color:#fff; font-family:'Poppins', sans-serif; font-size:3rem; font-weight:bold; line-height:4.3rem}
.vision-list .list-tit > strong {color:#DBFC00; font-weight:bold}
.vision-list .list-txt {margin-top:1rem; color:#919191; font-size:1.8rem; font-weight:normal; line-height:2.6rem}

.section3 .program-slide {position:relative; width:100%; height:100%; margin:0 auto}
.program-slide .program-item-wrap {position:relative; width:100%; height:100%}
.program-slide .item-bg-wrap {position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0; background-color:#000; overflow:hidden}
.program-slide .item-bg-wrap .slide-video {position:absolute; min-width:100%; min-height:100%; left:50%; top:50%; transform:translate(-50%,-50%)}
.program-slide .item-bg-wrap .video-dim {position:absolute; left:0; right:0; top:0; height:100%; background:rgba(0,0,0,0.5)}
.program-slide .item-txt-wrap {position:absolute; width:100%; max-width:160rem; min-height:61.8rem; left:5rem; right:5rem; top:50%; margin:0 auto; transform:translateY(-50%)}
.program-slide .item-txt-wrap .item-tit {display:block; color:#fff; font-family:'Poppins', sans-serif; font-size:10rem; font-weight:normal; line-height:12rem}
.program-slide .item-txt-wrap .item-des {margin-top:2rem; color:rgba(255,255,255,0.7); font-size:2rem; font-weight:normal; line-height:3rem}
.program-slide .control-bar {position:absolute; display:flex; align-items:center; justify-content:space-between; max-width:160rem; height:5rem; left:0; right:0; bottom:14.8rem; margin:0 auto; box-sizing:border-box}
.program-slide .control-bar .control-btns {display:flex; justify-content:center; align-items:center; border:none; background:none}
.program-slide .control-bar [class^="btn-"] {width:5rem; height:5rem; background:url(../images/img-main-btn-prev.svg) no-repeat center / contain; z-index:50; cursor:pointer; box-sizing:border-box; transition:opacity 0.2s ease; opacity:0.3}
.program-slide .control-bar [class^="btn-"]:hover {opacity:1}
.program-slide .control-bar .btn-next {margin-left:3rem; background:url(../images/img-main-btn-next.svg) no-repeat center / contain}
.program-slide .control-bar .progress-bar {position:relative; width:calc(100% - 20rem); height:1px; background-color:rgba(255,255,255,0.5); z-index:100}
.program-slide .control-bar .progress-bar span {position:absolute; top:0; left:0; width:0; height:1px; background-color:#DBFC00}
/* .program-slide .control-bar .progress-bar.active span {animation:coolTime linear 9s} */
@keyframes coolTime {
  0% {width:0}
  100% {width:100%}
}

.section4 {width:100%; max-width:192rem; margin:0 auto; padding:0 5rem}
.section4 .fp-tableCell {padding-top:8rem}
.section4 .section-inner {width:100%; max-width:160rem; margin:0 auto; padding:2rem 0 15rem}
.news-list-area {margin-top:5rem}
.news-list {display:flex; width:100%}
.news-list > li + li {margin-left:4rem}
.news-list .list-item {position:relative; width:26%; max-width:38rem; max-height:52.3rem}
.news-list .list-item a {position:absolute; display:block; left:0; right:0; top:0; bottom:0; z-index:10}
.news-list .list-item a:hover + .news-thumb > img {transform:translate(-50%,-50%) scale(1.05); transition:transform 0.2s}
.news-list .news-thumb {position:relative; width:100%; height:24.3rem; overflow:hidden}
.news-list .news-thumb > img {position:absolute; display:block; max-width:100%; height:auto; left:50%; top:50%; transform:translate(-50%,-50%)}
.news-list .news-tit {display: -webkit-box; color:#fff; font-size:2.2rem; font-weight:500; line-height:3.4rem; word-break:keep-all; letter-spacing:0; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden}
.news-list .news-cont {margin-top:4rem;}
.news-list .news-date {display:block; margin-top:1rem; color:#444; font-family:'Poppins', sans-serif; font-size:1.6rem; font-weight:normal; line-height:2rem}
.news-list .news-txt {display:-webkit-box; margin-top:1.9rem; color:#919191; font-size:1.8rem; font-weight:normal; line-height:3rem; word-break:keep-all; letter-spacing:0; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden}
.news-cont .btn-view-more {display:block; margin-top:3.6rem; font-family:'Poppins', sans-serif; color:#DBFC00; font-size:1.8rem; line-height:3rem}
.news-list .list-item.big {width:51%; max-width:76rem}
.news-list .list-item.big .news-thumb {width:100%; height:52.3rem}
.news-list .list-item.big .news-thumb::after {content:''; display:block; position:absolute; height:33rem; left:0; right:0; bottom:0; background:linear-gradient(to bottom, transparent, #000); opacity:0; transition:opacity 0.2s}
.news-list .list-item.big a:hover + .news-thumb::after {content:''; display:block; position:absolute; height:33rem; left:0; right:0; bottom:0; background:linear-gradient(to bottom, transparent, #000); opacity:0.55}
.news-list .list-item.big .news-tit {color:#fff; font-size:3.2rem; font-weight:500; line-height:4.4rem;}
.news-list .list-item.big .news-cont {position:absolute; left:0; right:0; bottom:0; padding:4.7rem 5rem}
.news-list .list-item.big .btn-view-more {margin-top:1.8rem}