body, html {max-width: 100%;}
body::-webkit-scrollbar {display: none;}
.wrap {max-width: 390px; overflow-x: hidden; margin: 0 auto;}
.page-img {width: 100%;}

.move-btn {position: fixed; width: 150px; height: 150px;  z-index: 999; cursor: pointer;}
.move-btn.home-btn { left: 50%; transform: translateX(-50%);}
.move-btn.prev-btn {top: 50%; left:0; transform: translateY(-50%); display: none;}
.move-btn.next-btn {top: 50%; right: 0; transform: translateY(-50%);}

/* test */
.move-btn {opacity: .2;}
.move-btn.home-btn {height: 60px;}
.move-btn.prev-btn {width: 60px; display: none;}
.move-btn.next-btn {width: 60px;}

.bottom-fix {position: fixed; bottom: -10px; left: 50%; transform: translateX(-50%); width: 390px;}

section {opacity: 0; position:absolute; top: 0; overflow-y: hidden; height: 1px;}

/* 작업 중인 section */
.section1 {opacity:1; height: auto;}
/* .story-1 {border-bottom: 1px solid black;} */
.story-2 {position: absolute; bottom: -10px; left: 50%; transform: translateX(-50%);}

.chart {width: 100%; height: 100%; position: absolute; top: 0%; left: 0%;}
.circle-chart__background {opacity: 0.2;}
.circle-chart {position: absolute; width: calc(100vw*90/390); max-width: 90px; height: calc(100vw*90/390); max-height: 90px;}
.circle-chart.n1 {top: 25%; right: 12%;}
.circle-chart.n2 {top: 39.2%; right: 12%;}
.circle-chart.n3 {top: 53.5%; right: 12%;}
.circle-chart__circle {transform: rotate(-90deg); transform-origin: center; background-color: black;}
.circle-chart__circle.on {animation: circle-chart-fill 0.5s reverse;}
@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}
@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sec-pop  {height: 844px; overflow-y: hidden; position: absolute;}
.sec-pop .dim {position: absolute; top: 0; left: 0;}
.sec-pop .popup {transition: .5s; position: absolute; bottom: 0; left: 0;}

.sec-n-story {position: absolute; height: 844px !important; overflow: hidden;}
.sec-n-story .story-cont {text-align: center;}
.sec-n-story .story-cont.swiper-container {margin-top: 127px; box-sizing: border-box; text-align: center; overflow: hidden; width: 100%; height: 313px; text-align: center; position: relative;}
.sec-n-story .story-cont.swiper-container .swiper-wrapper {}
.sec-n-story .story-cont.swiper-container .swiper-wrapper .swiper-slide {width: 244px !important; height: 313px; text-align: center; position: relative; margin: 0 auto;}

.swiper-button-prev {background: none !important; z-index: 1000 !important; position: absolute; width: 60px !important; height: 60px !important; border: none; top: 15% !important; left: 50% !important; transform: translateX(-50%);}
.swiper-button-prev.prev-1 {background-image: url(../img/prev-1.png) !important; opacity: 1;}
.swiper-button-prev.prev-2 {background-image: url(../img/prev-2.png) !important; opacity: 0;}
.swiper-button-prev.prev-3 {background-image: url(../img/prev-3.png) !important; opacity: 0;}
.swiper-button-prev.prev-4 {background-image: url(../img/prev-4.png) !important; opacity: 0;}
.swiper-button-prev::after {display: none;}
.swiper-button-next {background: none !important; background-image: url(../img/next-1.png) !important;  position: absolute; width: 60px !important; height: 60px !important; bottom: 200px !important; border: none; top: auto !important; left: 50% !important; transform: translateX(-50%);}
.swiper-button-next.next-1{background-image: url(../img/next-1.png) !important; opacity: 1;}
.swiper-button-next.next-2{background-image: url(../img/next-2.png) !important; opacity: 0;}
.swiper-button-next.next-3{background-image: url(../img/next-3.png) !important; opacity: 0;}
.swiper-button-next.next-4{background-image: url(../img/next-4.png) !important; opacity: 0;}
.swiper-button-next::after {display: none;}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {transform: translate3d(356px,21px,0) !important; }
.swiper-pagination-bullet {width: 8px !important; height: 8px !important; border: 1px solid black !important; opacity: 0.3 !important; background: var(--swiper-pagination-bullet-inactive-color,#fff) !important;}
.swiper-pagination-bullet-active {background-color: #000 !important; opacity: 1 !important;}

:root {--swiper-theme-color: #000 !important;}

.sec-use {padding-bottom: 160px;}
.sec-service {padding-bottom: 160px;}
.sec-benefit-ev {padding-bottom: 160px;}
.sec-n-plan {padding-bottom: 160px;}
.sec-n-event {padding-bottom: 160px;}

.section1 {position: relative;}
.section2 {position: relative;}
.sec-pop {position: absolute;}
.sec-n-splash {position: relative;}
.sec-thank {position: relative;}