* {box-sizing:border-box}
html {font-size:calc(100vw*10/1920); overflow-x:hidden}
body {background-color:#000}
@media (min-width:1920px){
  html {font-size:10px}
}
.wrap {background-color:#000}
.blind {display:block; position:absolute; width:0; height:0; left:-9999%; top:-9999%; font-size:0; text-indent:-9999%; opacity:0; overflow:hidden}
h1, h2, h3, h4, h5 {margin:0}
button {margin:0; padding:0; background:none}

/* 텍스트 드래그 컬러 */
::selection{background-color: #DBFC00; color: #000;}

.main section {position:relative; padding-top:0; min-height:0}
.section1 {height:97rem}
.section1-trigger {position:absolute; top:0; height:60%}
.section1 .video-wrap {position:relative; width:100%; height:100%; overflow:hidden}
.section1 .video-wrap::after {content:''; display:block; position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.2)}
.section1 .video-wrap video {position:absolute; width:100%; height:auto; left:0; top:50%; transform:translateY(-50%)}
.main-tit-area {position:absolute; width:100%; left:0; right:0; top:0; bottom:0; display:flex; flex-direction:column; justify-content:center; align-items:center; margin:0 auto; text-align:center; animation-name:mainText; animation-duration:2s}
.main-tit-area .tit {width:100%; max-width:84.1rem}
.main-tit-area .tit img {display:block; width:100%}
.main-tit-area .sub_desc {margin-top: 5rem; font-size: 2.6rem; line-height: 2.6rem; color: rgba(255,255,255,0.7); font-family: Sandoll GtNeoCond, "Roboto Condensed", "Noto Sans KR", "Poppins", sans-serif;}
.main-tit-area .desc {margin-top:1rem; color:rgba(255,255,255,0.7); font-family: "Roboto Condensed", 'Poppins', sans-serif; font-size:2.6rem; font-weight:normal; line-height:2.6rem; text-align:center}
@keyframes mainText {
  from {opacity:0}
  to {opacity:1}
}
.section1 .img-sec1-scroll {position:absolute; width:1.7rem; left:6.5rem; bottom:11.8rem; z-index:10}
.section1 .img-sec1-scroll > img {width:100%; height: 5.4rem;}
.section1 .img-sec1-scroll::before {content:''; display:block; position:absolute; width:1px; height:4rem; left:0.7rem; top:5.9rem; background-color:rgba(255,255,255,0.3)}
.section1 .img-sec1-scroll::after {content:''; position:absolute; left:0.7rem; top:5.9rem; width:1px; height:1rem; background-color:#DBFC00; animation:ani-affordance 2.5s infinite}
@keyframes ani-affordance {
  0% {
    transform:translate3d(0, 0, 0);
    animation-timing-function:cubic-bezier(0.33, 0, 0.3, 1);
  }
  50% {
    transform:translate3d(0, 3rem, 0);
    animation-timing-function:cubic-bezier(0.33, 0, 0.3, 1);
  }
  100% {
    transform:translate3d(0, 0, 0);
  }
}
.section2 {position:relative; margin-top:15rem}
.section2-trigger {position:absolute; top:50%; height:15%}
@media (max-height:800px){
  .section2-trigger {top:80%; height:20%}
}
.section2 .tit {width:100%; max-width:192rem; margin:0 auto; padding-left:0; color:#fff; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:10rem; font-weight:normal; line-height:14rem; opacity:0}
.section2 .works-slide {width:100%; margin-top:4rem; padding:0 16rem; overflow:hidden; box-sizing:border-box; opacity:0; transition:all 0.3s}
.section2 .works-slide .swiper-slide {position:relative; width:50rem!important; margin:0 2.5rem; opacity:0.2}
.section2 .works-slide .swiper-slide.swiper-slide-prev,
.section2 .works-slide .swiper-slide.swiper-slide-next,
.section2 .works-slide .swiper-slide.swiper-slide-active {opacity:1}
.section2 .works-slide .works-item-wrap {position:relative; width:50rem}
.section2 .works-slide .works-item-wrap > a {display:block; position:absolute; left:0; right:0; top:0; bottom:0}
.section2 .works-slide .works-item-wrap img {display:block; width:100%}
.section2 .works-slide .item-tit {margin-top:2.5rem; color:#fff; font-size:2.2rem; line-height:2.2rem}
.section2 .works-slide .item-flag {position:absolute; top:0; right:0; display:block; min-width:10rem; padding:0 1.8rem; background-color:#DBFC00; color:#000; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:1.6rem; font-weight:bold; line-height:4rem; text-align:center; box-sizing:border-box}
.section2 .works-slide .control-btns {position:absolute; display:flex; justify-content:flex-end; align-items:center; width:100%; max-width:192rem; top:5.5rem; left:0; right:0; margin:0 auto; padding:0 16rem; box-sizing:border-box}
.section2 .works-slide .control-btns [class^="btn-"] {width:5rem; height:5rem; background:url(../images/img-main-btn-prev.svg) no-repeat center / contain; z-index:50; cursor:pointer; box-sizing:border-box; transition:opacity 0.2s ease; opacity:0.3}
.section2 .works-slide .control-btns [class^="btn-"]:hover {opacity:1}
.section2 .works-slide .control-btns .btn-next {margin-left:3rem; background:url(../images/img-main-btn-next.svg) no-repeat center / contain}
.section3 {position:relative; margin-top:15rem}
.section3-trigger {position:absolute; top:50%; height:15%}
@media (max-height:800px){
  .section3-trigger {top:80%; height:20%}
}
.section3 .s-container {position:relative; width:100%; height:80rem; overflow:hidden}
.section3 .video-container {position:absolute; width:100%; height:100%; top:50%; left:50%; transform:translate(-50%,-50%)}
.section3 .svg-container {width:100%; height:100%; position:absolute; top:0; z-index:100; background:url(../images/img-main2-mask.svg) repeat center / contain}
.section3 .video-container {position:relative; overflow: hidden}
.section3 .video-container::after {content:''; display:block; position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.4)}
.section3 .video-container video {position:absolute; width:auto; min-width:100%; height:auto; min-height:100%; top:0; bottom:0; left:50%; transform:translateX(-50%)}
.section3 .sec-txt-area {position:absolute; left:0; right:0; top:0; bottom:0; width:100%; max-width:192rem; margin:0 auto; opacity:0}
.section3 .sec-txt {position:absolute; left:16rem; top:8rem; color:#fff; font-size:2rem; line-height: 1.6; font-family:Sandoll GtNeoCond, "Roboto Condensed", "Noto Sans KR", "Poppins", sans-serif; z-index:5}
.section3 .sec-tit-wrap {position:absolute; left:16rem; top:12rem; padding-right:13rem; z-index:6}
.section3 .sec-tit {font-size:7rem; font-weight:normal; line-height:10rem; color:#fff;}
.section3 .btn-view-more {position:absolute; display:block; width:10rem; right:0; bottom:1.2rem; padding:2.8rem 0; border-radius:50%; background-color:#DBFC00; color:#000; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:2rem; line-height:2.2rem; text-align:center; z-index:101}

.section4 {margin:15rem 0; padding-bottom:5.6rem}
.section4 .tit-area {position:absolute; width:100%; max-width:192rem; left:50%; transform:translateX(-50%); margin:0 auto; padding-left:0; opacity:0}
.section4 .tit-area .tit {color:#fff; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:10rem; font-weight:normal; line-height:14rem}
.section4 .btn-more {display:inline-block;position:relative; margin-top:1rem; padding-right:3.9rem; color:#DBFC00; font-family:'Roboto Condensed', 'Poppins', sans-serif; font-size:2.4rem; line-height:3.3rem}
.section4 .btn-more::after {content:''; display:block; position:absolute; width:3.2rem; height:3.2rem; bottom:0; right:0; background:url(../images/img-arrow-right-green.svg) no-repeat center / contain}
.section4 .partners-slide {position:relative; width:auto; padding:5.3rem 0; margin-left:calc(50% - 24.2rem); overflow:hidden}
.section4 .partners-slide::after {content:''; display:block; position:absolute; width:25%; left:0; top:0; bottom:0; background:linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,0)); z-index:5}
.section4 .partners-slide .swiper-slide-active:hover::after {display:none}
.section4 .partners-slide .swiper-wrapper {-webkit-transition-timing-function: linear !important; transition-timing-function: linear !important;}
.section4 .partners-slide .swiper-slide {width:auto!important; margin:0 6rem}
.section4 .partners-slide .logo {height:8rem}
.section4 .partners-slide .logo > img {display:block; max-height:100%}
.section4 .partners-slide .logo > .default {display:block}
.section4 .partners-slide .logo > .active {display:none}
/* .section4 .partners-slide .swiper-slide-active .logo .active  {display:block} */
/* .section4 .partners-slide .swiper-slide-active .logo .default  {display:none} */
.section4 .partners-slide .logo:hover > .default {display:none}
.section4 .partners-slide .logo:hover > .active {display:block}

@media (max-width: 1920px) {
  .contents {
      padding: 0;
  }
}