@charset"utf-8";

/* mainC_2 */
html {font-size:calc(100vw*10/1920); overflow-x:hidden}
@media (min-width:1920px){
  html {font-size:10px}
}
.wrap {background-color:#000}

.header {position:fixed; top:0; left:0; right:0; height:11rem; z-index:1000}
.header-inner {width:100%; max-width:192rem; height:100%; margin:0 auto}
.header-inner > img {display:block; width:auto; height:100%}

.main {position:relative}
.main .img-cont {display:block; width:100%; max-width:192rem; margin:0 auto}
.main .img-cont2 {position:absolute; display:block; width:100%; max-width:192rem; top:0; left:0; right:0; bottom:0; margin:0 auto}