@charset"utf-8";
* {box-sizing:border-box}
html {font-size:calc(100vw*10/1920); overflow-x:hidden}
body {background-color:#000}
@media (min-width:1920px){
  html {font-size:10px}
}
.wrap {background-color:#000}
.blind {display:block; position:absolute; width:0; height:0; left:-9999%; top:-9999%; font-size:0; text-indent:-9999%; opacity:0; overflow:hidden}
h1, h2, h3, h4, h5 {margin:0}
button {margin:0; padding:0; background:none}
.loading {position:fixed; left:0; right:0; top:0; bottom:0; background-color:#000; z-index:9999}

/* base */
#fp-nav {top:50%; right:6rem!important; margin-top:0!important; transform:translateY(-50%); opacity:0}
#fp-nav ul li {width:auto; height:auto; margin:0}
#fp-nav ul li + li {margin-top:2rem}
#fp-nav ul li a {display:flex; align-items:center; justify-content:center}
#fp-nav ul li a span {position:static; width:1.8rem; height:1.6rem; margin:0; border-radius:0!important; background:url(../images/img-main-nav-bullet.svg) no-repeat center / contain}
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span {background:url(../images/img-main-nav-bullet-on.svg) no-repeat center / contain}
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span {width:1.8rem!important; height:1.6rem!important; margin:0!important}
.footer-inner {max-width:160rem}
h2.tit {color:#fff; font-family:'Poppins', sans-serif; font-size:10rem; font-weight:normal; line-height:12rem; opacity:1; animation:none}

/* loading animation */
#header {opacity:0}
.section1 .ani-area {position:absolute; left:50%; top:0; display:flex; align-items:center; width:100%; max-width:45.6rem; height:100vh; margin:0 auto; transform:translateX(-3.3rem)}
.section1 .ani-area .icon-x {width:5.688rem; height:5.808rem; background:url(../images/img-main-plus.svg) no-repeat center / contain}
.section1 .ani-area .txt {position:absolute; padding-left:7.138rem; color:#fff; font-size:5rem; font-weight:bold; line-height:7rem}
.section1 .ani-area .txt1 {transform:translateX(100%); opacity:0}
.section1 .ani-area .txt img {display:block; height:4.6rem}
.section1 .ani-area .txt2 {display:flex}
.section1 .ani-area .txt2-1 {display:flex; transform:translateX(100%); opacity:0}
.section1 .ani-area .txt2-2 {margin-left:-0.6rem; transform:translateX(100%); opacity:0}
.section1 .arrow-down {position:absolute; width:12rem; height:12rem; left:6rem; bottom:7rem; z-index:50; opacity:0}
.section1 .arrow-down > a {position:relative; display:block; width:100%; height:100%}
.section1 .arrow-down img {position:absolute; display:block; width:2.4rem; top:50%; left:50%; transform:translate(-50%,-50%)}
.section1 .arrow-down::before {content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/img-main-scroll-rotate.svg) no-repeat center / contain; animation:rotate 10s linear infinite}
.section1 .mask-area {position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(219,252,0,0.5) url(../images/img-main-mask.svg) repeat-x center / 100% auto; opacity:0}
@media (min-width:1920px){
  .section1 .mask-area {max-width:192rem; margin:0 auto}
  .section1 .mask-area::before {content:''; display:block; position:absolute; left:calc(-100% + 1px); top:0; bottom:0; width:100%; background:#000}
  .section1 .mask-area::after {content:''; display:block; position:absolute; right:calc(-100% + 1px); top:0; bottom:0; width:100%; background:#000}
}
@media (orientation: portrait) {
  .section1 .mask-area {background-repeat:repeat-y}
  .section1 .mask-area::before {content:''; display:block; position:absolute; left:0; right:0; top:0; height:10%; background:#000}
  .section1 .mask-area::after {content:''; display:block; position:absolute; left:0; right:0; bottom:0; height:10%; background:#000}
}
.mask-area .loading-txt {position:absolute; width:54.5rem; height:10.9rem; top:calc(50% - 4rem); right:calc(50% + 7.5rem); background:url(../images/img-main-mask-txt.svg) no-repeat center / contain}
/* .mask-area .loading-txt > img {display:block; width:100%; height:100%} */

@keyframes rotate {
  0% {transform:rotate(0)}
  100% {transform:rotate(360deg)}
}

/* contents */
#main .section1 {padding-top:0; min-height:0}
.section1 .bg-area {display:none; width:100%; height:100%}
.section1 .video-wrap {position:relative; width:100%; height:100%; overflow:hidden}
.section1 .video-wrap .main-video {position:absolute; width:100%; height:auto; top:50%; left:0; right:0; transform:translateY(-50%)}
.section1 .video-wrap .video-dim {position:absolute; left:0; right:0; top:0; height:100%; background:rgba(0,0,0,0.5)}
.section1 .main-txt-area {position:absolute; top:0; left:0; right:0; bottom:0}
.section1 .main-txt {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center; opacity:0}
.section1 .main-txt > .txt {position:relative; display:block; color:#fff; font-size:10rem; font-weight:bold; line-height:13rem}
.section1 .main-txt > .txt::after {content:''; display:block; position:absolute; width:6rem; height:6rem; background:url(../images/img-main-plus.svg) no-repeat center / contain}
.section1 .main-txt > .txt:first-child::after {top:3.8rem; right:-7.8rem; transform:rotate(45deg)}
.section1 .main-txt > .txt:last-child::after {top: 3.5rem; right:-4.1rem}
.section1 .main-txt > img {display:block; width:100%}

.section2 {width:100%; max-width:192rem; margin:0 auto; padding:0 5rem}
.section2 .fp-tableCell {padding-top:8rem}
.section2 .section-inner {width:100%; max-width:160rem; margin:0 auto}
.vision-list-area {margin-top:11rem}
.vision-list {display:flex; flex-wrap:wrap}
.vision-list > li {position:relative; width:50%; min-height:12rem; padding:1.1rem 0 0 18rem}
.vision-list > li:nth-child(3),
.vision-list > li:nth-child(4) {margin-top:6rem}
.vision-list .icon {position:absolute; top:0; left:0; width:12rem; height:12rem; background:none}
.vision-list .icon > svg {display:block; width:100%; height:100%}
/* icon1 motion */
#main-icon1-1 {transform:translate(180px,1490px); animation:icon1-1 6s ease-out infinite}
#main-icon1-2 {transform:translate(224px,1490px); animation:icon1-2 6s ease-out infinite}
#main-icon1-3 {transform:translate(224px,1490px); animation:icon1-3 6s ease-out infinite}
#main-icon1-4 {transform:translate(224px,1490px); animation:icon1-4 6s ease-out infinite}
#main-icon2-1 {transform:translate(960px,1490px); animation:icon2-1 3s ease-in-out infinite}
#main-icon2-2 {transform:translate(960px,1490px); animation:icon2-2 3s ease-in-out infinite}
#main-icon3-1 {width:80px; transform:translate(222px,1670px) rotate(90deg); animation:icon3-1 3s ease-in-out infinite}
#main-icon3-1-2 {width:80px; transform:translate(180px,1708px); animation:icon3-1-2 3s ease-in-out infinite}
#main-icon3-2 {width:0; transform:translate(222px,1710px) rotate(135deg); animation:icon3-2 3s ease-in-out infinite}
#main-icon3-2-2 {width:0; transform:translate(222px,1708px) rotate(45deg); animation:icon3-2-2 3s ease-in-out infinite}
#main-icon4 {transform:rotate(0); animation:icon4 6s ease-in-out infinite}
@keyframes icon1-1 {
  0% {transform:translate(180px,1490px)}
  20% {transform:translate(180px,1490px)}
  25% {transform:translate(224px,1490px)}
  45% {transform:translate(224px,1490px)}
  50% {transform:translate(224px,1534px)}
  70% {transform:translate(224px,1534px)}
  75% {transform:translate(180px,1534px)}
  95% {transform:translate(180px,1534px)}
  100% {transform:translate(180px,1490px)}
}
@keyframes icon1-2 {
  0% {transform:translate(224px,1490px)}
  20% {transform:translate(224px,1490px)}
  25% {transform:translate(224px,1534px)}
  45% {transform:translate(224px,1534px)}
  50% {transform:translate(180px,1534px)}
  70% {transform:translate(180px,1534px)}
  75% {transform:translate(180px,1490px)}
  95% {transform:translate(180px,1490px)}
  100% {transform:translate(224px,1490px)}
}
@keyframes icon1-3 {
  0% {transform:translate(224px,1534px)}
  20% {transform:translate(224px,1534px)}
  25% {transform:translate(180px,1534px)}
  45% {transform:translate(180px,1534px)}
  50% {transform:translate(180px,1490px)}
  70% {transform:translate(180px,1490px)}
  75% {transform:translate(224px,1490px)}
  95% {transform:translate(224px,1490px)}
  100% {transform:translate(224px,1534px)}
}
@keyframes icon1-4 {
  0% {transform:translate(180px,1534px)}
  20% {transform:translate(180px,1534px)}
  25% {transform:translate(180px,1490px)}
  45% {transform:translate(180px,1490px)}
  50% {transform:translate(224px,1490px)}
  70% {transform:translate(224px,1490px)}
  75% {transform:translate(224px,1534px)}
  95% {transform:translate(224px,1534px)}
  100% {transform:translate(180px,1534px)}
}
@keyframes icon2-1 {
  0% {transform:translate(960px,1490px)}
  25% {transform:translate(960px,1490px)}
  50% {transform:translate(1000px,1490px)}
  75% {transform:translate(1000px,1490px)}
  100% {transform:translate(960px,1490px)}
}
@keyframes icon2-2 {
  0% {transform:translate(1000px,1490px)}
  25% {transform:translate(1000px,1490px)}
  50% {transform:translate(960px,1490px)}
  75% {transform:translate(960px,1490px)}
  100% {transform:translate(1000px,1490px)}
}
@keyframes icon3-1 {
  0% {width:80px; transform:translate(222px,1670px) rotate(90deg)}
  15% {width:80px; transform:translate(222px,1670px) rotate(90deg)}
  25% {width:0; transform:translate(222px,1710px) rotate(90deg)}
  35% {width:0; transform:translate(222px,1710px) rotate(90deg)}
  45% {width:0; transform:translate(222px,1710px) rotate(90deg)}
  65% {width:0; transform:translate(222px,1710px) rotate(90deg)}
  75% {width:0; transform:translate(222px,1710px) rotate(90deg)}
  80% {width:80px; transform:translate(222px,1670px) rotate(90deg)}
  100% {width:80px; transform:translate(222px,1670px) rotate(90deg)}
}
@keyframes icon3-1-2 {
  0% {width:80px; transform:translate(180px,1708px)}
  15% {width:80px; transform:translate(180px,1708px)}
  25% {width:0; transform:translate(220px,1708px)}
  35% {width:0; transform:translate(220px,1708px)}
  45% {width:0; transform:translate(220px,1708px)}
  65% {width:0; transform:translate(220px,1708px)}
  80% {width:0; transform:translate(220px,1708px)}
  85% {width:80px; transform:translate(180px,1708px)}
  100% {width:80px; transform:translate(180px,1708px)}
}
@keyframes icon3-2 {
  0% {width:0; transform:translate(222px,1710px) rotate(135deg)}
  15% {width:0; transform:translate(222px,1710px) rotate(135deg)}
  25% {width:0; transform:translate(222px,1710px) rotate(135deg)}
  30% {width:80px; transform:translate(250px,1683px) rotate(135deg)}
  45% {width:80px; transform:translate(250px,1683px) rotate(135deg)}
  60% {width:80px; transform:translate(250px,1683px) rotate(135deg)}
  65% {width:0; transform:translate(222px,1710px) rotate(135deg)}
  90% {width:0; transform:translate(222px,1710px) rotate(135deg)}
  100% {width:0; transform:translate(222px,1710px) rotate(135deg)}
}
@keyframes icon3-2-2 {
  0% {width:0; transform:translate(222px,1708px) rotate(45deg)}
  15% {width:0; transform:translate(222px,1708px) rotate(45deg)}
  30% {width:0; transform:translate(222px,1708px) rotate(45deg)}
  35% {width:80px; transform:translate(193px,1680px) rotate(45deg)}
  45% {width:80px; transform:translate(193px,1680px) rotate(45deg)}
  60% {width:80px; transform:translate(193px,1680px) rotate(45deg)}
  65% {width:0; transform:translate(222px,1708px) rotate(45deg)}
  90% {width:0; transform:translate(222px,1708px) rotate(45deg)}
  100% {width:0; transform:translate(222px,1708px) rotate(45deg)}
}
@keyframes icon4 {
  0% {transform:rotate(0)}
  15% {transform:rotate(0)}
  30% {transform:rotate(180deg)}
  45% {transform:rotate(180deg)}
  55% {transform:rotate(180deg)}
  65% {transform:rotate(360deg)}
  75% {transform:rotate(360deg)}
  90% {transform:rotate(360deg)}
  100% {transform:rotate(360deg)}
}

.vision-list .list-tit {color:#fff; font-family:'Poppins', sans-serif; font-size:4rem; font-weight:500; line-height:6rem}
.vision-list .list-txt {margin-top:0.5rem; color:#919191; font-size:2rem; font-weight:normal; line-height:3rem}

.section3 .program-slide {position:relative; width:100%; height:100%; margin:0 auto}
.program-slide .program-item-wrap {position:relative; width:100%; height:100%}
.program-slide .item-bg-wrap {position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0; background-color:#000; overflow:hidden}
.program-slide .item-bg-wrap .slide-video {position:absolute; width:100%; height:auto; top:50%; left:0; right:0; transform:translateY(-50%)}
.program-slide .item-bg-wrap .video-dim {position:absolute; left:0; right:0; top:0; height:100%; background:rgba(0,0,0,0.5)}
.program-slide .item-txt-wrap {position:absolute; width:100%; max-width:160rem; min-height:43rem; left:5rem; right:5rem; top:50%; margin:0 auto; transform:translateY(-50%)}
.program-slide .item-txt-wrap .item-tit {display:block; color:#fff; font-family:'Poppins', sans-serif; font-size:10rem; font-weight:normal; line-height:12rem}
.program-slide .item-txt-wrap .item-des {margin-top:2rem; color:rgba(255,255,255,0.7); font-size:2rem; font-weight:normal; line-height:3rem}
.program-slide .control-bar {position:absolute; display:flex; align-items:center; justify-content:space-between; max-width:160rem; height:5rem; left:0; right:0; bottom:14.8rem; margin:0 auto; box-sizing:border-box}
.program-slide .control-bar .control-btns {display:flex; justify-content:center; align-items:center; border:none; background:none}
.program-slide .control-bar [class^="btn-"] {width:5rem; height:5rem; background:url(../images/img-main-btn-prev.svg) no-repeat center / contain; z-index:50; cursor:pointer; box-sizing:border-box; transition:opacity 0.2s ease; opacity:0.3}
.program-slide .control-bar [class^="btn-"]:hover {opacity:1}
.program-slide .control-bar .btn-next {margin-left:3rem; background:url(../images/img-main-btn-next.svg) no-repeat center / contain}
.program-slide .control-bar .progress-bar {position:relative; width:calc(100% - 20rem); height:1px; background-color:rgba(255,255,255,0.5); z-index:100}
.program-slide .control-bar .progress-bar span {position:absolute; top:0; left:0; width:0; height:1px; background-color:#DBFC00}
/* .program-slide .control-bar .progress-bar.active span {animation:coolTime linear 9s} */
@keyframes coolTime {
  0% {width:0}
  100% {width:100%}
}

.section4 {width:100%; max-width:192rem; margin:0 auto; padding:0 5rem}
.section4 .fp-tableCell {padding-top:8rem}
.section4 .section-inner {width:100%; max-width:160rem; margin:0 auto; padding:2rem 0 15rem}
.news-list-area {margin-top:5rem}
.news-list {display:flex; width:100%}
.news-list > li + li {margin-left:4rem}
.news-list .list-item {position:relative; width:26%; max-width:38rem; max-height:52.3rem}
.news-list .list-item a {position:absolute; display:block; left:0; right:0; top:0; bottom:0; z-index:10}
.news-list .news-thumb {position:relative; width:100%; height:24.3rem; overflow:hidden}
.news-list .news-thumb > img {position:absolute; display:block; min-width:100%; height:auto; left:50%; top:50%; transform:translate(-50%,-50%)}
.news-list .news-tit {color:#fff; font-size:2.2rem; font-weight:500; line-height:3.4rem; letter-spacing:-0.02rem}
.news-list .news-cont {margin-top:4rem}
.news-list .news-date {display:block; margin-top:1rem; color:#444; font-family:'Poppins', sans-serif; font-size:1.6rem; font-weight:normal; line-height:2rem}
.news-list .news-txt {display:-webkit-box; margin-top:1.9rem; color:#919191; font-size:1.8rem; font-weight:normal; line-height:3rem; word-break:keep-all; letter-spacing:-0.05rem; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden}
.news-cont .btn-view-more {display:block; margin-top:3.6rem; font-family:'Poppins', sans-serif; color:#DBFC00; font-size:1.8rem; line-height:3rem}
.news-list .list-item.big {width:51%; max-width:76rem}
.news-list .list-item.big .news-thumb {width:100%; height:52.3rem}
.news-list .list-item.big .news-thumb::after {content:''; display:block; position:absolute; height:33rem; left:0; right:0; bottom:0; background:linear-gradient(to bottom, transparent, #000); opacity:0; transition:opacity 0.2s}
.news-list .list-item.big a:hover + .news-thumb::after {content:''; display:block; position:absolute; height:33rem; left:0; right:0; bottom:0; background:linear-gradient(to bottom, transparent, #000); opacity:0.55}
.news-list .list-item.big .news-tit {color:#fff; font-size:3.2rem; font-weight:500; line-height:4.4rem; letter-spacing:0}
.news-list .list-item.big .news-cont {position:absolute; left:0; right:0; bottom:0; padding:4.7rem 5rem}
.news-list .list-item.big .btn-view-more {margin-top:1.8rem}

@media (max-width:1920px){
  .section1 .video-wrap .main-video {width:auto; height:100%; top:0; bottom:0; left:50%; right:auto; transform:translate(-50%,0)}
  .program-slide .item-bg-wrap .slide-video {width:auto; height:100%; top:0; bottom:0; left:50%; right:auto; transform:translate(-50%,0)}
}