@charset"utf-8";
* {box-sizing:border-box}
html {overflow-x:hidden}
.wrap {background-color:#000}
.blind {display:block; position:absolute; width:0; height:0; left:-9999%; top:-9999%; font-size:0; text-indent:-9999%; opacity:0; overflow:hidden}
h1, h2, h3, h4, h5 {margin:0}
button {margin:0; padding:0; background:none}

/* base */
h2.tit {color:#fff; font-family:'Poppins', sans-serif; font-size:100px; font-weight:normal; line-height:120px}
#fp-nav {top:50%; right:60px!important; margin-top:0!important; transform:translateY(-50%); opacity:0}
#fp-nav ul li {width:auto; height:auto; margin:0}
#fp-nav ul li + li {margin-top:20px}
#fp-nav ul li a {display:flex; align-items:center; justify-content:center}
#fp-nav ul li a span {position:static; width:18px; height:16px; margin:0; border-radius:0!important; background:url(../images/a-nav-bullet.svg) no-repeat center / contain}
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span {background:url(../images/a-nav-bullet-on.svg) no-repeat center / contain}
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span {width:18px!important; height:16px!important; margin:0!important}

/* loading animation */
.main-header .header-inner {position:relative; height:100vh}
.main-header .logo {width:210px; height:40px; background:url(../images/img-main-logo-studio.svg) no-repeat center / contain; z-index:999; opacity:0}
.main-header .logo a {height:100%; display:flex!important; align-items:center}
.main-header .logo-x {position:absolute; display:block; width:100%; height:661px; top:50%; transform:translateY(-50%); background:url(../images/img-main-logo-xplusu.svg) no-repeat center / contain; z-index:10; opacity:0}
.main-header .gnb,
.main-header .lang-chioce {opacity:0}

.section1 .ani-area {position:absolute; left:0; right:0; top:0; display:flex; align-items:center; width:100%; /* max-width:1920px; */ height:100vh; margin:0 auto; padding:0 55px}
.section1 .ani-area .icon-x {width:50px; height:50px; margin-right:16px; background:url(../images/img-main-plus.svg) no-repeat center / contain}
.section1 .ani-area .txt {color:#fff; font-size:50px; font-weight:bold; line-height:70px}
.section1 .ani-area .txt1 {transform:translateX(100%); opacity:0}
.section1 .ani-area .txt img {display:block; height:49px}
.section1 .ani-area .txt2 {display:flex}
.section1 .ani-area .txt2-1 {display:flex; transform:translateX(100%); opacity:0}
.section1 .ani-area .txt2-2 {margin-left:-6px; transform:translateX(100%); opacity:0}
.section1 .arrow-down {position:absolute; width:120px; height:120px; left:60px; bottom:70px; z-index:50; opacity:0}
.section1 .arrow-down > a {position:relative; display:block; width:100%; height:100%}
.section1 .arrow-down img {position:absolute; display:block; width:24px; top:50%; left:50%; transform:translate(-50%,-50%)}
.section1 .arrow-down::before {content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/img-main-scroll-rotate.svg) no-repeat center / contain; animation:rotate 10s linear infinite}
@keyframes rotate {
  0% {transform:rotate(0)}
  100% {transform:rotate(360deg)}
}

/* contents */
#main .section1 {padding-top:0; min-height:0}
.section1 .bg-area {display:none; width:100%; height:100%}
.section1 .video-wrap {position:relative; width:100%; height:100%; overflow:hidden}
.section1 .video-wrap .main-video {position:absolute; width:100%; height:auto; top:50%; left:0; right:0; transform:translateY(-50%)}
.section1 .video-wrap .video-dim {position:absolute; left:0; right:0; top:0; height:100%; background:rgba(0,0,0,0.5)}
.section1 .main-txt-area {position:absolute; top:0; left:0; right:0; bottom:0}
.section1 .main-txt {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center; opacity:0}
.section1 .main-txt > .txt {position:relative; display:block; color:#fff; font-size:100px; font-weight:bold; line-height:130px}
.section1 .main-txt > .txt::after {content:''; display:block; position:absolute; width:60px; height:60px; background:url(../images/img-main-plus.svg) no-repeat center / contain}
.section1 .main-txt > .txt:first-child::after {top:38px; right:-78px; transform:rotate(45deg)}
.section1 .main-txt > .txt:last-child::after {top: 35px; right:-41px}
.section1 .main-txt > img {display:block; width:100%}

.section2 {width:100%; max-width:1920px; margin:0 auto; padding:0 50px}
.section2 .fp-tableCell {padding-top:80px}
.section2 .section-inner {width:100%; max-width:1600px; margin:0 auto}
.vision-list-area {margin-top:110px}
.vision-list {display:flex; flex-wrap:wrap}
.vision-list > li {position:relative; width:50%; min-height:120px; padding:11px 0 0 180px}
.vision-list > li:nth-child(3),
.vision-list > li:nth-child(4) {margin-top:60px}
.vision-list .icon {position:absolute; top:0; left:0; width:120px; height:120px}
.vision-list .icon.icon1 {background:url(../images/img-main-vision-icon1.svg) no-repeat center / contain}
.vision-list .icon.icon2 {background:url(../images/img-main-vision-icon2.svg) no-repeat center / contain}
.vision-list .icon.icon3 {background:url(../images/img-main-vision-icon3.svg) no-repeat center / contain}
.vision-list .icon.icon4 {background:url(../images/img-main-vision-icon4.svg) no-repeat center / contain}
.vision-list .list-tit {color:#fff; font-family:'Poppins', sans-serif; font-size:40px; font-weight:500; line-height:60px}
.vision-list .list-txt {margin-top:5px; color:#919191; font-size:20px; font-weight:normal; line-height:30px}

.section3 .program-slide {position:relative; width:100%; height:100%; margin:0 auto}
.program-slide .program-item-wrap {position:relative; width:100%; height:100%}
.program-slide .item-bg-wrap {position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0; background-color:#000; overflow:hidden}
.program-slide .item-bg-wrap .slide-video {position:absolute; width:100%; height:auto; top:50%; left:0; right:0; transform:translateY(-50%)}
.program-slide .item-bg-wrap .video-dim {position:absolute; left:0; right:0; top:0; height:100%; background:rgba(0,0,0,0.5)}
.program-slide .item-txt-wrap {position:absolute; width:100%; max-width:1600px; min-height:430px; left:50px; right:50px; top:50%; margin:0 auto; transform:translateY(-50%)}
.program-slide .item-txt-wrap .item-tit {display:block; color:#fff; font-family:'Poppins', sans-serif; font-size:100px; font-weight:normal; line-height:120px}
.program-slide .item-txt-wrap .item-des {margin-top:20px; color:rgba(255,255,255,0.7); font-size:20px; font-weight:normal; line-height:30px}
.program-slide .control-bar {position:absolute; display:flex; align-items:center; justify-content:space-between; max-width:1920px; height:50px; left:0; right:0; bottom:148px; margin:0 auto; padding:0 50px; box-sizing:border-box}
.program-slide .control-bar .control-btns {display:flex; justify-content:center; align-items:center; border:none; background:none}
.program-slide .control-bar [class^="btn-"] {width:50px; height:50px; background:url(../images/img-main-btn-prev.svg) no-repeat center / contain; z-index:50; cursor:pointer; box-sizing:border-box; transition:opacity 0.2s ease; opacity:0.3}
.program-slide .control-bar [class^="btn-"]:hover {opacity:1}
.program-slide .control-bar .btn-next {margin-left:30px; background:url(../images/img-main-btn-next.svg) no-repeat center / contain}
.program-slide .control-bar .progress-bar {position:relative; width:calc(100% - 200px); height:1px; background-color:rgba(255,255,255,0.5); z-index:100}
.program-slide .control-bar .progress-bar span {position:absolute; top:0; left:0; height:1px; background-color:#DBFC00}
.program-slide .control-bar .progress-bar.active span {animation:coolTime linear 9s}
@keyframes coolTime {
  0% {width:0}
  100% {width:100%}
}

.section4 {width:100%; max-width:1920px; margin:0 auto; padding:0 50px}
.section4 .fp-tableCell {padding-top:80px}
.section4 .section-inner {width:100%; max-width:1600px; margin:0 auto; padding:20px 0 150px}
.news-list-area {margin-top:50px}
.news-list {display:flex; width:100%}
.news-list > li {width:25%; max-width:385px}
.news-list > li:first-child {width:50%; max-width:745px}
.news-list > li + li {margin-left:42px}
.news-list > li > a {position:relative; display:block}
.news-list .news-thumb {width:100%}
.news-list > li:first-child .news-thumb {width:100%; height:100%}
.news-list .news-thumb > img {display:block; width:100%}
.news-list > li .news-cont {margin-top:40px}
.news-list > li:first-child .news-cont {position:absolute; left:0; right:0; bottom:0; padding:47px 50px}
.news-list .news-tit {color:#fff; font-size:22px; font-weight:500; line-height:34px; letter-spacing:-0.2px}
.news-list > li:first-child .news-tit {color:#fff; font-size:32px; font-weight:500; line-height:44px; letter-spacing:0}
.news-list .news-date {display:block; margin-top:10px; color:#444; font-size:16px; font-weight:normal; line-height:20px}
.news-list .news-txt {display:-webkit-box; margin-top:19px; color:#919191; font-size:18px; font-weight:normal; line-height:30px; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden}
.news-cont .btn-view-more {display:block; margin-top:36px; font-family:'Poppins', sans-serif; color:#DBFC00; font-size:18px; line-height:30px}
.news-list > li:first-child .btn-view-more {margin-top:18px}

@media (max-width:1920px){
  .section1 .video-wrap .main-video {width:auto; height:100%; top:0; bottom:0; left:50%; right:auto; transform:translate(-50%,0)}
  .program-slide .item-bg-wrap .slide-video {width:auto; height:100%; top:0; bottom:0; left:50%; right:auto; transform:translate(-50%,0)}
}