body, html {max-width: 100%;}
body::-webkit-scrollbar {display: none;}
.wrap {width: 390px; overflow-x: hidden; border: 1px solid rgb(180, 180, 180); margin: 0 auto;}

.move-btn {position: fixed; width: 150px; height: 150px;  z-index: 999; cursor: pointer;}
.move-btn.home-btn { left: 50%; transform: translateX(-50%);}
.move-btn.prev-btn {top: 50%; left:0; transform: translateY(-50%);}
.move-btn.next-btn {top: 50%; right: 0; transform: translateY(-50%);}

section {display: none;}

/* 작업 중인 section */
.sec-no-member {display: block;}

.sec-main {}

.sec-main .data-cont {padding-top: 40px;}
.sec-main .data-cont.swiper-container {width: 100%; text-align: center; position: relative;}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide {width: 300px !important; height: 300px; text-align: center; position: relative;}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .chart canvas {position:absolute; left: 50%; transform: translateX(-50%);}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .chart1 {position: relative; width: 300px !important;}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .chart2 {position: relative; width: 300px !important;}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .chart3 {position: relative; width: 300px !important;}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .circle1{position: absolute; top: -27px; left: -15px;}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .circle2{position: absolute; top: -27px; left: 15px;}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .circle3{position: absolute; top: -27px; left: -21px;}
/* .sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide p{margin-top: 19px; color: #ccc;} */
/* .sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .bedge{transition: .5s; position: absolute; bottom: 10px; right: 0; background-color: red; opacity: 0; width: 35px; border-radius: 10px 10px 10px 0; font-size: 10px; line-height: 20px; text-align: center;}
.sec-main .data-cont.swiper-container .swiper-wrapper .swiper-slide .bedge.on{opacity: 1;} */
/* Bar Graph Vertical */

  
  .bar-graph-vertical {
    margin: 32px auto 0;
    max-width: 680px;
    /* border: 1px solid red; */
  }
  
  .bar-graph-vertical .bar-container {
    float: left;
    height: 206px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    position: relative;
    text-align: center;
    width: 44px;
  }
  
  .bar-graph-vertical .bar {
    border-radius: 44px;
    bottom: 0;
    position: absolute;
    width: 40px;
  }
  .bar-graph-vertical .bar .month {position: absolute; bottom: 14px; left: 50%; transform: translateX(-50%); word-break: keep-all;}
  .bar-graph-vertical .bar .month-11-num {position: absolute; top: -18px; left: 50%; transform: translateX(-50%); word-break: keep-all;}
  
  
  /* .bar-graph-two .bar::after {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    color: #fff;
    content: attr(data-percentage);
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: left;
    top: 24px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  } */
  
  .bar-graph-two .bar-one .bar {
    background-color: #E2E9EB;
    /* -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    animation: show-bar-one-vertical 1.2s 0.1s forwards; */
  }
  
  .bar-graph-two .bar-two .bar {
    background-color: #E2E9EB;
    /* -webkit-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    animation: show-bar-two-vertical 1.2s 0.2s forwards; */
  }
  
  .bar-graph-two .bar-three .bar {
    background-color: #E2E9EB;
    /* -webkit-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    animation: show-bar-three-vertical 1.2s 0.3s forwards; */
  }
  
  .bar-graph-two .bar-four .bar {
    background-color: #E2E9EB;
    /* -webkit-animation: show-bar-four-vertical 1.2s 0.4s forwards;
    -moz-animation: show-bar-four-vertical 1.2s 0.4s forwards;
    animation: show-bar-four-vertical 1.2s 0.4s forwards; */
  }
  .bar-graph-two .bar-five .bar {
    background-color: #22B5E9;
    /* -webkit-animation: show-bar-five-vertical 1.2s 0.5s forwards;
    -moz-animation: show-bar-five-vertical 1.2s 0.5s forwards;
    animation: show-bar-five-vertical 1.2s 0.5s forwards; */
  }
  
  /* Bar Graph Vertical Animations */
  @-webkit-keyframes show-bar-one-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 179px;
    }
  }
  
  @-webkit-keyframes show-bar-two-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 146px;
    }
  }
  
  @-webkit-keyframes show-bar-three-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 93px;
    }
  }
  
  @-webkit-keyframes show-bar-four-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 206px;
    }
  }
  @-webkit-keyframes show-bar-five-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 123px;
    }
  }
  
  @-webkit-keyframes fade-in-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.sec-main .membership-cont {position: relative; width: 390px; height: 133px; margin-top: 16px; margin-bottom: 56px;}
.sec-main .membership {position: absolute; width: 390px; height: 133px; overflow-x: auto; font-size: 0; display: flex; padding-left: 24px;}
.sec-main .membership::-webkit-scrollbar {display: none;}

.sec-main .acco {width: 342px;margin: 0 auto;position: relative;}
.sec-main .acco {margin-top: 16px; margin-bottom: 32px;}
.sec-main .acco .serv-list-1 {transition: .5s; margin-bottom: 8px;}
.sec-main .acco .serv-list-1 .serv-1 {display: none;}
.sec-main .acco .serv-list-1 .serv-1-big {display: block;}
.sec-main .acco .serv-list-2 {transition: .5s; margin-bottom: 8px;}
.sec-main .acco .serv-list-2 .serv-2 {display: block;}
.sec-main .acco .serv-list-2 .serv-2-big {display: none;}
.sec-main .acco .serv-list-3 {}
.sec-main .acco .serv-list-3 .serv-3 {display: block;}
.sec-main .acco .serv-list-3 .serv-3-big {display: none;}

.sec-chat-full  {margin-bottom: 124px;}
.sec-chat-full .chat-bottom {position: fixed; bottom: 0;}
.sec-chat-full .location-cont {position: relative; width: 390px; height: 40px; margin-top: 16px; margin-bottom: 56px;}
.sec-chat-full .location {position: absolute; width: 390px; height: 40px; overflow-x: auto; font-size: 0; display: flex; padding-left: 24px;}
.sec-chat-full .location::-webkit-scrollbar {display: none;}
.sec-chat-full .hashtag-cont {position: relative; width: 390px; height: 40px; margin-top: 16px; margin-bottom: 56px;}
.sec-chat-full .hashtag {position: absolute; width: 700px; height: 40px; overflow-x: auto; font-size: 0; display: flex; padding-left: 24px;}
.sec-chat-full .hashtag::-webkit-scrollbar {display: none;}

.sec-no-member .no-mem-acco {width: 342px; margin: 0 auto; position: relative;}
.sec-no-member .no-mem-acco .reason-list {margin-bottom: 8px;}
.sec-no-member .no-mem-acco .reason-1 {display: none;}
.sec-no-member .no-mem-acco .reason-1-big {display: block;}
.sec-no-member .no-mem-acco .reason-2 {display: block;}
.sec-no-member .no-mem-acco .reason-2-big {display: none;}
.sec-no-member .no-mem-acco .reason-3 {display: block;}
.sec-no-member .no-mem-acco .reason-3-big {display: none;}
.sec-no-member .no-mem-acco .reason-4 {display: block;}
.sec-no-member .no-mem-acco .reason-4-big {display: none;}

.sec-no-member .swiper-container {text-align: center;}
.sec-no-member .swiper-container .swiper-wrapper .swiper-slide img{border-radius: 14px; box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);}