body, html {width: 390px; max-width: 390px; text-align: center; margin: 0 auto; overflow-x: hidden;}
img {width: 100%;}

.wrap {position: absolute;}
.header {position: fixed; width: 390px; top: 0; left: 50%; transform: translateX(-50%); z-index: 10;}
.header.off {display: none;}
.click-container {position: fixed; width: 390px; height: 150px; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9; display: flex;}
.click-container div {flex: 0.2; max-width: 300px;}
.click-container .center {flex: 0.8} 
.click-container .left {text-align: left; cursor: pointer;}
.click-container .right {text-align: right; cursor: pointer;}

.signup {width: 390px;}
.signup.off {display: none;}

.splash {width: 390px; position: absolute; top: 0; left: 0; opacity: 0; transition: all ease-in-out 1s;}
.splash.on {opacity: 1;}

.liiv {position: absolute; top: 0; left: 0; width: 390px; display: none; background-color: #FCFAF6; overflow-x: hidden;}
.liiv.on {display: block;}
.header2 {position: fixed; width: 390px; top: 0; left: 50%; transform: translateX(-50%); z-index: 100; background-color: #fff;}
.header2.off {display: none;}
.header2 .more {position: fixed; top: 70px; right: 6%; width: 20px; z-index: 100; cursor: pointer;}

.liiv .liivImg {margin-bottom: 60px;}
.hart {position: absolute; animation-name: hart; animation-duration: 1s; animation-iteration-count: infinite; animation-direction: alternate; transition: all ease-in-out 1s;}
@keyframes hart {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(30%);
  }
}
.hart.n1 {top: 4%; left: 39%; width: 23px;}
.hart.n2 {top: 4.5%; left: 10%; width: 15px;}
.hart.n3 {top: 5.5%; left: 14%; width: 6px;}

.button-container {width: 210px; position: absolute; top: 16%; left: 50%; transform: translate(-50%, -50%); z-index: 10;}
.button-container .login {margin-top: 10px; cursor: pointer;}

.swiper-container {width: 100%; text-align: center; position: absolute; top: 29%; z-index: 10;}
.swiper-container .swiper-wrapper .swiper-slide {width: 300px !important; max-height: 465px; text-align: center; position: relative; box-shadow: 10px 10px 32px  rgba(204, 208, 219, 0.3); border-radius: 15px;}
.swiper-slide.n1 .n1 {position: absolute; top: 28%; left: 15%; width: 86px; animation-name: motion; animation-duration: 1s; animation-iteration-count: infinite; animation-direction: alternate;}
.swiper-slide.n1 .n2 {position: absolute; top: 28%; left: 60%; width: 75px; animation-name: motion; animation-duration: 1s; animation-iteration-count: infinite; animation-direction: alternate; animation-delay: 0.3s;}
.swiper-slide.n1 .n3 {position: absolute; top: 55%; left: 13%; width: 17px; animation-name: motion; animation-duration: 1s; animation-iteration-count: infinite; animation-direction: alternate;}
.swiper-slide.n1 .n4 {position: absolute; top: 61%; left: 60%; width: 8px; animation-name: motion; animation-duration: 0.5s; animation-iteration-count: infinite; animation-direction: alternate; animation-delay: 0.3s;}
.swiper-slide.n2 .n1 {position: absolute; top: 32%; left: 60%; width: 83px; animation-name: motion; animation-duration: 1s; animation-iteration-count: infinite; animation-direction: alternate;}
.swiper-slide.n3 .n1 {position: absolute; top: 30%; left: 11%; width: 98px; animation-name: motion; animation-duration: 1s; animation-iteration-count: infinite; animation-direction: alternate;}
@keyframes motion {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(20%);
  }
}
.slide-container {position: absolute; top: 74%; width: 390px; height: 240px; z-index: 10;}
.slide {position: absolute; width: 390px; height: 240px; overflow-x: auto; font-size: 0; display: flex; padding-left: 24px; padding-right: 24px;}
.slide img {width: auto;}
.slide::-webkit-scrollbar {display: none;}
.slide_bottom {position: absolute; top: 83%; width: 80px; left: 55px;}
.liiv_footer {width: 390px; position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); display: none; z-index: 10;}
.liiv_footer.on {display: block;}
.liiv_footer .chat {position: fixed; bottom: 160px; left: 63%; transform: translateX(-50%); width: 232px; z-index: 10;}
.liiv_footer .chatImg {width: 60px; position: absolute; top: 0; right: 0; cursor: pointer;}
.liiv_footer .chat_text {width: 272px; position: absolute; top: -7px; right: 45px; opacity: 0; transition: all ease-in-out 0.3s;}
.liiv_footer .chat_text.on {opacity: 1;}
.liiv_footer .star {position: absolute; bottom: 30.5%; right: 7%; width: 57px; cursor: pointer;}
.menu {position: absolute; top: 0; left: 0; display: none; width: 390px; z-index: 10;}
.menu.on {display: block;}
.menu .close {position: absolute; top: 64px; right: 20px; width: 30px; cursor: pointer;}

.signup_process {position: absolute; top: 0; left: 0; display: none; width: 390px;}
.signup1 {display: block;}
.signup1.off {display: none;}
.signup2 {display: none;}
.signup2.on {display: block;}
.signup3 {display: none;}
.signup3.on {display: block;}
.signup4 {display: none;}
.signup4.on {display: block;}
.signup_process.on {display: block;}
.input {position: absolute; top: 27%; left: 50%; transform: translateX(-50%); width: 310px; height: 347.5px;}
.input ul {width: 100%; height: 100%;}
.input ul li {display: inline-block; position: relative; width: 100%;cursor: pointer;}
.signup1 ul li:nth-child(2) {margin: 10px 0;}
.step_on {display: none; box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); border-radius: 20px;}
.input ul li.on .step_on {display: block;}
.input ul li.on .default {display: none;}
.next {position: absolute; bottom: 35px; right: 20px; width: 291.5px; height: 60px;}
.next_button {width: 60px; position: absolute; top: 0; right: 0;}
.next_on_online {display: none;}
.next_on_online.on {display: block;}
.next_button.off {display: none;}

.signup2 .input,
.signup3 .input {top: 27%; left: 50%; width: 310px;}
.signup2 .input ul li,
.signup3 .input ul li {display: inline-block; width: 150px;}
.signup2 .next,
.signup3 .next {width: 60px;}