@charset"utf-8";

/* mainB_1 */
html {font-size:calc(100vw*10/1920); overflow-x:hidden}
body {background-color:#191919}
@media (min-width:1920px){
  html {font-size:10px}
}
.wrap {background-color:#191919}

.header {position:fixed; top:0; left:0; right:0; height:10rem; z-index:1000}
.header-inner {position:relative; width:100%; max-width:192rem; height:100%; margin:0 auto}
.header-inner > img {display:block; width:auto; height:100%}
.header .logo {position:absolute; display:block; width:21.8rem; height:3.1rem; top:3.4rem; left:6rem}

#fp-nav {top:calc(50% - 9.5rem); right:6rem!important; margin-top:0!important}
#fp-nav ul li {width:auto; height:auto; margin:0}
#fp-nav ul li + li {margin-top:4.2rem}
#fp-nav ul li a {display:flex; align-items:center; justify-content:center}
#fp-nav ul li a span {position:static; width:1.8rem; height:1.6rem; margin:0; border-radius:0!important; background:url(../images/a-nav-bullet.svg) no-repeat center / contain}
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span {background:url(../images/a-nav-bullet-on.svg) no-repeat center / contain}
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span {width:1.8rem!important; height:1.6rem!important; margin:0!important}

.section1 {overflow:hidden}
.section1 .mask-area {position:absolute; left:0; right:0; top:0; bottom:0; background:url(../images/a-main-mask3.svg) no-repeat center / 100% auto}
@media (min-width:1920px){
  .section1 .mask-area {max-width:1920px; margin:0 auto}
  .section1 .mask-area::before {content:''; display:block; position:absolute; left:-100%; top:0; bottom:0; width:100%; background:#191919}
  .section1 .mask-area::after {content:''; display:block; position:absolute; right:-100%; top:0; bottom:0; width:100%; background:#191919}
}
.section1 .loading-txt {position:absolute; width:54.5rem; height:10.9rem; top:calc(50% - 4rem); right:calc(50% + 9.9rem)}
.section1 .loading-txt > img {display:block; width:100%; height:100%}

.section1 .video-area {width:100%; height:100%}
.section1 .video-wrap {position:relative; width:100%; height:100%; overflow:hidden}
.section1 .video-wrap .main-video {position:absolute; width:100%; height:auto; top:50%; left:0; right:0; transform:translateY(-50%)}
@media (max-width:1920px){
  .section1 .video-wrap .main-video {width:auto; height:100%; top:0; bottom:0; left:50%; right:auto; transform:translate(-50%,0)}
}
.section1 .video-wrap .video-dim {position:absolute; left:0; right:0; top:0; height:100%; background:rgba(0,0,0,0.5)}
.section1 .main-txt-area {position:absolute; top:0; left:0; right:0; bottom:0}
.section1 .main-txt {position:absolute; width:68rem; top:50%; left:50%; transform:translate(-50%, -50%); display:none}
.section1 .main-txt > img {display:block; width:100%}
.section1 .arrow-down {position:absolute; width:10.475rem; height:10.475rem; left:6rem; bottom:6rem; z-index:50}
.section1 .arrow-down > a {position:relative; display:block; width:100%; height:100%}
.section1 .arrow-down img {position:absolute; display:block; width:1.981rem; height:261.6rem; top:50%; left:50%; transform:translate(-50%,-50%)}
.section1 .arrow-down::before {content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/a-rotate.svg) no-repeat center / contain; animation:rotate 10s linear infinite}

.section3-slide {position:relative; width:100%; height:100%; margin:0 auto}
.section3-slide .video-wrap {position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0; overflow:hidden}
.section3-slide .video-wrap .slide-video {position:absolute; width:100%; height:auto; top:50%; left:0; right:0; transform:translateY(-50%)}
.section3-slide .video-wrap .video-dim {position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.3)}
.section3-slide .img-wrap {position:absolute; width:100%; max-width:192rem; height:100%; top:0; left:50%; bottom:0; transform:translateX(-50%); overflow:hidden}
.section3-slide .img-wrap > img {position:absolute; display:block; width:auto; max-width:192rem; height:100%; top:0; bottom:0; left:50%; transform:translateX(-50%)}
.section3-slide .control-bar {position:absolute; display:flex; align-items:center; justify-content:space-between; max-width:192rem; height:6.8rem; left:0; right:0; bottom:14rem; margin:0 auto; padding:0 34rem; box-sizing:border-box}
.section3-slide .control-bar .btns {display:flex; justify-content:center; align-items:center; border:none; background:none}
.section3-slide .control-bar [class^="btn-"] {width:6.8rem; height:6.8rem; border:0.1rem solid rgba(255,255,255,0.35); border-radius:50%; background:url(../images/a-btn-prev.svg) no-repeat center / contain; z-index:50; cursor:pointer; box-sizing:border-box; transition:border-color 0.4s}
.section3-slide .control-bar [class^="btn-"]:hover {border-color:#fff}
.section3-slide .control-bar .btn-next {transform:rotate(180deg)}
.section3-slide .control-bar .progress-bar {position:relative; width:calc(100% - 19.6rem); height:0.1rem; background-color:rgba(255,255,255,0.5); z-index:100}
.section3-slide .control-bar .progress-bar span {position:absolute; top:0; left:0; height:0.1rem; background-color:#DBFC00}
.section3-slide .control-bar .progress-bar.active span {animation:coolTime linear 9s}

.section2 {position:relative}
.section2 .bg {position:relative; width:100%; max-width:192rem; height:100%; max-height:97rem; margin:0 auto; background:url(../images/a-section2.svg) no-repeat center / 100% auto; z-index:1}
.section2 .shape {position:absolute; width:10rem; height:10rem}
.section2 .shape.s1 {top:38.4rem; left:34rem; background:url(../images/a-vision-01.gif) no-repeat center / contain}
.section2 .shape.s2 {top:38.4rem; left:96rem; background:url(../images/a-vision-02.gif) no-repeat center / contain}
.section2 .shape.s3 {top:65.2rem; left:34rem; background:url(../images/a-vision-03.gif) no-repeat center / contain}
.section2 .shape.s4 {top:65.2rem; left:96rem; background:url(../images/a-vision-04.gif) no-repeat center / contain}

.section4 {position:relative}
.section4 .bg {width:100%; max-width:192rem; height:100%; margin:0 auto; background:url(../images/a-section4.svg) no-repeat center / 100% auto; z-index:1}

.footer {position:relative; background-color:#000}
.footer .bg {width:100%; max-width:192rem; height:33.2rem; margin:0 auto; background:url(../images/a-footer.svg) no-repeat center bottom / 100% auto; z-index:1}
.footer .arrow-up {position:absolute; width:10.475rem; height:10.475rem; left:6rem; top:6rem; z-index:51}
.footer .arrow-up > a {position:relative; display:block; width:100%; height:100%}
.footer .arrow-up img {position:absolute; display:block; width:1.981rem; height:261.6rem; top:50%; left:50%; transform:translate(-50%,-50%) rotate(180deg)}
.footer .arrow-up::before {content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/a-rotate.svg) no-repeat center / contain; animation:rotate 10s linear infinite}

@keyframes mousePop {
  68% {height:5rem; top:7.2rem}
  76% {height:5.5rem; top:7.2rem}
  84%, 92% {height:5rem; top:10.8rem}
}

@keyframes nudgeMouse {
  0% {-webkit-transform:translateY(0); transform:translateY(0)}
  45% {-webkit-transform:translateY(3.6rem); transform:translateY(3.6rem)}
  65%, 100% {-webkit-transform:translateY(0); transform:translateY(0)}
}

@keyframes coolTime {
  0% {width:0}
  100% {width:100%}
}

@keyframes rotate {
  0% {transform:rotate(0)}
  100% {transform:rotate(360deg)}
}