@charset"utf-8";

/* mainA_1 */
html {font-size:calc(100vw*10/1920); overflow-x:hidden}
/* @media (min-width:1920px){
  html {font-size:10px}
} */
html::-webkit-scrollbar {display:none}
html.fixed {position:fixed; overflow:hidden; top:0; left:0; right:0; bottom:0}
.wrap {background-color:#000}
.main {width:100%; /*max-width:1920px; margin:0 auto;*/}
.main.draft .section {width:100%}

.section.ani-01 {height:auto}
.ani-01 .header {position:fixed; top:0; left:0; right:0; width:100%; max-width:192rem; margin:0 auto; z-index:1000}
.ani-01 .header-inner {position:relative; height:100vh}
.ani-01 .logo {position:absolute; width:100%; top:auto; left:0; bottom:6rem; opacity:0; z-index:100}
.ani-01 .logo > img {display:block; width:100%; max-width:156rem; margin:0 auto}
.ani-01 .logo img.logo2 {margin-top:1.2rem; opacity:0}
.ani-01 .nav {position:absolute; width:57.1rem; top:5.7rem; right:31rem; opacity:0; z-index:101}
.ani-01 .nav > img {display:block; width:100%}
.ani-01 .ani-area {position:absolute; left:0; right:0; top:0; display:flex; align-items:center; width:100%; max-width:192rem; height:100vh; margin:0 auto; padding:0 5.5rem}
.ani-01 .ani-area .icon-x {width:5rem; height:5rem; margin-right:1.6rem; background:url(../images/plus.svg) no-repeat center / contain}
.ani-01 .ani-area .txt {color:#fff; font-size:5rem; font-weight:bold; line-height:7rem}
.ani-01 .ani-area .txt1 {transform:translateX(100%); opacity:0}
.ani-01 .ani-area .txt img {display:block; height:4.9rem}
.ani-01 .ani-area .txt2 {display:flex}
.ani-01 .ani-area .txt2-1 {display:flex; transform:translateX(100%); opacity:0}
.ani-01 .ani-area .txt2-2 {margin-left:-0.6rem; transform:translateX(100%); opacity:0}

.ani-01 .video-area {display:none; position:relative; height:370vh}
.ani-01 .video-area .video-wrap {position:sticky; height:100vh; top:0; overflow:hidden}
.ani-01 .video-area .main-video {position:absolute; width:100%; height:auto; top:50%; left:0; right:0; transform:translateY(-50%)}
@media (max-width:1920px){
  .ani-01 .video-area .main-video {width:auto; height:100%; top:0; bottom:0; left:50%; right:auto; transform:translate(-50%,0)}
}
.ani-01 .video-area .video-dim {position:absolute; left:0; right:0; top:0; height:100vh; background:linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0), rgba(0,0,0,0), rgba(1,0,0,1) 90%)}
.ani-01 .video-area .video-dim2 {position:absolute; left:0; right:0; top:0; height:100vh; mix-blend-mode:multiply}
/* .ani-01 .video-area .video-dim.active {mix-blend-mode:multiply; background:linear-gradient(to bottom, rgba(0,0,0,1) 10%, #DBFC00, rgba(1,0,0,1) 100%)} */

.ani-01 .main-txt-area {position:absolute; height:100vh; top:0; left:0; right:0}
.ani-01 .main-txt {position:absolute; width:78.2rem; top:50%; left:50%; transform:translate(-50%, -50%); opacity:0}
.ani-01 .main-txt > img {display:block; width:100%}
.ani-01 .main-txt-area2 {position:sticky; height:100vh; top:0; left:0; right:0}
.ani-01 .main-txt2 {position:absolute; height:36rem; top:50%; transform:translate(20%,-50%)}
.ani-01 .main-txt2 > img {display:block; height:100%}
.ani-01 .arrow-down {position:absolute; width:5rem; height:5rem; left:50%; top:calc(100vh - 11rem); transform:translateX(-50%); opacity:0; animation:nudgeMouse 2s cubic-bezier(0.250,0.460,0.450,0.940) infinite}
.ani-01 .arrow-down > img {display:block; width:100%}

.section2 {height:auto; padding:8rem 0; opacity:0}
.section2 .list-area {position:sticky; top:0; display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%}
.section2 .list-items {width:100%; max-width:192rem; margin:0 auto; border-top:1px solid #707070; border-bottom:1px solid #707070}
.section2 .list-items > li {position:relative; display:flex; align-items:center; height:17rem; cursor:pointer}
.section2 .list-items > li + li {border-top:1px solid #707070}
.section2 .list-items > li img {position:absolute}
.section2 .list-items > li:hover .default {display:none}
.section2 .list-items > li img.active {opacity:0}
.section2 .list-items > li:hover img.active {opacity:1; transition:opacity 0.6s}
.section2 .list-items .item1 img.default {left:32rem}
.section2 .list-items .item1 img.active {left:31rem}
.section2 .list-items .item2 img.default {right:31.5rem}
.section2 .list-items .item2 img.active {right:31.4rem}
.section2 .list-items .item3 img.default {left:47rem}
.section2 .list-items .item3 img.active {left:37rem}
.section2 .list-items .item4 img.default {right:46rem}
.section2 .list-items .item4 img.active {right:36rem}
.section2 .list-items img.default {height:8.5rem}
.section2 .list-items img.active {height:5.1rem}
.section2 .list-items .item3 img.default {height:10rem}
.section2 .list-items > li::after {opacity:0}
.section2 .list-items > li:hover::after {opacity:1; transition:opacity 0.6s}
.section2 .list-items .item1::after {content:''; display:block; position:absolute; width:15.9rem; height:15.8rem; top:-2.4rem; left:17rem; background:url(../images/shape1.svg) no-repeat center / contain}
.section2 .list-items .item2::after {content:''; display:block; position:absolute; width:14.8rem; height:14.1rem; top:-4.2rem; right:20.5rem; background:url(../images/shape2.svg) no-repeat center / contain}
.section2 .list-items .item3::after {content:''; display:block; position:absolute; width:15.1rem; height:14.9rem; top:-3.3rem; left:24.1rem; background:url(../images/shape3.svg) no-repeat center / contain}
.section2 .list-items .item4::after {content:''; display:block; position:absolute; width:14.2rem; height:14.5rem; top:-4.2rem; right:24rem; background:url(../images/shape4.svg) no-repeat center / contain}

.section3 {position:relative; height:auto; max-height:97rem}
.trigger {position:absolute; top:0}
.section3 .txt-area {display:flex; justify-content:center; align-items:center; width:100%; height:auto; margin:220px 0 300px; opacity:0}
.section3 .txt-area > img {width:72.5rem}

.section4 .slide-area {display:flex; justify-content:center; align-items:center; width:100%; height:100%; max-height:90rem}
.section4-slide {position:relative; width:100%; max-width:192rem; height:100%; margin:0 auto}
.section4-slide .video-wrap {position:relative; width:100%; height:90rem; overflow:hidden}
/* .section4-slide .video-wrap {position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0; overflow:hidden} */
.section4-slide .video-wrap .slide-video {position:absolute; width:100%; height:auto; top:50%; left:0; right:0; transform:translateY(-50%)}
.section4-slide .video-wrap .video-dim {position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.6)}
.section4-slide .img-wrap {position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0; overflow:hidden}
.section4-slide .img-wrap > img {position:absolute; display:block; width:auto; max-width:192rem; height:100%; top:0; bottom:0; left:50%; transform:translateX(-50%)}
.section4-slide .img-wrap .img-dim {position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.6)}
.section4-slide .btn-prev {position:absolute; width:5rem; height:5rem; top:calc(50% - 2.5rem); left:4rem; background:url(../images/slide-arrow.svg) no-repeat center / contain; z-index:50; cursor:pointer}
.section4-slide .btn-next {position:absolute; width:5rem; height:5rem; top:calc(50% - 2.5rem); right:4rem; background:url(../images/slide-arrow.svg) no-repeat center / contain; z-index:50; transform:rotate(180deg); cursor:pointer}

.section5 {position:relative; height:100vh; max-height:103.8rem}
.section5 .bg {width:100%; max-width:192rem; height:100%; margin:0 auto; background:url(../images/section5.svg) no-repeat center bottom / 100% auto}
.section5 .footer-txt {position:absolute; height:5rem; left:0; right:0; bottom:0; background:#005EFF url(../images/footer-txt.svg) repeat-x center / auto 100%; animation:footerTxt both linear infinite 50s}

@keyframes nudgeMouse{
  0% {-webkit-transform:translateY(0); transform:translateY(0)}
  45% {-webkit-transform:translateY(1rem); transform:translateY(1rem)}
  65%, 100% {-webkit-transform:translateY(0); transform:translateY(0)}
}

@keyframes footerTxt {
  0% {background-position:0 center}
  100% {background-position:-240rem center}
}